Repository wireapp/kalium, pull requests merged in 2022-12, with the labels that each got.

#1172 test: token refresh while downloading assets
  network/src/commonTest/kotlin/com/wire/kalium/api/common/SessionManagerTest.kt
Labels: 👕 size: S, type: test 👷

#1173 feat: restrict connecting to production when development API is enabled
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/autoVersioningAuth/AutoVersionAuthScopeUseCase.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#1178 fix(notifications): set connections and conversations notif flag in single query (AR-2771)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Connections.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConnectionDaoTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1179 refactor: cleanup proto content mapper
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: M

#1181 feat: user config read receipts test coverage (AR-2711)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/properties/UserPropertyRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/readReceipts/ObserveReadReceiptsEnabledUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/readReceipts/PersistReadReceiptsStatusConfigUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/properties/UserPropertyRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/ObserveReadReceiptsEnabledUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/PersistReadReceiptsStatusConfigUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/UserPropertiesEventReceiverTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/config/UserConfigStorageTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1183 feat: receive receipts (AR-2678)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/receipt/ReceiptRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/message/ReceiptMessageHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/receipt/ReceiptRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/ObserveMessageReceiptsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/stub/ReceiptRepositoryStub.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ReceiptMessageHandlerTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/receipt/ReceiptDAO.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/receipt/ReceiptDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1176 feat: user config read receipts (AR-2711)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/properties/UserPropertyRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/readReceipts/ObserveReadReceiptsEnabledUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/readReceipts/PersistReadReceiptsStatusConfigUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessor.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/UserPropertiesEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/properties/UserPropertyRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/ObserveReadReceiptsEnabledUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/PersistReadReceiptsStatusConfigUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/UserPropertiesEventReceiverTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/notification/EventContentDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/properties/PropertiesApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/PropertiesApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/networkContainer/AuthenticatedNetworkContainerV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/authenticated/PropertiesApiV2.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/authenticated/networkContainer/AuthenticatedNetworkContainerV2.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/PropertiesApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/networkContainer/AuthenticatedNetworkContainerV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/AuthenticatedNetworkContainer.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/config/UserConfigStorage.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/config/UserConfigStorageTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#1180 fix: received messages are in bad order [AR-2473]
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/db_user/migrations/11.sqm
  persistence/src/commonMain/db_user/schemas/12.db
Labels: type: bug / fix 🐞, 👕 size: M

#1146 fix: Duplicated calling system messages (AR-2744)
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCall.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnMissedCall.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/mapper/CallMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/Call.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallMapperTest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCall.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnMissedCall.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/call/CallDAO.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M, DO NOT MERGE

#1186 fix: crash when inserting receipts of unknown messages
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Receipts.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/receipt/ReceiptDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/receipt/ReceiptDAOTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1195 test: fix flaky tests using UnconfinedTestDispatcher
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 👕 size: S, type: test 👷

#1194 chore: add convention plugins to simplify module setup
  .github/workflows/gradle-android-tests.yml
  buildSrc/build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/KaliumBuild.kt
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/CommonAndroidConfig.kt
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/CommonJvmConfig.kt
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/LibraryPlugin.kt
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/Multiplatform.kt
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/commonJsConfig.kt
  calling/build.gradle.kts
  cryptography/build.gradle.kts
  cryptography/src/androidTest/kotlin/com/wire/kalium/cryptography/BaseMLSClientTest.kt
  cryptography/src/androidTest/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
  gradle/libs.versions.toml
  logger/build.gradle.kts
  logic/build.gradle.kts
  network/build.gradle.kts
  network/src/androidAndroidTest/kotlin/com/wire/kalium/api/tools/IgnoreIOS.kt
  persistence-test/build.gradle.kts
  persistence/build.gradle.kts
  protobuf/build.gradle.kts
  util/build.gradle.kts
  util/src/androidTest/kotlin/com/wire/kalium/util/string/IgnoreIOS.kt
  util/src/androidTest/kotlin/com/wire/kalium/util/string/IgnoreJS.kt
Labels: 👕 size: XL, type: chore 🧹

#1196 ci: suppress detekt warnings for generated files
  detekt/baseline.xml
  detekt/detekt.yml
Labels: 👕 size: M

#1192 refactor: inject cached user team id into DeleteTeamConversationUseCase
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/team/TeamRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/DeleteTeamConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/TeamScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/team/TeamRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/team/DeleteTeamConversationUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: refactoring 🛠

#1187 refactor: remove unqualifiedConversationID from message content
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ClearConversationContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationReadDateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/message/ClearConversationContentHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/message/DeleteForMeHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/message/LastReadContentHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandlerTest.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: M

#1200 refactor: use clientIdProvider to get cached value
  logic/src/androidAndroidTest/kotlin/com/wire/kalium/logic/feature/call/CallManagerTest.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/MLSClientProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/keypackage/KeyPackageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/NeedsToRegisterClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ClearConversationContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/CreateGroupConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationReadDateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/keypackage/MLSKeyPackageCountUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/keypackage/RefillKeyPackageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendKnockUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/keypackage/KeyPackageRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/NeedsToRegisterClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ClearConversationContentUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/CreateGroupConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/keypackage/MLSKeyPackageCountUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/keypackage/RefillKeyPackageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SendKnockUserCaseTest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: M

#1198 refactor: propagate self user role from the database
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationDetailsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversationDetails.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/migrations/13.sqm
  persistence/src/commonMain/db_user/schemas/14.db
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: M

#1182 fix: Added mechanism to check downloaded assets hashes match to uploaded one [AR-2509]
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/utils/CryptoUtils.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/AssetRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/DownloadAssetMessageMetadata.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/GetMessageAssetUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/asset/AssetRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/GetMessageAssetUseCaseTest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/data/asset/KaliumFileSystemImpl.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/AssetApiV0.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1202 fix: handle MLS enabled on the client but disabled on backend AR-2803
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/IsAllowedToRegisterMLSClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/MLSClientManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/IsMLSEnabledUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/MLSClientManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1206 fix: handle 404 notification errors in all API versions
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/NotificationApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/NotificationApiV3.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/notification/NotificationApiV0Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v3/notification/NotificationApiV3Test.kt
Labels: type: bug / fix 🐞, 👕 size: M

#1169 feat: CheckIfAppFreshEnoughUseCase
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/GlobalKaliumScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/appVersioning/AppVersionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/ServerConfig.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/ServerConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/session/SessionMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/appVersioning/CheckIfUpdateRequiredUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/appVersioning/ObserveIfAppUpdateRequiredUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/AuthenticationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/session/GetProxyCredentialsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/functional/Flow.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/configuration/ServerConfigMapperTest.kt
  network/src/commonJvmAndroid/kotlin/com/wire/kalium/network/api/base/unauthenticated/appVersioning/AppVersionBlackListResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unauthenticated/appVersioning/AppVersionBlackListResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unauthenticated/appVersioning/AppVersioningApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV2.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/UnauthenticatedNetworkContainer.kt
  network/src/iosX64Main/kotlin/com/wire/kalium/network/api/base/unauthenticated/appVersioning/AppVersionBlackListResponse.kt
  persistence/src/commonMain/db_global/com/wire/kalium/persistence/ServerConfiguration.sq
  persistence/src/commonMain/db_global/migrations/5.sqm
  persistence/src/commonMain/db_global/schemas/6.db
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/daokaliumdb/ServerConfigurationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/model/ServerConfigWithUserIdEntity.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1203 feat: Reset session - Part 1 : add deleteSession to ProteusClient
  cryptography/src/androidMain/kotlin/com/wire/kalium/cryptography/ProteusClientCryptoBoxImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientCoreCryptoImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/ProteusClient.kt
  cryptography/src/iosX64Main/kotlin/com/wire/kalium/cryptography/ProteusClientImpl.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/ProteusClientImpl.kt
  cryptography/src/jvmMain/kotlin/com/wire/kalium/cryptography/ProteusClientCryptoBoxImpl.kt
Labels: 👕 size: S, type: feature ✨

#1204 feat: send confirmation receipts 1:1 conversations (part 1)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/AssetMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/properties/UserPropertyRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/ScheduleNewAssetMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MLSMessageCreator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageEnvelopeCreator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendConfirmationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendTextMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/MessageRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/protobuf/ProtoContentReactionMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/properties/UserPropertyRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/ScheduleNewAssetMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SendConfirmationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SendTextMessageCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ProteusMessageUnpackerTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/db_user/migrations/15.sqm
  persistence/src/commonMain/db_user/schemas/16.db
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/MessageStubs.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#1209 fix: access role v3 API change and remain compatible with legacy access_role field
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/model/ConversationAccessInfoDTO.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/base/authenticated/notification/AccessUpdateTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1193 feat: send read and delivered confirmation signal (epic)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/AssetMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/receipt/DetailedReceipt.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/receipt/ReceiptsMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/properties/UserPropertyRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/ScheduleNewAssetMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationReadDateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MLSMessageCreator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageEnvelopeCreator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendConfirmationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendTextMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/MessageRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/protobuf/ProtoContentReactionMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/receipt/ReceiptsMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/properties/UserPropertyRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/ScheduleNewAssetMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SendConfirmationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SendTextMessageCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ProteusMessageUnpackerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ReceiptMessageHandlerTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/db_user/migrations/15.sqm
  persistence/src/commonMain/db_user/schemas/16.db
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/MessageStubs.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: XXL

#1212 fix: do not overwrite message data (AR-2764)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/MessageRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/receipt/ReceiptRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/reaction/ReactionRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ReceiptMessageHandlerTest.kt
  persistence/src/androidAndroidTest/kotlin/com/wire/kalium/persistence/dao/message/MessageExtensionsTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOBenchmarkTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageMentionsTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageReactionsTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageReplyTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/reaction/ReactionDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/receipt/ReceiptDAOTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1191 chore: update v3 api for access role changes AR-2775
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/CreateConversationRequest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/UpdateConversationAccessRequest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/UpdateConversationAccessResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/model/ConversationAccessInfoDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/model/ApiModelMapper.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ConversationApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/ConversationApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/networkContainer/AuthenticatedNetworkContainerV3.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/conversation/ConversationApiV0Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v3/ConversationApiV3Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/NotificationEventsResponseJson.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/conversation/ConversationResponseJson.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/conversation/CreateConversationRequestJson.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/conversation/UpdateConversationAccessRequestJson.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: chore 🧹

#1213 feat: reset session - PART 2 : mark messages as resolved (AR-2687)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ResolveFailedDecryptedMessagesUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/NewMessageEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/ResolveFailedDecryptedMessagesUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/db_user/migrations/16.sqm
  persistence/src/commonMain/db_user/schemas/17.db
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1216 chore: set remote api v2 as stable
  network/src/commonMain/kotlin/com/wire/kalium/network/BackendMetaDataUtil.kt
Labels: type: chore 🧹, 👕 size: XS

#1207 fix: changing conversation options are displayed for personal users
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationOptions.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/CreateGroupConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/TeamScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/IsSelfATeamMemberUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/CreateGroupConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/IsSelfATeamMemberUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1184 feat: send signal messages via MLS self conversation when enabled AR-2762
  cli/build.gradle.kts
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
  cli/src/main/kotlin/com/wire/kalium/cli/commands/CreateGroupCommand.kt
  cli/src/main/kotlin/com/wire/kalium/cli/commands/MarkAsReadCommand.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/cache/SelfConversationIdProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/IsMessageSentInSelfConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ClearConversationContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationReadDateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/message/ClearConversationContentHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/message/DeleteForMeHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/message/LastReadContentHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/message/MessageTextEditHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/message/ReceiptMessageHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/cache/SelfConversationIdProviderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ClearConversationContentUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/MessageTextEditHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ReceiptMessageHandlerTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#1222 feat: reset session - PART 4: map senderUserId and clientId in failed message
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ResolveFailedDecryptedMessagesUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/sessionreset/ResetSessionUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/NewMessageEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/ResolveFailedDecryptedMessagesUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1221 fix: update group state after joining via external commit AR-2506
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1223 fix(notification): show group name in the message notification (AR-2820)
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/db_user/migrations/18.sqm
  persistence/src/commonMain/db_user/schemas/19.db
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1215 feat: reset session - PART 3 : add reset session usecase
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/ProteusClient.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ResolveFailedDecryptedMessagesUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SessionResetSender.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/sessionreset/ResetSessionUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/NewMessageEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/ResolveFailedDecryptedMessagesUseCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/MessageApiV0.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1225 fix(notification): stop receiving notifications when user is away (AR-2818)
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/db_user/migrations/19.sqm
  persistence/src/commonMain/db_user/schemas/20.db
Labels: 👕 size: S, type: bug / fix 🐞

#1226 feat: handle pings and replies in notifications
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/notification/LocalNotification.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/db_user/migrations/20.sqm
  persistence/src/commonMain/db_user/schemas/21.db
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1227 fix: app displaying 2 heart reactions for reactions from web client
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1228 chore: add missing module for kdocs and extract tasks to makefiles
  .github/workflows/codestyle.yml
  .github/workflows/generate-dokka.yml
  .github/workflows/gradle-jvm-tests.yml
  Makefile
  gradle/dokka.gradle
  scripts/bootstrap.mk
  scripts/dev.mk
  scripts/release.mk
Labels: type: chore 🧹, 👕 size: M

#1218 feat: group read receipts - part 2 - handle websocket event for receipt mode update
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ReceiptModeMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/ReceiptModeUpdateEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ReceiptModeMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/ReceiptModeUpdateEventHandlerTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/model/ConversationReceiptModeDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/notification/EventContentDTO.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#1229 test: cover reset session with unit test
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SessionResetSender.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/sessionreset/ResetSessionUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SessionResetSenderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/session/CurrentSessionFlowUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/session/CurrentSessionUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/session/DeleteSessionUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/sessionreset/ResetSessionUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestClient.kt
Labels: 🚨 Potential breaking changes, 👕 size: L, type: test 👷

#1097 feat: Create and restore backup (AR-1421)
  .github/workflows/gradle-android-tests.yml
  buildSrc/src/main/kotlin/Android.kt
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/CommonAndroidConfig.kt
  cryptography/build.gradle.kts
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/utils/AESUtils.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/utils/CryptoUtils.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/backup/BackupCoder.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/backup/BackupHeader.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/backup/Passphrase.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/utils/ChaCha20Decryptor.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/utils/ChaCha20Encryptor.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/utils/LibsodiumInitializer.kt
  cryptography/src/jvmTest/kotlin/com/wire/kalium/cryptography/utils/ChaCha20CoderTest.kt
  detekt/detekt.yml
  gradle/libs.versions.toml
  logic/build.gradle.kts
  logic/src/androidMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/data/asset/KaliumFileSystemImpl.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
  logic/src/commonJvmAndroid/kotlin/com.wire.kalium.logic/util/BackupUtils.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/DataStoragePaths.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/KaliumFileSystemImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/BackupConstants.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/BackupMetadata.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/CreateBackupUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/RestoreBackupUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/VerifyBackupUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/util/BackupUtils.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/asset/FakeKaliumFileSystem.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/backup/CreateBackupUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/backup/RestoreBackupUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/backup/VerifyBackupUseCaseTest.kt
  logic/src/iosX64Main/kotlin/com.wire.kalium.logic/util/BackupUtils.kt
  logic/src/jsMain/kotlin/com.wire.kalium.logic/data/asset/KaliumFileSystemImpl.kt
  logic/src/jsMain/kotlin/com.wire.kalium.logic/util/BackupUtils.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/data/asset/KaliumFileSystemImpl.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
  persistence/src/androidAndroidTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/androidAndroidTest/kotlin/com/wire/kalium/persistence/utils/IgnoreJvm.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/backup/DatabaseImporter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/RestoreBackupTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/UserDatabaseDataGenerator.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/IgnoreJvm.kt
  persistence/src/iosX64Main/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/iosX64Test/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/iosX64Test/kotlin/com/wire/kalium/persistence/utils/IgnoreJvm.kt
  persistence/src/iosX64Test/test.db
  persistence/src/jsTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/jsTest/kotlin/com/wire/kalium/persistence/utils/IgnoreJvm.kt
  persistence/src/jvmTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/jvmTest/kotlin/com/wire/kalium/persistence/utils/IgnoreJvm.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: XXL

#1235 fix: flickering in message list due to paging (AR-2848)
  android/build.gradle.kts
  gradle/libs.versions.toml
  logic/src/androidAndroidTest/kotlin/com/wire/kalium/logic/data/message/MessageRepositoryExtensionsTest.kt
  persistence/build.gradle.kts
  persistence/src/androidAndroidTest/kotlin/com/wire/kalium/persistence/dao/message/MessageExtensionsTest.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/dao/message/KaliumPager.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/dao/message/MessageExtensions.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/paging/OffsetQueryPagingSource.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/paging/QueryPagingSource.kt
Labels: type: bug / fix 🐞, 👕 size: M

#1236 chore: upgrade agp to 7.3.1
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#1237 feat: Receive reset session system message (AR-2838)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SessionResetSender.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandler.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#1240 fix: filter own messages as unread [AR-2842]
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
Labels: type: bug / fix 🐞, 👕 size: XS

#1238 fix: assets download endpoint general failures (AR-2784)
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/AssetApiV0.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1243 docs: include samples
  .github/workflows/gradle-android-tests.yml
  .github/workflows/gradle-ios-tests.yml
  .github/workflows/gradle-jvm-tests.yml
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/CommonDokkaConfig.kt
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/Multiplatform.kt
  cli/build.gradle.kts
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/ProteusClient.kt
  cryptography/src/jvmMain/kotlin/com/wire/kalium/cryptography/ProteusClientCryptoBoxImpl.kt
  detekt/detekt.yml
  gradle/dokka.gradle
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendTextMessageUseCase.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  samples/build.gradle.kts
  samples/src/androidMain/AndroidManifest.xml
  samples/src/commonMain/kotlin/samples/cryptography/ProteusClient.kt
  samples/src/jvmMain/kotlin/samples/cryptography/ProteusClientSamples.kt
  samples/src/jvmMain/kotlin/samples/logic/MessageUseCases.kt
  scripts/release.mk
Labels: 🚨 Potential breaking changes, 👕 size: M, type: documentation 📋

#1241 fix: migrating conversations [AR-2837]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/PersistMigratedConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/migration/MigrationScope.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/MigrationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/MigrationDAOTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1232 feat: Send Confirmation for Group Read Receipts
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ReceiptModeMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendConfirmationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/ReceiptModeUpdateEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ReceiptModeMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationAccessUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/ReceiptModeUpdateEventHandlerTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/CreateConversationRequest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ReceiptMode.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/model/ConversationReceiptModeDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/notification/EventContentDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/model/ApiModelMapper.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/ConversationApiV3.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/conversation/ConversationResponseJson.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/migrations/21.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/TableMapper.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/RestoreBackupTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/UserDatabaseDataGenerator.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/ConversationStubs.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#1245 docs: tiny docs generation fix
  build.gradle.kts
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/CommonDokkaConfig.kt
Labels: 👕 size: S, type: documentation 📋

#1246 chore: update KMM settings to 1.0.0-RC
  gradle/libs.versions.toml
  network/src/commonMain/kotlin/com/wire/kalium/network/NetworkClient.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/kmmSettings/EncryptedSettingsHolder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/config/GlobalAppConfigStorageTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/config/UserConfigStorageTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/kmmSettings/KaliumPreferencesTest.kt
  persistence/src/jsMain/kotlin/com/wire/kalium/persistence/kmmSettings/EncryptedSettingsHolder.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/kmmSettings/EncryptedSettingsHolder.kt
Labels: type: chore 🧹, 👕 size: S

#1249 chore: bump AVS version to 9.0.1
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS, DO NOT MERGE

#1252 chore: Revert "chore: bump AVS version to 9.0.1"
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#1253 fix: Message can overwrite content by its ID [AR-2852]
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
Labels: type: bug / fix 🐞, 👕 size: M, DO NOT MERGE

#1260 chore: upgrade libsodium bindings to 0.8.6
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#1263 fix: flow success data are logged
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#1262 chore: enhance affected test run by detecting changes on root settings files
  buildSrc/src/main/kotlin/OnlyAffectedTestTask.kt
  buildSrc/src/main/kotlin/ProjectExtensions.kt
  detekt/detekt.yml
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
Labels: type: chore 🧹, 👕 size: S

#1264 fix: allow to overwrite of asset messages content
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
Labels: 👕 size: S, type: bug / fix 🐞

#1266 fix: only run affected tests fix and simplify shell exec functions
  buildSrc/src/main/kotlin/OnlyAffectedTestTask.kt
  buildSrc/src/main/kotlin/ProjectExtensions.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1265 fix(notification): ignore OneOnOne conversations in busy mode
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
Labels: type: bug / fix 🐞, 👕 size: XS

#1267 test(messages): add tests for message needs notified query
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageNotificationsTest.kt
Labels: 👕 size: M, type: test 👷

#1254 fix: do not print out potentially sensitive data
  buildSrc/src/main/kotlin/ProjectExtensions.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#1272 fix: downgrade to older official release version b/c jitpack.io is unreachable
  testservice/build.gradle.kts
Labels: type: bug / fix 🐞, 👕 size: XS

#1271 fix: assets are not received on v2
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/AssetMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/AssetRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/GetAvatarAssetUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/GetMessageAssetUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ClearConversationContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/asset/AssetRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/GetMessageAssetUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/GetPublicAssetUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ClearConversationContentTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCaseTest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/asset/AssetApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/AssetApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/authenticated/AssetApiV2.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/authenticated/networkContainer/AuthenticatedNetworkContainerV2.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/AssetApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/networkContainer/AuthenticatedNetworkContainerV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/AuthenticatedNetworkContainer.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/common/SessionManagerTest.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/asset/AssetApiV0Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v2/AssetApiV2Test.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/asset/AssetDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/asset/AssetDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#1274 fix: messages randomly not triggering notifications (AR-2867)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MarkMessagesAsNotifiedUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MarkMessagesAsNotifiedUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageLatestTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1273 fix: clear reactions when receiving message edits (AR-2881) (AR-2849)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/message/MessageTextEditHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestMessage.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/MessageTextEditHandlerTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Reactions.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageTextEditTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#1275 fix: Update all assets fields when updating
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
Labels: type: bug / fix 🐞, 👕 size: M

#1276 fix: provide the asset name to the get message asset use case result
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/GetMessageAssetUseCase.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1278 fix(db-migration): check if trigger exist before drop
  persistence/src/commonMain/db_user/migrations/22.sqm
Labels: type: bug / fix 🐞, 👕 size: XS

#1279 fix(notification): filter self message from notifications
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
Labels: type: bug / fix 🐞, 👕 size: XS

#1281 fix: update quoted message id after edit [AR-2844]
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#1282 fix: update last message after last message was deleted [AR-2833]
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
Labels: type: bug / fix 🐞, 👕 size: XS

#1285 fix(mls): show member join/leave system message [AR-2877]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberJoinEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberJoinEventHandlerTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1283 chore: removed usecase from repository layer [AR-2843]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/RenameConversationUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/RenameConversationUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M

#1286 fix: remove @ prefix from the search query when looking for known contacts
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/publicuser/search/SearchKnownUsersUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchKnownUserUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#1284 fix: join group call un-muted by default (AR-2870)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/MuteCallUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/UnMuteCallUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/MuteCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/UnMuteCallUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1287 fix: missed calls notifications (AR-2825)
  logic/src/androidAndroidTest/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCallTest.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCall.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCall.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1290 fix: Conversation api response in v3 api
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationResponse.kt
Labels: type: bug / fix 🐞, 👕 size: XS
