Repository wireapp/kalium, pull requests merged in 2022-08, with the labels that each got.

#733 feat: add update group role use case [AR-1603]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationMemberRoleUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationMemberRoleUseCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationApiImpl.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/model/ConversationMemberRoleDTO.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/conversation/ConversationApiTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Members.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#735 feat: unencrypted shared pref in debug mode
  logic/src/androidMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/kmm_settings/EncryptedSettingsHolder.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/kmm_settings/EncryptedSettingsHolder.kt
Labels: 👕 size: S, type: feature ✨

#734 feat(delete-message): Delete Failed Message (AR-2017)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestMessage.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#727 ci: abort current jobs when updating PR or develop branch
  .github/workflows/gradle-android-tests.yml
  .github/workflows/gradle-ios-tests.yml
  .github/workflows/gradle-jvm-tests.yml
Labels: 👕 size: S

#736 test: refactor DeleteMessageUseCaseTest with Arrangement pattern
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCaseTest.kt
Labels: 👕 size: M, type: test 👷

#720 chore: cleanup deprecated usages of syncmanager
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/GetAllCallsWithSortedParticipantsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/GetIncomingCallsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveEstablishedCallsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveOngoingCallsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/connection/ObserveConnectionListUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetConversationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationDetailsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCaseImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationMembersUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationsAndConnectionsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveUserListByIdUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendTextMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/GetSelfTeamUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/TeamScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/GetSelfUserUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/GetAllCallsWithSortedParticipantsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/GetIncomingCallsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveOngoingCallsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationDetailsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationMembersUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationsAndConnectionsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveMemberDetailsByIdsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: L

#739 fix: stuck processing calling messages in the background (AR-2133)
  buildSrc/src/main/kotlin/Dependencies.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
Labels: 👕 size: S, type: bug / fix 🐞

#712 feat(conversation): RemoveMemberFromConversation usecase (AR-1632)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/RemoveMemberFromConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/AddMemberToConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/RemoveMemberFromConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationApiImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#715 feat: Receive availability status from the others
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MemberMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/id/IdMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/AvailabilityStatusMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/client/ClientDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserClientDAOIntegrationTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#728 feat: remove asset remotely (AR-2034)
  logger/src/commonMain/kotlin/com/wire/kalium/logger/KaliumLogger.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/AssetRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/functional/Either.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestMessage.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/asset/AssetApiImpl.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#723 feat: support lower the key package limits for testing purposes
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/keypackage/KeyPackageLimitsProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/keypackage/RefillKeyPackageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/featureFlags/KaliumConfigs.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/keypackage/RefillKeyPackageUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#725 chore: add verification for shouldRing when incoming call
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnIncomingCall.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#747 fix: restore MLSKeyPackageCountUseCase
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientScope.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#732 feat: remove asset locally (AR-2035)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/AssetRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/asset/AssetRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiverTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/asset/AssetApiImpl.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/asset/AssetApiTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/asset/AssetDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/asset/AssetDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#745 fix: revert to AVS 8.1.18
  buildSrc/src/main/kotlin/Dependencies.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#738 fix(calling): self user video stream is not sent during a call
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/UpdateVideoStateUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/UpdateVideoStateUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#744 feat: deleted conversations events (AR-2040)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiverTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/notification/EventContentDTO.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#719 refactor: Unify QualifedId mapping in one place
  logic/src/androidAndroidTest/kotlin/com/wire/kalium/logic/feature/call/CallManagerTest.kt
  logic/src/androidAndroidTest/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCallTest.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnActiveSpeakers.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnAnsweredCall.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnClientsRequest.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCall.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnEstablishedCall.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnIncomingCall.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnMissedCall.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantListChanged.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnSendOTR.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/GlobalKaliumScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/id/FederatedIdMapperImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/id/QualifiedId.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/id/QualifiedIdMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/keypackage/KeyPackageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/UserSearchApiWrapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/publicuser/search/SearchKnownUsersUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/publicuser/search/SearchUsersUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/id/FederatedIdMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/id/QualifiedIDTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/id/QualifiedIdMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/keypackage/KeyPackageRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/publicuser/UserSearchApiWrapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchKnownUserUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchUserUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiverTest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/client/ClientRegistrationStorageImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/MetadataDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/MetadataDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/MetadataDAOTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: refactoring 🛠

#750 fix: Include blocked users into search knowns
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepositoryTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserDAOTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#742 chore: add slow sync state and completion storage
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/SlowSyncRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/SlowSyncStatus.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/sync/SlowSyncRepositoryTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M

#743 refactor: make slow sync standalone and cancellable
  logic/src/androidMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/sync/WorkSchedulerImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/WorkSchedulerImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/full/SlowSyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/full/SlowSyncScheduler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/full/SlowSyncWorker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/SyncManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/full/SlowSyncManagerTest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/sync/WorkSchedulerImpl.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: refactoring 🛠

#740 refactor: re-arrange packages of Sync-related classes
  detekt/baseline.xml
  logic/src/androidMain/kotlin/com/wire/kalium/logic/sync/WorkSchedulerImpl.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/sync/WrapperWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/DefaultWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/KaliumSyncException.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/WorkSchedulerImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/full/SlowSyncScheduler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/full/SlowSyncWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventGatherer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessor.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/PendingEventsBuffer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/periodic/UpdateApiVersionsScheduler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/periodic/UpdateApiVersionsWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/EventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/FeatureConfigEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/message/MessageTextEditHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/sync/SyncRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/SyncManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventGathererTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/PendingEventsBufferTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/periodic/UpdateApiVersionsWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ConnectionPolicyIntegrationTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/MessageTextEditHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiverTest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/sync/WorkSchedulerImpl.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: M

#746 feat: add decryption failure messages [AR-1657]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/MessageRepositoryTest.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/iosX64Main/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#748 refactor: feature configs
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/SyncFeatureConfigsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/FeatureConfigEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/featureConfig/GetFeatureConfigsStatusUseCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/featureConfigs/FeatureConfigResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/notification/EventContentDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/notification/EventSerialization.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/featureConfig/FeatureConfigJson.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/notification/EventContentDTOJson.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/notification/NotificationEventsResponseJson.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: refactoring 🛠

#730 feat: unread conversation and message indicator (AR-918)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCaseImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationsAndConnectionsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationReadDateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/util/TimeParser.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationDetailsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationsAndConnectionsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationAccessUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversationDetails.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/MessageDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/ConversationStubs.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: XXL

#753 fix: QualifiedIdMapper crashes
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/id/QualifiedIdMapper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/id/QualifiedIdMapperTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#751 refactor: make quick sync standalone
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/IncrementalSyncRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/IncrementalSyncStatus.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/SyncRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/connection/ConnectionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/keypackage/KeyPackageManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/TeamScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ObserveSyncStateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SetConnectionPolicyUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventGatherer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncWorker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/sync/IncrementalSyncRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/sync/SyncRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/keypackage/KeyPackageManagerTests.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/ObserveSyncStateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/SyncManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventGathererTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ConnectionPolicyIntegrationTest.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: XXL

#749 feat: bot service (AR-2011)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/PublicUserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserModel.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/publicuser/UserSearchApiWrapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/team/TeamRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetAllContactsNotInTheConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchKnownUserUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchUserDirectoryUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchUserUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestUser.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/BotServiceAdapter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/UserStubs.kt
  persistence/src/iosX64Main/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#754 fix: some remote requests not including api version
  network/src/commonMain/kotlin/com/wire/kalium/network/api/contact/search/UserSearchApiImpl.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/message/MessageApiImpl.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/teams/TeamsApiImpl.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/user/connection/ConnectionApi.kt
Labels: 👕 size: S, type: bug / fix 🐞

#759 fix: Search with @ crashes the app (QualifierIdMapper crash) [AR-2151]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/id/QualifiedIdMapper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/id/QualifiedIdMapperTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#758 fix: incorrect email validation when the email contains a capital letter
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/ValidateEmailUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/ValidateEmailUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#764 fix: append asset extention to the asset file
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/AssetRepository.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#737 feat: handle user SAML settings
  android/src/main/kotlin/com/wire/kalium/presentation/MainActivity.kt
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
  cli/src/main/kotlin/com/wire/kalium/cli/RegisterAccountApp.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/auth/login/LoginRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/auth/login/SSOLoginRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/id/IdMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/register/RegisterAccountRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/session/SessionMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/session/SessionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/AddAuthenticatedUserUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/LoginUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/sso/GetSSOLoginSessionUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/sso/SSOLoginScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/register/RegisterAccountUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/session/SaveSessionUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/session/SessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/IsPasswordRequiredUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/network/SessionManagerImpl.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/register/RegisterAccountRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/session/SessionMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/AddAuthenticatedUserUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/LoginUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/register/RegisterAccountUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/session/SaveSessionUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/IsPasswordRequiredUseCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/IDs.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/SessionDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/model/UserDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/user/login/LoginApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/user/login/LoginApiImpl.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/user/login/SSOLoginApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/session/SessionManager.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/user/login/LoginApiTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/client/SessionStorage.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/MetadataDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/kmm_settings/KaliumPreferences.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/model/AuthSessionEntity.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/client/SessionStorageTest.kt
Labels: breaking change, 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#760 refactor: better de-couple incremental sync layers
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/IncrementalSyncStatus.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/SlowSyncRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/keypackage/KeyPackageManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ObserveSyncStateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/full/SlowSyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/full/SlowSyncWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventGatherer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessor.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventSource.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncWorker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/sync/IncrementalSyncRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/keypackage/KeyPackageManagerTests.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventGathererTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncWorkerTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: L, type: refactoring 🛠

#765 fix: failure when updating session tokens
  logic/src/commonMain/kotlin/com/wire/kalium/logic/network/SessionManagerImpl.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#756 fix(user-delete): verify handle delete user event
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiverTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/notification/EventContentDTO.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#757 feat: support MLS feature config
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/id/QualifiedId.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/SyncFeatureConfigsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/IsMLSEnabledUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/full/SlowSyncWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/FeatureConfigEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/event/EventRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/featureConfig/GetFeatureConfigsStatusUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/FeatureConfigEventReceiverTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/client/UserConfigStorage.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#761 fix: New calls mute the ongoing call(AR-2025)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/MuteCallUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/UnMuteCallUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/MuteCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/UnMuteCallUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#766 chore: add sync retry mechanism
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/session/local/SessionLocalRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/SlowSyncStatus.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ObserveSyncStateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncExceptionHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/full/SlowSyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventGatherer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/SyncExceptionHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/full/SlowSyncManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/FlowUtils.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/notification/NotificationApi.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: L

#755 fix: create default value for last_read_date, query unread messages for specific conversation
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationsAndConnectionsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/util/CommonUtils.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationsAndConnectionsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/ConversationStubs.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#768 chore: Correct README
  README.md
Labels: type: chore 🧹, 👕 size: S

#762 fix: remove conversation member (AR-2065)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/AddParticipantRequest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationApiImpl.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationMemberChangeDTO.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#708 chore: intercept network logging [AR-1293]
  logger/src/commonMain/kotlin/com/wire/kalium/logger/KaliumLogger.kt
  logger/src/commonMain/kotlin/com/wire/kalium/logger/ObfuscateUtil.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/KaliumKtorCustomLogging.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/KaliumLoggedContent.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/KaliumObservingUtils.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/NetworkClient.kt
Labels: type: chore 🧹, 👕 size: L

#763 feat: delete conversations notification (AR-2039)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/notification/LocalNotification.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/notification/LocalNotificationMessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/EphemeralNotificationsManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiverTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#767 chore: handle connectivity policy upgrade
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncWorker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncWorkerTest.kt
Labels: type: chore 🧹, 👕 size: M

#741 feat: retry sync automatically (AR-1875)
  logic/src/androidMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/sync/WorkSchedulerImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/session/local/SessionLocalRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/IncrementalSyncRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/IncrementalSyncStatus.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/SlowSyncRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/SlowSyncStatus.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/SyncRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/connection/ConnectionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/keypackage/KeyPackageManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/TeamScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ObserveSyncStateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SetConnectionPolicyUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncExceptionHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/WorkSchedulerImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/full/SlowSyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/full/SlowSyncScheduler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/full/SlowSyncWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventGatherer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessor.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventSource.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncWorker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/sync/IncrementalSyncRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/sync/SlowSyncRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/sync/SyncRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/keypackage/KeyPackageManagerTests.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/ObserveSyncStateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/SyncExceptionHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/SyncManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/full/SlowSyncManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventGathererTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ConnectionPolicyIntegrationTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/FlowUtils.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/sync/WorkSchedulerImpl.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/notification/NotificationApi.kt
Labels: epic, 🚨 Potential breaking changes, type: feature ✨, 👕 size: XXL

#770 feat: add removedBy field on Conversation object
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationStatusMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationMemberRoleUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationStatusMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationAccessUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/iosX64Main/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#771 feat: add usecase and logic for deleting a team conversation (AR-1789)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/team/TeamRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/DeleteTeamConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/GetSelfTeamUseCaseImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/TeamScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/team/TeamRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/team/DeleteTeamConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestTeam.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#775 feat: map conversation creator field for delete conversation operation (AR-2111)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationAccessUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/ConversationStubs.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#772 fix(CLI): fix user login flow
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/LoginUseCase.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#777 chore: add www-authenticate header for all platforms
  network/src/commonJvmAndroid/kotlin/com/wire/kalium/network/HttpEngine.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/session/SessionManager.kt
  network/src/commonTest/kotlin/com/wire/kalium/network/session/SessionManagerTest.kt
Labels: type: chore 🧹, 👕 size: M

#782 fix: revert obfuscate logs
  logger/src/commonMain/kotlin/com/wire/kalium/logger/ObfuscateUtil.kt
Labels: type: bug / fix 🐞, 👕 size: M

#778 fix: make sure token is refreshed before connecting websocket
  network/src/commonMain/kotlin/com/wire/kalium/network/api/notification/NotificationApiImpl.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#783 feat: Implementation of knock/ping messages
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendKnockUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SendKnockUserCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
Labels: breaking change, 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#785 fix: wait for slow sync before certain use cases
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetRecentMessagesUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendKnockUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendTextMessageUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SendKnockUserCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#779 chore: update kotlin to 1.7.10
  build.gradle.kts
  buildSrc/src/main/kotlin/Android.kt
  buildSrc/src/main/kotlin/Dependencies.kt
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
  cli/src/main/kotlin/com/wire/kalium/cli/RegisterAccountApp.kt
  cryptography/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  kotlin-js-store/yarn.lock
  logger/build.gradle.kts
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/stubs/ServerConfigStubs.kt
  network/build.gradle.kts
  network/src/commonMain/kotlin/com/wire/kalium/network/NetworkClient.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/user/register/RegisterAccountJson.kt
  persistence/build.gradle.kts
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/MetadataDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/TeamDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/asset/AssetDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/call/CallDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao_kalium_db/ServerConfigurationDAO.kt
  protobuf/build.gradle.kts
Labels: 👕 size: XL, type: chore 🧹

#788 fix: Slow Sync not recovering from failure
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/logout/LogoutRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/logout/LogoutRepositoryTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#789 fix: mapping correctly failure and conversations not found (AR-1819)
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationPagingResponse.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#790 chore: upgrade kotlinx serialization plugin
  buildSrc/src/main/kotlin/Dependencies.kt
  cryptography/build.gradle.kts
Labels: type: chore 🧹, 👕 size: XS

#781 feat: ObserveUserInfoUseCase
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/ObserveUserInfoUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/functional/EitherFlow.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/ObserveUserInfoUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#791 fix: websocket not receiving messages after some time
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessor.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManager.kt
  network/src/commonJvmAndroid/kotlin/com/wire/kalium/network/HttpEngine.kt
  network/src/commonJvmAndroid/kotlin/com/wire/kalium/network/KaliumWebSocketFactory.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/NetworkClient.kt
Labels: 👕 size: S, type: bug / fix 🐞

#794 fix: do a slow sync before sending assets
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/SendAssetMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/SendAssetMessageUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#797 fix(android): crash when getting device name
  logic/src/androidMain/kotlin/com/wire/kalium/logic/configuration/ClientConfig.kt
Labels: 👕 size: S, type: bug / fix 🐞

#796 chore: upgrade gradle wrapper to 7.5.1
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
Labels: type: chore 🧹, 👕 size: XS

#792 chore: close open calls
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Calls.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/call/CallDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/call/CallDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/call/CallDAOTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M

#799 fix: save settings in rootPath on JVM instead of os-specific location
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/PackagePathProvider.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/kmm_settings/EncryptedSettingsHolder.kt
  persistence/src/jvmTest/kotlin/com/wire/kalium/persistence/EncryptedSettingsHolderTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#801 chore(logging): ignore CancellationException when getting member details
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#803 fix: Revert "chore: update kotlin to 1.7.10 (#779)"
  build.gradle.kts
  buildSrc/src/main/kotlin/Android.kt
  buildSrc/src/main/kotlin/Dependencies.kt
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
  cli/src/main/kotlin/com/wire/kalium/cli/RegisterAccountApp.kt
  cryptography/build.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  kotlin-js-store/yarn.lock
  logger/build.gradle.kts
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/stubs/ServerConfigStubs.kt
  network/build.gradle.kts
  network/src/commonMain/kotlin/com/wire/kalium/network/NetworkClient.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/user/register/RegisterAccountJson.kt
  persistence/build.gradle.kts
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/MetadataDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/TeamDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/asset/AssetDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/call/CallDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao_kalium_db/ServerConfigurationDAO.kt
  protobuf/build.gradle.kts
Labels: 👕 size: XL, type: bug / fix 🐞

#795 feat: federation resilient users mapping (AR-2097)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/PublicUserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/publicuser/UserSearchApiWrapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/team/TeamRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetAllContactsNotInTheConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchKnownUserUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchUserDirectoryUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchUserUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestUser.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/KaliumException.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/NetworkErrorLabel.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/UserStubs.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#805 feat(cli): support passing a server config URL for environment option CL-61
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
Labels: 👕 size: S, type: feature ✨

#806 fix: passwords with less than 6 chars resulting to server error
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/LoginUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/DeleteClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/LoginUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/DeleteClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/test_util/TestNetworkException.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#807 chore: add a way to wait until sync fails or completes (AR-1947)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/SyncManagerTest.kt
Labels: type: chore 🧹, 👕 size: M

#809 fix: update leave group scopes
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#810 fix: make OnNetworkQualityChanged userId nullable
  calling/src/androidMain/kotlin/com/wire/kalium/calling/callbacks/NetworkQualityChangedHandler.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnNetworkQualityChanged.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#811 chore(mls): update core crypto to 0.3.1 (AR-2153)
  buildSrc/src/main/kotlin/Dependencies.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/MLSClientTest.kt
Labels: type: chore 🧹, 👕 size: S

#808 feat(mls-conversation): persist and expose cipher suite tag (AR-2157)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ProtocolInfoMapper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ProtocolInfoMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/AddMemberToConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationResponse.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/conversation/ConversationResponseJson.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
  persistence/src/iosX64Main/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#780 feat: synchronise last read for the same user on different client
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationReadDateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/message/DeleteForMeHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/message/LastReadContentHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/util/TimeParser.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationDetailsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversationDetails.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiverTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#814 feat(calling): handle sync failure when starting a call (AR-2145)
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/StartCallUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/CreateGroupConversationUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/StartCallUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#813 refactor: update MLSClient API to reflect changes in CoreCrypto
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/MLSClient.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/MLSClientTest.kt
  cryptography/src/iosX64Main/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: L, type: refactoring 🛠

#812 feat(mls-conversation): lower update keying materials threshold for debug builds (AR-2163)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/UpdateKeyingMaterialThresholdProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/keyingmaterials/UpdateKeyingMaterialsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/featureFlags/KaliumConfigs.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/keyingmaterials/UpdateKeyingMaterialsUseCaseTests.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#798 feat: other users clients [AR-1195]
  logic/src/androidMain/kotlin/com/wire/kalium/logic/configuration/ClientConfigImpl.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/ClientConfigImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/remote/ClientRemoteRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/id/IdMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/GetOtherUserClientsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/PersistOtherUserClientsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSendFailureHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/client/ClientRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/prekey/MessageSendFailureHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/GetOtherUserClientsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/PersistOtherUsersClientsUseCaseTest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/configuration/ClientConfigImpl.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/user/client/ClientApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/user/client/ClientResponse.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/featureConfig/FeatureConfigApiTest.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/user/client/ClientApiTest.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/user/client/OtherUsersClientsJson.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Clients.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/client/ClientDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserClientDAOIntegrationTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#815 feat(conversation): handle sync failure when creating group conversation (AR-2146)
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/CreateGroupConversationUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/CreateGroupConversationUseCaseTest.kt
Labels: breaking change, 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#800 fix: Notification do not come
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M, DO NOT MERGE

#818 chore: observe is user conversation member (AR-1852)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveIsSelfUserMemberUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/GetSelfUserUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveIsSelfUserMemberUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: L

#784 feat: persistent websocket [AR-1168]
  detekt/baseline.xml
  kotlin-js-store/yarn.lock
  logger/src/commonMain/kotlin/com/wire/kalium/logger/KaliumLogger.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/GlobalKaliumScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/loggingStatus/EnableLoggingUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/loggingStatus/IsLoggingEnabledUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/webSocketStatus/ObservePersistentWebSocketConnectionStatusUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/webSocketStatus/PersistPersistentWebSocketConnectionStatusUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/IsPersistentWebSocketConnectionEnabledUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/PersistWebSocketStatusUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/client/UserConfigStorage.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/client/UserConfigStorageTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#821 fix: delete conversation locally after remote deletion
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/DeleteTeamConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/TeamScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/team/DeleteTeamConversationUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#817 feat(mls): commit pending proposals
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/MLSClient.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ProposalTimer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/PendingProposalScheduler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/functional/Flow.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/PendingProposalSchedulerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiverTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#774 feat: Unblock user UseCase
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/connection/ConnectionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/connection/UnblockUserUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/connection/UnblockUserUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#823 chore: bump avs to 8.2.9
  buildSrc/src/main/kotlin/Dependencies.kt
Labels: type: chore 🧹, 👕 size: XS

#825 feat: Add linux support for make of crypto libraries
  Makefile
Labels: 👕 size: S, type: feature ✨

#822 fix(mls): retry sending mls application message on stale message error
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSender.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MessageSenderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestMessage.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: bug / fix 🐞

#827 feat: fix crash when hanging up and no connection
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnConfigRequest.kt
Labels: 👕 size: S, type: feature ✨

#824 chore: renamed internal user type entity to standard
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/type/UserTypeMapper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserEntityTypeMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserMapperTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/UserStubs.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#826 chore: move conversation member to conversation context
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantListChanged.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MemberMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationMemberRoleUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MemberMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationMembersUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationMemberRoleUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiverTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M

#830 fix: changed default user type from internal to standard
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
Labels: type: bug / fix 🐞, 👕 size: XS

#816 fix: update self availability hanging when sync fails (AR-2147)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UpdateSelfAvailabilityStatusUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#832 fix(mls): database locked error when joining mls conversations
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/MLSClientProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#831 fix: group calls white screen
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnSFTRequest.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#833 fix: launch EndCallUseCase with io dispatcher
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/EndCallUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#820 fix: refactor assets download to avoid OOM exception (AR-2125)
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/utils/AESUtils.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/AssetRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/asset/AssetRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/asset/FakeKaliumFileSystem.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/asset/AssetApiImpl.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/ApiTest.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/asset/AssetApiTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#835 fix(feature-config): handle missing mls configuration
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/featureFlags/KaliumConfigs.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/featureConfigs/FeatureConfigResponse.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#836 feat: add isOnPremises to ServerConfig
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/ServerConfig.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/ServerConfigRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/configuration/ServerConfigMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/session/SessionMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/stubs/ServerConfigStubs.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/configuration/ServerConfigApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/tools/ServerConfigDTO.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/TestUtil.kt
  persistence/src/commonMain/db_global/com/wire/kalium/persistence/ServerConfiguration.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao_kalium_db/ServerConfigurationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/model/AuthSessionEntity.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao_kalium_db/ServerConfigurationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/ServerConfigStubs.kt
Labels: 👕 size: S, type: feature ✨

#828 fix: show message after removing conversation member (AR-2038)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/RemoveMemberFromConversationUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/RemoveMemberFromConversationUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#839 feat(mls): handle leaving an MLS conversation (AR-1910)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#793 feat(calling): receive video stream (AR-1232)
  calling/src/commonMain/kotlin/com/wire/kalium/calling/VideoStateCalling.kt
  detekt/baseline.xml
  logic/src/androidAndroidTest/kotlin/com/wire/kalium/logic/feature/call/CallManagerTest.kt
  logic/src/androidAndroidTest/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantsVideoStateChangedTest.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnIncomingCall.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantListChanged.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantsVideoStateChanged.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/Participant.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/VideoState.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/VideoStateChecker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/mapper/ActiveSpeakerMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/mapper/CallMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/mapper/ParticipantMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/ParticipantsOrder.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/ActiveSpeakerMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/ParticipantMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/VideoStateCheckerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/ParticipantsOrderTest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#787 fix: obfuscate sensitive info in network logs
  logger/src/commonMain/kotlin/com/wire/kalium/logger/KaliumLogger.kt
  logger/src/commonMain/kotlin/com/wire/kalium/logger/ObfuscateUtil.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/KaliumKtorCustomLogging.kt
Labels: type: bug / fix 🐞, 👕 size: M

#841 fix: upload big assets OutOfMemory exception (AR-2187)
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/utils/AESUtils.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/asset/AssetApiImpl.kt
Labels: 👕 size: S, type: bug / fix 🐞

#838 feat: add ObserveSelfUsersWithTeamsUseCase [AR-2253]
  logic/src/androidMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/GlobalKaliumScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/session/SessionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/UserSessionScopeProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/LogoutUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/ObserveValidAccountsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/session/SessionRepositoryTest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/client/SessionStorage.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/client/SessionStorageTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#842 feat(mls): validate keyPackages count via MLS Client (AR-2284)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/keypackage/KeyPackageLimitsProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/keypackage/KeyPackageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/keypackage/KeyPackageManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/keypackage/MLSKeyPackageCountUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/keypackage/RefillKeyPackageUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/keypackage/KeyPackageLimitsProviderTests.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/keypackage/KeyPackageManagerTests.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/keypackage/MLSKeyPackageCountUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/keypackage/RefillKeyPackageUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#837 feat: SelfServerConfigUseCase
  logic/src/commonMain/kotlin/com/wire/kalium/logic/GlobalKaliumScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/SelfServerConfigUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SelfServerConfigUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#844 fix(mls): commit pending proposals
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/MLSClientTest.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/PendingProposalScheduler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiverTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#847 fix: skipping events when failing to fetch pending events (AR-2302)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventGatherer.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventGathererTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#843 feat: multiple account deeplink [AR-2037]
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/GlobalKaliumScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/server/FetchApiVersionUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/server/GetServerConfigUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/server/FetchApiVersionUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#845 feat: account switching
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/session/UpdateCurrentSessionUseCase.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#846 feat: persist feature flag of classified domains (AR-2301)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/SyncFeatureConfigsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/FeatureConfigEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/event/FeatureConfigMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/featureConfig/GetFeatureConfigsStatusUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/client/UserConfigStorage.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/client/UserConfigStorageTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#849 fix: app not able to retrieve server meta data from local
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/ServerConfig.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/configuration/ServerConfigMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/configuration/server/ServerConfigTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/stubs/ServerConfigStubs.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/configuration/ServerConfigApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/notification/NotificationApiImpl.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/tools/ServerConfigDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/utils/WireDefaultRequest.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/TestUtil.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/user/login/SSOLoginApiTest.kt
Labels: type: bug / fix 🐞, 👕 size: M

#850 feat: ObserverCurrentClientIdUseCase
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ObserveCurrentClientIdUseCase.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#852 feat: compute if a conversation is classified or not usecase (AR-2098)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/ClassifiedDomainsStatus.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetConversationClassifiedTypeUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetConversationClassifiedTypeUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#829 fix: asset are stored with incorrect metadata
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/Asset.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/AssetMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/AssetRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/SendAssetMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UploadUserAvatarUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/util/CommonUtils.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/asset/AssetRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/SendAssetMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/CommonUtilsTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Assets.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/asset/AssetDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/asset/AssetDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#851 refactor: introduce a GroupID type in the logic module
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ProposalTimer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ProtocolInfoMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/id/IdMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/id/QualifiedId.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/PendingProposalScheduler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ProtocolInfoMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/AddMemberToConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/keyingmaterials/UpdateKeyingMaterialsUseCaseTests.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: M

#848 feat(calling): display screen sharing feed (AR-1234)
  logic/src/androidAndroidTest/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantsVideoStateChangedTest.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantListChanged.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantsVideoStateChanged.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/Participant.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/VideoStateChecker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/mapper/ParticipantMapper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/ActiveSpeakerMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/ParticipantMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/VideoStateCheckerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/ParticipantsOrderTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#853 feat(mls): update keying material every 24 hrs (AR-2282)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/keypackage/KeyPackageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/TimestampKeyRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/keyingmaterials/KeyingMaterialsManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/keyingmaterials/UpdateKeyingMaterialsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/keypackage/KeyPackageManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/keypackage/KeyPackageRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/TimestampKeyRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/keyingmaterials/KeyingMaterialsManagerTests.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/keyingmaterials/UpdateKeyingMaterialsUseCaseTests.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/keypackage/KeyPackageManagerTests.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#856 feat: refactor, naming security classification type
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetSecurityClassificationTypeUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetSecurityClassificationTypeUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#855 chore: print meaningful network errors
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/KaliumException.kt
Labels: type: chore 🧹, 👕 size: S
