Repository wireapp/kalium, pull requests merged in 2022-06, with the labels that each got.

#553 ci: run android emulator tests for all modules
  .github/workflows/gradle-android-tests.yml
  calling/build.gradle.kts
  logger/build.gradle.kts
  logic/build.gradle.kts
  logic/src/androidAndroidTest/kotlin/com/wire/kalium/logic/feature/call/CallManagerTest.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/ValidateEmailUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/ValidatePasswordUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/ValidateUserHandleUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MarkMessagesAsNotifiedUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/functional/EitherTest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  network/build.gradle.kts
  protobuf/build.gradle.kts
Labels: comp: Logic, 🚨 Potential breaking changes, 👕 size: M

#554 fix: app crash when bluetooth is turned on(AR-1461)
  buildSrc/src/main/java/Dependencies.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#559 fix: protocontent mapper is not mapping GenericMessage.Content.Edited
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapperTest.kt
Labels: comp: Logic, 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#546 feat: cleanup API versioning code [AR-1464]
  cli/src/main/kotlin/com/wire/kalium/cli/ConversationsApplication.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/GlobalKaliumScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/ServerConfig.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/ServerConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/AuthenticationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/sso/GetSSOLoginSessionUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/sso/SSOInitiateLoginUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/sso/SSOLoginScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/register/RegisterAccountUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/register/RegisterScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/server/ObserveServerConfigUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/configuration/ServerConfigRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/sso/SSOInitiateLoginUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/register/RegisterAccountUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/stubs/ServerConfigStubs.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/ServerMetaDataManager.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/configuration/ServerConfigApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/configuration/ServerConfigResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/user/login/SSOLoginApi.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/user/login/SSOLoginApiTest.kt
  persistence/src/commonMain/db_global/com/wire/kalium/persistence/ServerConfiguration.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao_kalium_db/ServerConfigurationDAO.kt
Labels: comp: Logic, 🚨 Potential breaking changes, type: feature ✨, 👕 size: XXL, comp: Crypto

#563 fix: parse SFT connection data string to json
  network/src/commonMain/kotlin/com/wire/kalium/network/api/call/CallApiImpl.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/call/CallApiTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#550 chore: remove closed status from CallStatus
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCall.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/Call.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
Labels: comp: Logic, 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#561 feat: ignore connection (AR-1462)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/PublicUserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/connection/ConnectionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/connection/IgnoreConnectionRequestUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/connection/IgnoreConnectionRequestUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#565 feat: respect muting options per conversation
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#568 feat: add use case to observe member details by id list [AR-1809]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveMemberDetailsByIdsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveMemberDetailsByIdsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#560 feat: upgrade conversation endpoints to include federation (AR-1749)
  README.md
  cli/src/main/kotlin/com/wire/kalium/cli/ConversationsApplication.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationApiImpl.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationPagingResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationsDetailsRequest.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/conversation/ConversationApiTest.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/conversation/ConversationDetailsResponse.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/conversation/ConversationListIdsResponseJson.kt
Labels: comp: Logic, 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#569 feat: added Okio library on Kalium [AR-1579]
  buildSrc/src/main/java/Dependencies.kt
  cryptography/build.gradle.kts
  logic/build.gradle.kts
  logic/src/androidMain/kotlin/com/wire/kalium/logic/data/asset/KaliumFileSystem.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/KaliumFileSystem.kt
  logic/src/jsMain/kotlin/com.wire.kalium.logic.data.asset/KaliumFileSystem.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/data/asset/KaliumFileSystem.kt
  network/build.gradle.kts
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#572 chore: add calling clients handler
  calling/src/androidMain/kotlin/com/wire/kalium/calling/Calling.kt
  logic/src/androidAndroidTest/kotlin/com/wire/kalium/logic/feature/call/CallManagerTest.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnClientsRequest.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallClient.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSender.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M

#557 feat: feature flags [AR-1463]
  android/src/main/kotlin/com/wire/kalium/KaliumApplication.kt
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
  cli/src/main/kotlin/com/wire/kalium/cli/RegisterAccountApp.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/AuthenticationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/featureFlags/GetBuildConfigsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/featureFlags/KaliumConfigs.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
Labels: comp: Logic, 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#574 feat: Persist self user status (AR-1741, AR-1742, AR-1743)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/PublicUserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/model/OtherUser.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/AvailabilityStatusMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/ConnectionStateMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UpdateSelfAvailabilityStatusUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/connection/ConnectionMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/event/EventRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/register/RegisterAccountRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/team/TeamRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/AvailabilityStatusMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserTypeMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/SendAssetMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/SendImageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/register/RegisterAccountUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchKnownUserUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchUserDirectoryUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/UploadUserAvatarUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestUser.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/UserStubs.kt
  persistence/src/iosX64Main/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#558 fix: map the team name when getting the other user details
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/team/TeamRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/GetUserInfoUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/team/TeamRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/GetUserInfoUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/GetUserInfoUseCaseTestArrangement.kt
Labels: comp: Logic, 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#556 fix: get or create a conversation (AR-1773)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationDetailsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/functional/EitherFlow.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationDetailsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Members.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: comp: Logic, 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#539 feat(login): handle push token failure (AR-1566)
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/session/RegisterTokenUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/session/PushTokenUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/test_util/TestNetworkException.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/KaliumException.kt
Labels: comp: Logic, 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#573 feat(new-mls-conversation): add protocol to new group (AR-1775)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/keypackage/KeyPackageRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/keypackage/KeyPackageRepositoryTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/keypackage/KeyPackageApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/keypackage/KeyPackageApiImpl.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/keypackage/KeyPackageApiTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#582 chore: update github actions
  .github/workflows/codestyle.yml
  .github/workflows/generate-changelog.yml
  .github/workflows/generate-dokka.yml
  .github/workflows/gradle-android-tests.yml
  .github/workflows/gradle-ios-tests.yml
  .github/workflows/gradle-jvm-tests.yml
  .github/workflows/semantic-commit-lint.yml
Labels: type: chore 🧹, 👕 size: S

#579 fix: ignore or hide some message types [AR-1827]
  logic/src/androidAndroidTest/kotlin/com/wire/kalium/logic/feature/call/CallManagerTest.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnHttpRequest.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/SendAssetMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/SendImageMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetRecentMessagesUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MLSMessageCreator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageEnvelopeCreator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSender.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendTextMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/MessageRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/GetMessageAssetUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestMessage.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/MessageTextEditHandlerTest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/MessageDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/MessageStubs.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: bug / fix 🐞

#580 fix(conference-call): passing a wrong json format to AVS
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnClientsRequest.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#575 chore: add active speakers handler
  calling/src/androidMain/kotlin/com/wire/kalium/calling/Calling.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnActiveSpeakers.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallActiveSpeakers.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/Participant.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M

#578 feat: upgrade federated assets source (AR-1563)
  android/src/main/kotlin/com/wire/kalium/presentation/MainActivity.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/Asset.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/AssetMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/AssetRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/id/IdMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/PublicUserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/DownloadAssetMessageMetadata.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/GetMessageAssetUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/SendAssetMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/SendImageMessageUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/asset/AssetRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/id/IdMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/register/RegisterAccountRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserTypeMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/GetPublicAssetUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/SendAssetMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/SendImageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/UploadUserAvatarUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestTeam.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestUser.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/IDs.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/asset/AssetApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/asset/AssetApiImpl.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/model/TeamDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/user/register/ActivationRequest.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/asset/AssetApiTest.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/UserStubs.kt
  persistence/src/iosX64Main/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#567 ci: Archive Kover report for debugging
  .github/workflows/gradle-jvm-tests.yml
  build.gradle.kts
  codecov.yml
Labels: 👕 size: S

#562 feat: (AR-1655) deregister push notification token use case
  kotlin-js-store/yarn.lock
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/remote/ClientRemoteRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/LogoutUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/session/DeregisterTokenUseCase.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/user/client/ClientApi.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/user/client/ClientApiTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#584 chore: Remove Calling domain before federation
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnClientsRequest.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnSendOTR.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/id/QualifiedId.kt
Labels: WIP, 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#587 fix(keypackages-api): mls keypackages count api call
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/keypackage/KeyPackageRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/keypackage/KeyPackageRepositoryTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/keypackage/KeyPackageApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/keypackage/KeyPackageApiImpl.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/keypackage/KeyPackageDTO.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/keypackage/KeyPackageApiTest.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/keypackage/KeyPackageJson.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#586 feat: Apply user status to notifications
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/notification/LocalNotification.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/util/TimeParser.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#583 fix: refresh conversation after connection request (AR-1506)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/connection/AcceptConnectionRequestUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/connection/ConnectionScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/connection/AcceptConnectionRequestUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/connection/CancelConnectionRequestUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/connection/IgnoreConnectionRequestUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#592 chore: create buffer for pending events
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/PendingEventsBuffer.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/PendingEventsBufferTest.kt
Labels: type: chore 🧹, 👕 size: M

#594 chore: consistent wire links
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/ServerConfig.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/configuration/server/ServerConfigTest.kt
Labels: type: chore 🧹, 👕 size: S

#591 feat(mls-keypackages): add keypackageCountUseCase (AR-1846)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/keypackage/MLSKeyPackageCountUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/keypackage/MLSKeyPackageCountUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#585 chore: add foreign key constraint to members table
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Members.sq
Labels: type: chore 🧹, 👕 size: XS

#487 feat: Improve getIncomingCallsUsecase to have more info
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnIncomingCall.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/notification/LocalNotification.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/Call.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/GetIncomingCallsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/GetAllCallsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/UpdateVideoStateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/GetIncomingCallsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
Labels: comp: Logic, 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#566 feat(messaging): receive external messages (AR-1761)
  logic/src/androidMain/kotlin/com/wire/kalium/logic/util/Base64.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/AssetMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/AssetContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/EncryptionAlgorithmMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageEncryptionAlgorithm.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/SendAssetMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/SendImageMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MLSMessageCreator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageEnvelopeCreator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/GetMessageAssetUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiverTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/notification/conversation/MessageEventData.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#596 feat: Apply user status to incoming calls
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/GetIncomingCallsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/GetIncomingCallsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestCall.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#597 ci: enable `EnforceSerializableFields` on all modules
  detekt/detekt.yml
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallClient.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallParticipants.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallMapperTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/client/SessionStorage.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/client/TokenStorage.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/kmm_settings/KaliumPreferencesTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S

#599 fix: sync hanging when receiving calling messages on the background
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
Labels: 👕 size: S, type: bug / fix 🐞

#600 chore: dont wait for sync on delete message (AR-1271)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#598 fix: connection requests issues (AR-1834)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Connections.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAOImpl.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#603 feat: put new conversations on top (AR-1673)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/CreateGroupConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/CreateGroupConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/test_util/TimeUtils.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#605 fix: handle member join when being added to group (AR-1673)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiverTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#595 feat: (AR-1553 and AR-1649) Splitting search query for federated search + refactor of use cases
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/id/QualifiedId.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/publicuser/SearchKnownUsersUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/publicuser/SearchUserDirectoryUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/publicuser/SearchUsersUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/id/FederationRegexTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchKnownUserUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchUserUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#607 fix: cascade update on the id of the foreign key on Message Edit receive
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
Labels: type: bug / fix 🐞, 👕 size: XS

#601 chore: enhancements on managing ongoing and closed calls
  calling/src/androidMain/kotlin/com/wire/kalium/calling/callbacks/CloseCallHandler.kt
  calling/src/commonMain/kotlin/com/wire/kalium/calling/CallClosedReason.kt
  logic/src/androidAndroidTest/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCallTest.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCall.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/Call.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveEstablishedCallsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: L

#611 chore: replace old protobuf with PBandK
  buildSrc/src/main/java/Dependencies.kt
  network/build.gradle.kts
  network/src/commonJvmAndroid/kotlin/com/wire/kalium/network/api/message/EnvelopeProtoMapperImpl.kt
  network/src/commonJvmAndroid/kotlin/com/wire/kalium/network/api/message/OtrClientEntryMapper.kt
  network/src/commonJvmAndroid/kotlin/com/wire/kalium/network/api/message/OtrClientIdMapper.kt
  network/src/commonJvmAndroid/kotlin/com/wire/kalium/network/api/message/OtrUserIdMapper.kt
  protobuf/build.gradle.kts
Labels: type: chore 🧹, 👕 size: S

#610 refactor: cleanup deprecated Sync use cases
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ListenToEventsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncPendingEventsUseCase.kt
Labels: breaking change, 🚨 Potential breaking changes, 👕 size: S, type: refactoring 🛠

#613 chore: fix cli app
  .github/workflows/gradle-jvm-tests.yml
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
Labels: type: chore 🧹, 👕 size: XS

#608 refactor: simplify WorkScheduler architecture
  logic/src/androidMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/sync/WorkSchedulerImpl.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/sync/WrapperWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SlowSyncScheduler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/WorkSchedulerImpl.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/FakeWorkScheduler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/SyncManagerTest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/sync/WorkSchedulerImpl.kt
Labels: 👕 size: XL, type: refactoring 🛠

#614 fix: empty conversation screen caused by incorrectly handling connections
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#616 feat: don't wait for sync when getting connection requests
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/connection/ObserveConnectionListUseCase.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: XS

#621 chore: logs to use the platform specific log writer
  logger/src/commonMain/kotlin/com/wire/kalium/logger/KaliumLogger.kt
Labels: type: chore 🧹, 👕 size: XS

#620 chore: add observe ongoing calls usecase
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveOngoingCallsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveOngoingCallsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M

#625 chore: using unencrypted db in debug mode
  logic/src/androidMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/featureFlags/KaliumConfigs.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabaseProvider.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
Labels: type: chore 🧹, 👕 size: S

#571 feat: file sharing config [AR-999]
  detekt/baseline.xml
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/GetRemoteFileSharingStatusAndPersistUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/IsFileSharingEnabledUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/featureConfig/GetFeatureConfigsStatusUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/session/IsFileSharingEnabledUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/test_util/TestNetworkException.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/AuthenticatedNetworkContainer.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/featureConfigs/FeatureConfigApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/featureConfigs/FeatureConfigResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/KaliumException.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/NetworkErrorLabel.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/featureConfig/FeatureConfigApiTest.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/featureConfig/FeatureConfigJson.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/client/UserConfigStorage.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/client/UserConfigStorageTest.kt
  persistence/src/iosX64Main/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: XXL

#627 fix: sync not recovering when exception happening on gathering events
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/EventGatherer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/EventGathererTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/SyncManagerTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: bug / fix 🐞

#630 fix: update feature config models
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigModel.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/featureConfig/GetFeatureConfigsStatusUseCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/featureConfigs/FeatureConfigResponse.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/featureConfig/FeatureConfigJson.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#609 fix: exclude the self user from the search results (AR-1830)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/publicuser/SearchKnownUsersUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/publicuser/SearchUserDirectoryUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchKnownUserUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#631 docs: generate documentation for non-public symbols
  gradle/dokka.gradle
Labels: 👕 size: XS, type: documentation 📋

#632 chore: map external messages to protobuf (AR-1760) [External Messages Part 1]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapperTest.kt
Labels: type: chore 🧹, 👕 size: S

#619 feat: MissedCall message
  logic/src/androidAndroidTest/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCallTest.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnAnsweredCall.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCall.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnEstablishedCall.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnMissedCall.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/notification/LocalNotification.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/Call.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/iosX64Main/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#637 fix: params setup for pagination support in api
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationApiImpl.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/pagination/PaginationRequest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/user/connection/ConnectionApi.kt
Labels: 👕 size: S, type: bug / fix 🐞

#640 chore(calling): update AVS version
  buildSrc/src/main/java/Dependencies.kt
Labels: type: chore 🧹, 👕 size: XS

#628 fix: refactor connections status and new merged usecase for connections and conversations (AR-1813)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/connection/ObserveConnectionListUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCaseImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationsAndConnectionsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationsAndConnectionsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConnection.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversationDetails.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Connections.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/iosX64Main/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
Labels: breaking change, 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#636 feat(network): add conversation role to network layer [AR-1041]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MemberMapper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MemberMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationEvent.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/notification/EventContentDTO.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/ServiceReferenceDTOJson.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/conversation/ConversationApiTest.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/conversation/ConversationResponseJson.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M
