Repository wireapp/kalium, pull requests merged in 2022-10, with the labels that each got.

#998 fix: Connection status filed duplication
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversationDetails.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#982 chore: test team events
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/team/TeamRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestTeam.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/TeamEventReceiverTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/TeamDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserDAOTest.kt
Labels: type: chore 🧹, 👕 size: L

#1002 fix: addMember uses deprecated non-federated API AR-2573
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ConversationApiV0.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#1003 fix: more asset issues [AR-2552]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/AssetRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/GetMessageAssetUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/GetMessageAssetUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiverTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1005 chore: bump AVS version to 8.2.16 (AR-2498)
  buildSrc/src/main/kotlin/Dependencies.kt
Labels: type: chore 🧹, 👕 size: XS

#1009 fix: fetching server config does not handle version unsupported error
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/ServerConfigRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/configuration/ServerConfigRepositoryTest.kt
Labels: type: bug / fix 🐞, 👕 size: M

#1010 fix: progress bar indicator for downloading generic assets
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/GetMessageAssetUseCase.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1006 chore: current client (AR-2215)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/SelfClientsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/functional/Either.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/SelfClientsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#1015 fix: wait until live in discardCommitAndRetry strategy AR-2586
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1016 fix(mls): only show established conversations in the conversation list (AR-2030)
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
Labels: type: bug / fix 🐞, 👕 size: XS

#1007 fix: missing system message when an adding member to a conversation AR-2572
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/AddMemberToConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/AddMemberToConversationUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#1019 fix: broken query for filtering non established MLS conversations
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
Labels: type: bug / fix 🐞, 👕 size: XS

#1018 fix: adjust asset upload to change in backend v2 api
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/authenticated/AssetApiV2.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v2/AssetApiV2Test.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1020 feat: reactions
  detekt/baseline.xml
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistReactionUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/reaction/ReactionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ToggleReactionUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiverTest.kt
  persistence/src/androidAndroidTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/DatabaseProperties.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Reactions.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/reaction/ReactionDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/reaction/ReactionMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/reaction/ReactionsEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/TableMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/util/FileNameUtil.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/util/JsonSerializer.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOBenchmarkTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageReactionsTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/reaction/ReactionDAOTest.kt
  persistence/src/iosX64Main/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/iosX64Main/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/iosX64Test/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/jsMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/jsMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/jsTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/jvmTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: XXL

#1021 feat(cli): remove-user command FS-577
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
Labels: 👕 size: S, type: feature ✨

#1023 refactor(cli): remove global CoreLogic and pass it via the context instead
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
Labels: 👕 size: S, type: refactoring 🛠

#1024 fix: avoid using unfinished API implementations AR-2592
  logic/src/commonTest/kotlin/com/wire/kalium/logic/configuration/ServerConfigRepositoryTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/BackendMetaDataUtil.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/common/BackendMetaDataUtilTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1029 fix: fail when trying to add a user without key packages to a group AR-2596
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/keypackage/KeyPackageRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/keypackage/KeyPackageRepositoryTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1022 feat: testservice can send manipulated files for testing client behaviour SQPIT-1412
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/DebugScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/SendBrokenAssetMessageUseCaseImpl.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/api/v1/ConversationResources.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/ConversationRepository.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/InstanceService.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#942 feat: switch auth server when switching to the WelcomeScreen after us…
  logic/src/commonMain/kotlin/com/wire/kalium/logic/GlobalKaliumScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/ServerConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/server/ServerConfigForAccountUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/session/GetSessionsUseCase.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#1025 chore: sendMessage with recipients parameter
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSender.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageTarget.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/MessageRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ClearConversationContentUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MessageSenderTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M

#1032 chore: cleanup send asset use case
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/SendAssetMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/SendAssetMessageUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M

#1033 chore: add project icon
  .gitignore
  .idea/icon.png
  README.md
Labels: type: chore 🧹, 👕 size: XS

#1026 chore: flowable users list (AR-2477)
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetAllContactsNotInConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/publicuser/GetAllContactsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/publicuser/search/SearchKnownUsersUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetAllContactsNotInTheConversationUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserConversationDAOIntegrationTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M

#1035 fix: add member not working
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ConversationApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/authenticated/ConversationApiV2.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/conversation/ConversationApiV0Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v2/ConversationApiV2Test.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1030 feat: store last generated prekey
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/prekey/PreKeyRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/prekey/PreKeyRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/PrekeyDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/PrekeyDAOTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#1036 feat: team member removed system message (AR-2477)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/TeamEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/TeamEventReceiverTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Members.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1038 fix: don't rank up conversation when user leaves conversation (AR-2559)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#1034 chore: calling target messages logic
  calling/src/androidMain/kotlin/com/wire/kalium/calling/callbacks/SendHandler.kt
  logic/src/androidAndroidTest/kotlin/com/wire/kalium/logic/feature/call/CallManagerTest.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/AvsCallBackError.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnHttpRequest.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantListChanged.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnSendOTR.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/mapper/CallMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/mapper/ParticipantMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeCommon.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/ParticipantMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestCall.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M

#1042 fix: resolution of generated protobuf code
  protobuf/build.gradle.kts
Labels: 👕 size: S, type: bug / fix 🐞

#1031 feat: testservice can send reactions SQPIT-1409
  testservice/src/main/kotlin/com/wire/kalium/testservice/api/v1/ConversationResources.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/ConversationRepository.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/models/SendReactionRequest.kt
Labels: 👕 size: S, type: feature ✨

#1039 chore: calling target messages epic
  calling/src/androidMain/kotlin/com/wire/kalium/calling/callbacks/SendHandler.kt
  logic/src/androidAndroidTest/kotlin/com/wire/kalium/logic/feature/call/CallManagerTest.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/AvsCallBackError.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnHttpRequest.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantListChanged.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnSendOTR.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/mapper/CallMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/mapper/ParticipantMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeCommon.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSender.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageTarget.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/ParticipantMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/MessageRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ClearConversationContentUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MessageSenderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestCall.kt
  network/src/commonJvmAndroid/kotlin/com/wire/kalium/network/api/base/authenticated/message/EnvelopeProtoMapperImpl.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: L

#1028 fix: implement ProteusClientProvider [AR-2577]
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/prekey/PreKeyRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/AuthenticatedDataSourceSet.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/ProteusClientProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeCommon.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/ClearUserDataUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/LogoutUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClearClientDataUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/GetOrRegisterClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/DebugScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageEnvelopeCreator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SessionEstablisher.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/prekey/PreKeyRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/GetOrRegisterClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MessageEnvelopeCreatorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SessionEstablisherTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiverTest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1043 test: sending and receiving reactions
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/protobuf/ProtoContentReactionMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/ToggleReactionUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/stub/ReactionRepositoryStub.kt
Labels: 🚨 Potential breaking changes, 👕 size: L, type: test 👷

#1044 feat: handling conversation muting event for incremental sync
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiverTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationEvent.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/NotificationApiV0.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1045 feat: Create usecase for checking is call running (AR-2560)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/IsCallRunningUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/IsCallRunningUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1049 fix: add member API endpoint doesn't include the domain on V0 and V1
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ConversationApiV0.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/conversation/ConversationApiV0Test.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#1052 fix: MissingClientRegistration after reopening the app
  cryptography/src/androidMain/kotlin/com/wire/kalium/cryptography/ProteusClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/ProteusClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/exceptions/ProteusException.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/ProteusClientTest.kt
  cryptography/src/iosX64Main/kotlin/com/wire/kalium/cryptography/ProteusClientImpl.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/ProteusClientImpl.kt
  cryptography/src/jvmMain/kotlin/com/wire/kalium/cryptography/ProteusClientImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/ProteusClientProvider.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1050 test: add tools to create databases for testing
  logic/build.gradle.kts
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/reaction/ReactionRepositoryTest.kt
  persistence-test/build.gradle.kts
  persistence-test/src/androidMain/AndroidManifest.xml
  persistence-test/src/androidMain/kotlin/com/wire/kalium/persistence/TestDatabaseManipulation.kt
  persistence-test/src/commonMain/kotlin/com/wire/kalium/persistence/TestGlobalDatabase.kt
  persistence-test/src/commonMain/kotlin/com/wire/kalium/persistence/TestUserDatabase.kt
  persistence-test/src/iosX64Main/kotlin/com/wire/kalium/persistence/TestDatabaseManipulation.kt
  persistence-test/src/jsMain/kotlin/com/wire/kalium/persistence/TestDatabaseManipulation.kt
  persistence-test/src/jvmMain/kotlin/com/wire/kalium/persistence/TestDatabaseManipulation.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/util/FileNameUtil.kt
Labels: 👕 size: L, type: test 👷

#1051 fix: crash with random failed asset downloads
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/AssetRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/asset/AssetRepositoryTest.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/asset/AssetApiV0Test.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#840 feat: Order call participants list (AR-1232)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallingParticipantsOrder.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/Participant.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/ParticipantsFilter.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/ParticipantsOrderByName.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeCommon.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/ParticipantsOrder.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/GetAllCallsWithSortedParticipantsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallingParticipantsOrderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/ParticipantsFilterTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/ParticipantsOrderByNameTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/GetAllCallsWithSortedParticipantsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/ParticipantsOrderTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#1056 test: use in-memory database for testing
  logic/src/commonTest/kotlin/com/wire/kalium/logic/test_util/TestKaliumDispatcher.kt
  persistence-test/src/androidMain/kotlin/com/wire/kalium/persistence/TestDatabaseManipulation.kt
  persistence-test/src/iosX64Main/kotlin/com/wire/kalium/persistence/TestDatabaseManipulation.kt
  persistence-test/src/jvmMain/kotlin/com/wire/kalium/persistence/TestDatabaseManipulation.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/iosX64Main/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
Labels: 👕 size: M, type: test 👷

#1057 chore: store the last performed slow sync (AR-2597)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/SlowSyncRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeCommon.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/sync/SlowSyncRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/ObserveSyncStateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/SyncManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/test_util/TestKaliumDispatcher.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M

#1046 refactor: extract user storage out of user session
  logic/src/androidMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/di/PlatformUserStorageProperties.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/di/PlatformUserStorageProvider.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/GlobalKaliumScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/UserStorageProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/AuthenticatedDataSourceSet.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeCommon.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/ClearUserDataUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/reaction/ReactionRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/sync/SlowSyncRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/ObserveSyncStateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/SyncManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManagerTest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/di/PlatformUserStorageProperties.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/di/PlatformUserStorageProvider.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
  persistence-test/src/androidMain/kotlin/com/wire/kalium/persistence/TestDatabaseManipulation.kt
  persistence-test/src/commonMain/kotlin/com/wire/kalium/persistence/TestUserDatabase.kt
  persistence-test/src/iosX64Main/kotlin/com/wire/kalium/persistence/TestDatabaseManipulation.kt
  persistence-test/src/jsMain/kotlin/com/wire/kalium/persistence/TestDatabaseManipulation.kt
  persistence-test/src/jvmMain/kotlin/com/wire/kalium/persistence/TestDatabaseManipulation.kt
  persistence/src/androidAndroidTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/kmmSettings/UserPrefBuilder.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/kmmSettings/UserPrefBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConnectionDaoTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserDAOTest.kt
  persistence/src/iosX64Main/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/iosX64Main/kotlin/com/wire/kalium/persistence/kmmSettings/UserPrefBuilder.kt
  persistence/src/iosX64Test/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/jsMain/kotlin/com/wire/kalium/persistence/kmmSettings/UserPrefBuilder.kt
  persistence/src/jsTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/kmmSettings/UserPrefBuilder.kt
  persistence/src/jvmTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: L, type: refactoring 🛠

#1059 refactor: rename all "full" sync to "slow" sync (AR-2597)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/SlowSyncRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeCommon.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncCriteriaProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncWorker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncCriteriaProviderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManagerTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: refactoring 🛠

#1047 refactor: conversation event processing AR-2620 - part 1
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeCommon.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/AddMemberToConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/CreateGroupConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/LeaveConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/RemoveMemberFromConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/DeletedConversationEventHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MLSWelcomeEventHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberChangeEventHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberJoinEventHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberLeaveEventHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/NewConversationEventHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/NewMessageEventHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/RenamedConversationEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/AddMemberToConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/CreateGroupConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/RemoveMemberFromConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MessageEnvelopeCreatorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiverTest.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: XXL

#1048 refactor: conversation event processing AR-2620 - part 2
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/CommitBundleEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MemberChangeResult.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeCommon.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/AddMemberToConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/LeaveConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/RemoveMemberFromConversationUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/AddMemberToConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/RemoveMemberFromConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/AddConversationMembersRequest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationMemberAddedResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationMemberChangeDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationMemberRemovedResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ConversationApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/authenticated/ConversationApiV2.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: refactoring 🛠

#1054 chore: add mls protobuf
  protobuf-codegen/src/main/proto/mls.proto
Labels: type: chore 🧹, 👕 size: S

#1060 chore: detekt rule for undocumented public use cases
  detekt-rules/src/main/java/com/wire/detekt/rules/DocumentedPublicUseCases.kt
  detekt-rules/src/main/java/com/wire/detekt/rules/EnforceSerializableFields.kt
  detekt-rules/src/main/java/com/wire/detekt/rules/RuleExtensions.kt
  detekt-rules/src/main/java/com/wire/detekt/rules/WireRuleSetProvider.kt
  detekt/baseline.xml
  detekt/detekt.yml
Labels: documentation, type: chore 🧹, 👕 size: M

#1061 refactor: make UserSessionScope class final
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: M

#1062 feat: restricted conference calling part1
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveIsConferenceCallingEnabledUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/SyncFeatureConfigsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/FeatureConfigEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/featureConfig/GetFeatureConfigsStatusUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/config/UserConfigStorage.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1064 feat: restricted conference calling part2
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/event/FeatureConfigMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveIsConferenceCallingEnabledUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/featureConfig/GetFeatureConfigsStatusUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/FeatureConfigEventReceiverTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/config/UserConfigStorageTest.kt
Labels: type: feature ✨, 👕 size: M

#1063 feat: perform SlowSync only once a week (AR-2597)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManagerTest.kt
Labels: type: feature ✨, 👕 size: M

#1065 feat: restricted conference calling
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/IsConferenceCallingEnabledUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/SyncFeatureConfigsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/FeatureConfigEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/event/FeatureConfigMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/IsConferenceCallingEnabledUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/featureConfig/GetFeatureConfigsStatusUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/FeatureConfigEventReceiverTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/config/UserConfigStorage.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/config/UserConfigStorageTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1067 fix: add member not working against API v2
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/authenticated/ConversationApiV2.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/conversation/ConversationApiV0Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v2/ConversationApiV2Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/EventContentDTOJson.kt
Labels: type: bug / fix 🐞, 👕 size: M

#1069 refactor: break up ConversationEventReceiverTest
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/DeletedConversationEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberChangeEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberJoinEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/NewConversationEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/NewMessageEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/RenamedConversationEventHandlerTest.kt
Labels: type: refactoring 🛠, 👕 size: XXL

#1027 chore: update README.md
  README.md
Labels: type: chore 🧹, 👕 size: XS

#1071 chore: upgrade core crypto to 0.6.0-pre1
  buildSrc/src/main/kotlin/Dependencies.kt
  cryptography/build.gradle.kts
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/MLSClient.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/MLSClientTest.kt
  cryptography/src/iosX64Main/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
Labels: type: chore 🧹, 👕 size: M

#1058 feat: kcall
  Makefile
  buildSrc/src/main/kotlin/Dependencies.kt
  calling/build.gradle.kts
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/Calling.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/ActiveSpeakersHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/AnsweredCallHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/CallConfigRequestHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/CallStateChangeHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/ClientsRequestHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/CloseCallHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/ConstantBitRateStateChangeHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/EstablishedCallHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/IncomingCallHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/LogHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/MetricsHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/MissedCallHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/NetworkQualityChangedHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/ParticipantChangedHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/ReadyHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/SFTRequestHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/SendHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/VideoReceiveStateHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/types/Size_t.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/types/Uint32_t.kt
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
  logic/build.gradle.kts
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/AvsCallBackError.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/AnswerCallUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/util/DateTimeUtil.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/AnswerCallUseCaseTest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnActiveSpeakers.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnAnsweredCall.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnClientsRequest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCall.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnConfigRequest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnEstablishedCall.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnHttpRequest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnIncomingCall.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnMissedCall.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnNetworkQualityChanged.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantListChanged.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantsVideoStateChanged.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnSFTRequest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnSendOTR.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: XXL

#1070 chore: add RootPathsProvider [AR-2591]
  logic/src/androidMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/di/PlatformRootPathsProvider.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/RootPathsProvider.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/di/PlatformRootPathsProvider.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
Labels: type: chore 🧹, 👕 size: S

#1072 chore: add PersistRegisteredClientIdUseCase [AR-2591]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/GetOrRegisterClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/PersistRegisteredClientIdUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/GetOrRegisterClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/PersistRegisteredClientIdUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M

#1008 chore: Replace isCreator by creatorId in ConversationViewEntity
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/type/UserType.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/functional/EitherFlow.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationDetailsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationAccessUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/1.sqm
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Members.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: XXL, DO NOT MERGE

#1076 feat: Receive mentions
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
Labels: 👕 size: S, type: feature ✨

#1078 refactor: break up CLIApplication into separate files
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
  cli/src/main/kotlin/com/wire/kalium/cli/CLIUtils.kt
  cli/src/main/kotlin/com/wire/kalium/cli/UserSessionScopeExtensions.kt
  cli/src/main/kotlin/com/wire/kalium/cli/commands/AddMemberToGroupCommand.kt
  cli/src/main/kotlin/com/wire/kalium/cli/commands/ConsoleCommand.kt
  cli/src/main/kotlin/com/wire/kalium/cli/commands/CreateGroupCommand.kt
  cli/src/main/kotlin/com/wire/kalium/cli/commands/DeleteClientCommand.kt
  cli/src/main/kotlin/com/wire/kalium/cli/commands/ListenGroupCommand.kt
  cli/src/main/kotlin/com/wire/kalium/cli/commands/LoginCommand.kt
  cli/src/main/kotlin/com/wire/kalium/cli/commands/RefillKeyPackagesCommand.kt
  cli/src/main/kotlin/com/wire/kalium/cli/commands/RemoveMemberFromGroupCommand.kt
Labels: type: refactoring 🛠, 👕 size: XXL

#1079 fix: logic for password required saml
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/IsPasswordRequiredUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/IsPasswordRequiredUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#1083 fix: logging [AR-1293]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/utils/ObfuscateUtil.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#1081 fix: login after current client id was removed (AR-2636)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/LogoutUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiverTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1084 chore: enable SQL syntax highlighting on GitHub for sq and sqm files
  .gitattributes
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
Labels: type: chore 🧹, 👕 size: XS

#1077 test: Receive mentions
  .github/workflows/gradle-android-tests.yml
  .github/workflows/gradle-ios-tests.yml
  .github/workflows/gradle-jvm-tests.yml
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/2.sqm
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageMentionsTest.kt
Labels: 👕 size: M, type: test 👷

#1085 feat: Receiving mentions part3
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/2.sqm
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1086 feat: receiving mentions
  .github/workflows/gradle-android-tests.yml
  .github/workflows/gradle-ios-tests.yml
  .github/workflows/gradle-jvm-tests.yml
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/2.sqm
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageMentionsTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1089 refactor: move migration files to dedicated directory
  persistence/src/commonMain/db_user/migrations/1.sqm
  persistence/src/commonMain/db_user/migrations/2.sqm
Labels: type: refactoring 🛠

#1073 feat: proteus client with encrypted storage AR-2196
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
  cryptography/src/androidMain/kotlin/com/wire/kalium/cryptography/ProteusClientCryptoBoxImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientCoreCryptoImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/MLSClient.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/MlsDBSecret.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/ProteusClient.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/ProteusDBSecret.kt
  cryptography/src/iosX64Main/kotlin/com/wire/kalium/cryptography/ProteusClientImpl.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/ProteusClientImpl.kt
  cryptography/src/jvmMain/kotlin/com/wire/kalium/cryptography/ProteusClientCryptoBoxImpl.kt
  cryptography/src/jvmTest/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/ProteusClientProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/featureFlags/KaliumConfigs.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/util/SecurityHelper.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1082 feat: migrate from unencrypted proteus to encrypted proteus
  cryptography/src/androidAndroidTest/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
  cryptography/src/androidMain/kotlin/com/wire/kalium/cryptography/ProteusClientCryptoBoxImpl.kt
  cryptography/src/androidTest/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientCoreCryptoImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/ProteusClient.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/ProteusClientTest.kt
  cryptography/src/iosX64Main/kotlin/com/wire/kalium/cryptography/ProteusClientImpl.kt
  cryptography/src/iosX64Test/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/ProteusClientImpl.kt
  cryptography/src/jsTest/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
  cryptography/src/jvmMain/kotlin/com/wire/kalium/cryptography/ProteusClientCryptoBoxImpl.kt
  cryptography/src/jvmTest/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
Labels: type: feature ✨, 👕 size: M

#1091 ci: add step to verify migrations
  .github/workflows/gradle-jvm-tests.yml
  persistence/src/commonMain/db_user/samples_for_migration_testing/2.db
  persistence/src/commonMain/db_user/samples_for_migration_testing/3.db
Labels: 👕 size: XS

#1092 chore: add quoted message id column (AR-2484)
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/db_user/migrations/3.sqm
  persistence/src/commonMain/db_user/samples_for_migration_testing/4.db
Labels: type: chore 🧹, 👕 size: XS

#1074 feat: handle conversation interaction availability (AR-2617)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationInteractionAvailabilityUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/functional/Either.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationInteractionAvailabilityUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversationDetails.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Members.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1090 feat(api-v3): adopt API-V3 as development api (AR-2663)
  network/src/commonMain/kotlin/com/wire/kalium/network/BackendMetaDataUtil.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/message/MLSMessageApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/MLSMessageApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/networkContainer/AuthenticatedNetworkContainerV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/authenticated/AccessTokenApiV2.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/authenticated/FeatureConfigApiV2.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/authenticated/KeyPackageApiV2.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/authenticated/MLSMessageApiV2.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/authenticated/MLSPublicKeyApiV2.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/AccessTokenApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/AssetApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/CallApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/ClientApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/ConnectionApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/ConversationApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/FeatureConfigApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/KeyPackageApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/LogoutApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/MLSMessageApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/MLSPublicKeyApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/MessageApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/NotificationApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/PreKeyApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/SelfApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/TeamsApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/UserDetailsApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/UserSearchApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/networkContainer/AuthenticatedNetworkContainerV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/unauthenticated/LoginApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/unauthenticated/RegisterApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/unauthenticated/SSOLoginApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/KaliumException.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/AuthenticatedNetworkContainer.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/UnauthenticatedNetworkContainer.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/message/MLSMessageApiV0Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v2/MLSMessageApiV2Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v3/MLSMessageApiV3Test.kt
Labels: 👕 size: XL, type: feature ✨

#1075 feat: migration conversations from scala (AR-2625)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/PersistMigratedConversationUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationAccessUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1094 refactor: split NewMessageEventHandler
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/MLSMessageUnpacker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/MessageUnpackResult.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/NewMessageEventHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ProteusMessageUnpacker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/NewMessageEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/MLSMessageUnpackerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/NewMessageEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ProteusMessageUnpackerTest.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: XXL
