Repository wireapp/kalium, pull requests merged in 2022-07, with the labels that each got.

#645 fix(calling): fix incoming call flow
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#647 chore: add more logs to handling of external messages (AR-1978)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiver.kt
Labels: type: chore 🧹, 👕 size: XS

#648 fix: incoming call screen sometimes not appearing for group calls
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/GetIncomingCallsUseCase.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#635 feat: get contacts that are not part of the conversation (AR-1699)
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetAllContactsNotInConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/publicuser/GetAllContactsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetAllContactsNotInTheConversationUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserConversationDAOIntegrationTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/ConversationStubs.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#646 fix: connection status in public contact [AR-1717]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/model/OtherUser.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/publicuser/SearchUsersUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchUserUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#642 feat: group members role [AR-1041]
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnClientsRequest.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MemberMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/AddMemberToConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/CreateGroupConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageEnvelopeCreator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SessionEstablisher.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MemberMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/event/EventRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/AddMemberToConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/CreateGroupConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationMembersUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MessageEnvelopeCreatorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MessageSenderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SessionEstablisherTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiverTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/AddParticipantRequest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationEvent.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/notification/EventContentDTO.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Members.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/MemberRoleAdapter.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserConversationDAOIntegrationTest.kt
  persistence/src/iosX64Main/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#651 fix: unknown users in system messages [AR-1909] [AR-1872]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestUser.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiverTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserDAOTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#653 feat: add compression support for ktor
  buildSrc/src/main/java/Dependencies.kt
  network/build.gradle.kts
  network/src/commonMain/kotlin/com/wire/kalium/network/AuthenticatedNetworkContainer.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/NetworkClient.kt
Labels: 👕 size: S, type: feature ✨

#655 fix: add creatorClient to create MLS conversation api
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationOptions.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/CreateGroupConversationUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/CreateGroupConversationUseCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/CreateConversationRequest.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/conversation/CreateConversationRequestJson.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#657 refactor: centralise event processing (AR-1924)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/event/EventProcessor.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/SyncManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/event/EventProcessorTest.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: M

#659 fix: edge cases old big accounts
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationApiImpl.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/CreateConversationRequest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#656 feat: avs federation calling support (AR-1680)
  logic/src/androidAndroidTest/kotlin/com/wire/kalium/logic/feature/call/CallManagerTest.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnClientsRequest.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnIncomingCall.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantListChanged.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/GlobalKaliumScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/ServerConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/id/FederatedIdMapperImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/configuration/ServerConfigRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/id/FederatedIdMapperTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Members.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#662 fix: parsing user type (AR-1182)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/type/UserTypeMapper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/DomainUserTypeMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserEntityTypeMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchUserUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#663 fix: avoid fetching team from non internal user (AR-1938)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/type/UserType.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/GetUserInfoUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/GetUserInfoUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/GetUserInfoUseCaseTestArrangement.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#660 feat: add use case for refilling key packages
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/keypackage/MLSKeyPackageCountUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/keypackage/RefillKeyPackageUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/keypackage/RefillKeyPackageUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#622 chore: detekt format rules
  .editorconfig
  README.md
  buildSrc/src/main/java/ProjectExtensions.kt
  detekt/baseline.xml
  detekt/detekt.yml
  gradle/detekt.gradle
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/MessageTextEditHandlerTest.kt
Labels: type: chore 🧹, 👕 size: XXL

#666 chore: make logout observable (AR-1924)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/logout/LogoutReason.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/logout/LogoutRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/LogoutUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/logout/LogoutRepositoryTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M

#650 feat: expose role to the app
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantListChanged.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/notification/LocalNotificationMessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/PublicUserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/model/OtherUser.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/model/UserSearchResult.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/team/TeamRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetAllContactsNotInConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationMembersUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveMemberDetailsByIdsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/publicuser/GetAllContactsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/publicuser/GetKnownUserUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/GetUserInfoUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/register/RegisterAccountRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/team/TeamRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetAllContactsNotInTheConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationMembersUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveMemberDetailsByIdsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/GetUserInfoUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/GetUserInfoUseCaseTestArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchKnownUserUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchUserDirectoryUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchUserUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestUser.kt
Labels: breaking change, 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#673 refactor: add availabilityStatus to user model
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveUserListByIdUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveMemberDetailsByIdsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: refactoring 🛠

#667 fix: Sent message moves conversation to the top
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/SendAssetMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/SendImageMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendTextMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/SendAssetMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/SendImageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestMessage.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiverTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#674 fix: rename observeUserListById
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#671 fix: conversations not loading on missing/deleted members (AR-2000)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCaseImpl.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#672 feat: none user type for personal accounts (AR-1881)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/type/UserType.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/type/UserTypeMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#615 refactor: use different passphrase for each user db
  cryptography/src/androidAndroidTest/kotlin/com/wire/kalium/cryptography/BaseMLSClientTest.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/MLSClient.kt
  cryptography/src/iosX64Main/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  cryptography/src/jvmTest/kotlin/com/wire/kalium/cryptography/BaseMLSClientTest.kt
  logic/build.gradle.kts
  logic/src/androidMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/data/client/MLSClientProviderImpl.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/util/Base64.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/util/SecureRandom.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/MLSClientProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/util/Base64.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/util/SecurityHelper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/SecurityHelperTest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/data/client/MLSClientProvider.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/util/Base64.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/util/SecureRandom.kt
  persistence/src/androidAndroidTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/androidAndroidTest/kotlin/com/wire/kalium/persistence/GlobalDBBaseTest.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/DBUtil.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabaseProvider.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabaseProvider.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  util/src/androidMain/kotlin/com.wire.kalium.util/FileUtil.kt
  util/src/commonMain/kotlin/com.wire.kalium.util/FileUtil.kt
  util/src/iosX64Main/kotlin/com.wire.kalium.util/FileUtil.kt
  util/src/jsMain/kotlin/com.wire.kalium.util/FileUtil.kt
  util/src/jvmMain/kotlin/com/wire/kalium/util/FileUtil.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: refactoring 🛠

#677 feat: update conversation access&access-role reuest [AR-1884]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/AddParticipantRequest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationApiImpl.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/model/ConversationAccessData.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/notification/EventContentDTO.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/conversation/ConversationApiTest.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/conversation/ConversationResponseJson.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/notification/EventContentDTOJson.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#678 refactor: rename access model and add access intof to conversation response
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/CreateConversationRequest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/model/ConversationAccessData.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/model/ConversationAccessDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/model/ConversationAccessRoleDTO.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/conversation/ConversationApiTest.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/conversation/ConversationResponseJson.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/conversation/CreateConversationRequestJson.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: M

#669 chore: add calls to database logic
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallMetadataProfile.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallProfile.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/DeleteAllCallsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/GetAllCallsWithSortedParticipantsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveEstablishedCallsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/call/CallDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: L

#680 fix: users not in conversation SQL query
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserConversationDAOIntegrationTest.kt
Labels: type: bug / fix 🐞, 👕 size: M

#681 feat: add access and access role to logic and storage module [AR-1884]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationOptions.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversationDetails.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationAdapter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/ConversationStubs.kt
  persistence/src/iosX64Main/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
Labels: breaking change, 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#670 chore: add calls to database tests
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/GetAllCallsWithSortedParticipantsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/UpdateVideoStateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/GetIncomingCallsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveOngoingCallsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestCall.kt
Labels: type: chore 🧹, 👕 size: XXL

#683 feat: user type in calls (AR-1940)
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantListChanged.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/Participant.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: XS

#682 chore: run instrumented test only on modules affected
  .github/workflows/gradle-android-tests.yml
  .github/workflows/gradle-ios-tests.yml
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/Android.kt
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/OnlyAffectedTestTask.kt
  buildSrc/src/main/kotlin/ProjectExtensions.kt
  buildSrc/src/main/kotlin/scripts/testing.gradle.kts
  detekt/baseline.xml
  detekt/detekt.yml
Labels: type: chore 🧹, 👕 size: L

#690 fix: dialog showing when user created [AR-2032]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/SyncFeatureConfigsUseCase.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#687 chore: add SyncCriteriaProvider (AR-1924)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncCriteriaProvider.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/SyncCriteriaProviderTest.kt
Labels: type: chore 🧹, 👕 size: M

#679 feat: Receive notification on connection request
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/notification/LocalNotification.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/notification/LocalNotificationMessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/connection/ConnectionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/connection/MarkConnectionRequestAsNotifiedUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Connections.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConnectionDaoTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#691 fix: email not passed to UserEntity
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserMapper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestUser.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#684 feat: refill key packages after sync
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/keypackage/KeyPackageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/keypackage/KeyPackageManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/keypackage/RefillKeyPackageUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/keypackage/KeyPackageRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/keypackage/KeyPackageManagerTests.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#686 chore: add calls to database
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallMetadataProfile.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallProfile.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/GetAllCallsWithSortedParticipantsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/IsLastCallClosedUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveEstablishedCallsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/GetAllCallsWithSortedParticipantsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/UpdateVideoStateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/GetIncomingCallsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveOngoingCallsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestCall.kt
  persistence/build.gradle.kts
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Calls.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/call/CallDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/call/CallDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/iosX64Main/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/jsMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseProvider.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: XXL

#697 chore: update core crypto
  buildSrc/src/main/kotlin/Dependencies.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/MLSClient.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/MLSClientTest.kt
  cryptography/src/iosX64Main/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
Labels: type: chore 🧹, 👕 size: M

#695 feat: handle default conversation access settings
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationAccessRoleUseCase.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/model/ConversationAccessInfoDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/model/ConversationAccessRoleDTO.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/conversation/ConversationApiTest.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/notification/EventContentDTOJson.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#698 chore: adjust call api url to v1 and not v0
  network/src/commonMain/kotlin/com/wire/kalium/network/api/call/CallApiImpl.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/call/CallApiTest.kt
Labels: type: chore 🧹, 👕 size: XS

#703 fix: app crash when updating conversation options when the app is offline
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationApiImpl.kt
Labels: 👕 size: S, type: bug / fix 🐞

#702 fix: logout use case stuck at updating the logout status channel
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/LogoutUseCase.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#706 fix: disconnect websocket on live events flow cancellation [AR-1924]
  network/src/commonMain/kotlin/com/wire/kalium/network/api/notification/NotificationApiImpl.kt
Labels: 👕 size: S, type: bug / fix 🐞

#707 feat: add connection keep alive setting
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/ConnectionPolicy.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/SyncRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/keypackage/KeyPackageManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/EventGatherer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ObserveSyncStateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SetConnectionPolicyUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/sync/SyncRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/keypackage/KeyPackageManagerTests.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/ConnectionPolicyIntegrationTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/EventGathererTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/SyncManagerTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/notification/NotificationApiImpl.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#692 feat: mark conversation as read (AR-939)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationReadDateUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#696 chore: migrate verbose logging now with flowId (AR-1872)
  logger/src/commonMain/kotlin/com/wire/kalium/logger/KaliumLogger.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/sync/WorkSchedulerImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/id/FederatedIdMapperImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/SyncRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageEnvelopeCreator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/SyncSelfTeamUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ConversationEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/EventGatherer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/PendingMessagesSenderWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SlowSyncWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/event/EventProcessor.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/sync/WorkSchedulerImpl.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/notification/NotificationApiImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/client/SessionStorage.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M

#713 feat: request strong box keystore for EncryptedSharedPreferences
  buildSrc/src/main/kotlin/Dependencies.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/kmm_settings/EncryptedSettingsHolder.kt
Labels: 👕 size: S, type: feature ✨

#714 chore: adjust calling logs
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnAnsweredCall.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnClientsRequest.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCall.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnConfigRequest.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnEstablishedCall.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnHttpRequest.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnIncomingCall.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnMissedCall.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnNetworkQualityChanged.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantListChanged.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnSFTRequest.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/scenario/OnSendOTR.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#694 fix: search public users use case is not taking search user option
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/publicuser/search/SearchUsersUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchUserUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#718 fix: multiple incoming call
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Calls.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/call/CallDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/call/CallDAOImpl.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#704 feat: permission to user type (AR-2002)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/PublicUserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/team/TeamPermission.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/team/TeamRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/type/UserType.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/type/UserTypeMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/AddMemberToConversationUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/team/TeamRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/DomainUserTypeMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserEntityTypeMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MessageSenderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestUser.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/model/ConversationAccessRoleDTO.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserDAOTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#711 feat: service user type (AR-1946)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/type/UserTypeMapper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/DomainUserTypeMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserEntityTypeMapperTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#710 feat: start sync automagically (AR-1924)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/logout/LogoutRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/SyncRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/keypackage/KeyPackageManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ObserveSyncStateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SlowSyncWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/sync/SyncRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/SyncManagerTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#705 feat: join existing MLS conversations on login AR-2060
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ProtocolInfoMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/AddMemberToConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/functional/Either.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SlowSyncWorker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ProtocolInfoMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/AddMemberToConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationAccessUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversationDetails.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/conversation/ConversationResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/KaliumException.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/NetworkErrorLabel.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/tools/json/api/conversation/ConversationResponseJson.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#709 feat: get unread conversation and messages count (AR-1516)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCaseImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationsAndConnectionsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/util/TimeParser.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationDetailsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationsAndConnectionsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversationDetails.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/MessageDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/ConversationStubs.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#717 fix: remove self user from public self user search
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/UserSearchApiWrapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/publicuser/search/SearchUsersUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/publicuser/UserSearchApiWrapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchKnownUserUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchUserUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#700 feat(calling): get active speaker in an ongoing call(AR-1766)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallMapperTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#721 fix: order of devices and conversation list [AR-2009] [AR-2070]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/SelfClientsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationsAndConnectionsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/SelfClientsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationsAndConnectionsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#729 feat: Add BlockUserUseCase
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/connection/BlockUserUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/connection/ConnectionScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/connection/BlockUserUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#731 fix: downloading self profile picture in sync
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/GetAvatarAssetUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#726 fix: too frequent conversation list updates
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/GetIncomingCallsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/connection/ObserveConnectionListUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationDetailsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCaseImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationsAndConnectionsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/GetIncomingCallsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationDetailsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M
