Repository wireapp/kalium, pull requests merged in 2023-06, with the labels that each got.

#1728 feat(mls-migration): fetch migration configuration every 24 hours #1
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/mlsmigration/MLSMigrationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/TimestampKeyRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/mlsmigration/MLSMigrationManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/event/FeatureConfigMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/mlsmigration/MLSMigrationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/mlsmigration/MLSMigrationManagerTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/featureConfigs/FeatureConfigResponse.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/featureConfig/FeatureConfigApiV0Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/FeatureConfigJson.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#1729 feat(mls-migration): migrate proteus conversations to "mixed" protocol #2
  cli/src/commonMain/kotlin/com/wire/kalium/cli/CLIApplication.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/mlsmigration/MLSMigrationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/MLSClientManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/mlsmigration/MLSMigrationManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/mlsmigration/MLSMigrationWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/mlsmigration/MLSMigrator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/featureFlags/KaliumConfigs.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/MLSClientManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/mlsmigration/MLSMigrationManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/mlsmigration/MLSMigratorTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/CreateConversationRequest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/UpdateConversationProtocolRequest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/UpdateConversationProtocolResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/model/ConversationProtocolDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/notification/EventContentDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ConversationApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/ConversationApiV4.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v4/ConversationApiV4Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/EventContentDTOJson.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: XXL

#1765 fix: Self deletion logic delegated to kalium Use Cases
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/web/WebMappers.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/ScheduleNewAssetMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationReadDateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/SyncFeatureConfigsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSendingInterceptor.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendTextMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/selfDeletingMessages/ObserveSelfDeletionTimerSettingsForConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/selfDeletingMessages/ObserveTeamSettingsSelfDeletingStatusUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/selfDeletingMessages/PersistNewSelfDeletionTimerUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/selfDeletingMessages/SelfDeletionMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/selfDeletingMessages/SelfDeletionTimer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/selfdeletingMessages/ObserveSelfDeletionTimerSettingsForConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/selfdeletingMessages/SelfDeletionMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/MarkSelfDeletionStatusAsNotifiedUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/FeatureConfigEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/util/CommonUtils.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/ScheduleNewAssetMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationAccessUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/featureConfig/SyncFeatureConfigsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SendTextMessageCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/selfDeletingMessages/ObserveSelfDeletingMessagesUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/FeatureConfigEventReceiverTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/migrations/40.sqm
  persistence/src/commonMain/db_user/migrations/41.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/config/UserConfigStorage.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/MetadataDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/MetadataDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/unread/UserConfigDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/DatabaseImporterTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/UserDatabaseDataGenerator.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/config/UserConfigDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/config/UserConfigStorageTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/ConversationStubs.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/ConversationRepository.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XXL

#1770 feat: retry failed message use case [AR-2188]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSender.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/RetryFailedMessageUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/RetryFailedMessageUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#1773 feat: start self delete after the message is sent
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/DebugScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSender.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ephemeral/EphemeralMessageDeletionHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MessageSenderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/ephemeral/EphemeralMessageDeletionHandlerTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1692 feat: interactive cli
  cli/build.gradle.kts
  cli/src/appleMain/kotlin/com/wire/kalium/cli/commands/ActionFlow.kt
  cli/src/appleMain/kotlin/com/wire/kalium/cli/commands/Command.kt
  cli/src/appleMain/kotlin/com/wire/kalium/cli/commands/InputAction.kt
  cli/src/appleMain/kotlin/com/wire/kalium/cli/commands/InputFlow.kt
  cli/src/appleMain/kotlin/com/wire/kalium/cli/commands/InteractiveCommand.kt
  cli/src/appleMain/kotlin/com/wire/kalium/cli/commands/RawMode.kt
  cli/src/appleMain/kotlin/com/wire/kalium/cli/commands/Widgets.kt
  cli/src/appleMain/kotlin/main.kt
  cli/src/commonMain/kotlin/com/wire/kalium/cli/UserSessionScopeExtensions.kt
  detekt/baseline.xml
  gradle/libs.versions.toml
  network/src/commonMain/kotlin/com/wire/kalium/network/NetworkClient.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/KaliumUserAgentProvider.kt
Labels: 👕 size: XL, type: feature ✨

#1775 fix: other participant leaving an MLS conference call WPB-349
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/SubconversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/PendingProposalScheduler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/PendingProposalSchedulerTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1727 fix: cancel the asset upload when the message is deleted
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/ScheduleNewAssetMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/ScheduleNewAssetMessageUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1776 fix: replace @Syncronized annotation with synchronized block and wrap the shared pref builder function in object
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/kmmSettings/EncryptedSettingsHolder.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/kmmSettings/GlobalPrefProvider.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/kmmSettings/UserPrefBuilder.kt
  persistence/src/appleMain/kotlin/com/wire/kalium/persistence/kmmSettings/EncryptedSettingsHolder.kt
  persistence/src/appleMain/kotlin/com/wire/kalium/persistence/kmmSettings/GlobalPrefProvider.kt
  persistence/src/appleMain/kotlin/com/wire/kalium/persistence/kmmSettings/UserPrefBuilder.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/kmmSettings/EncryptedSettingsHolder.kt
  persistence/src/jsMain/kotlin/com/wire/kalium/persistence/kmmSettings/EncryptedSettingsHolder.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/kmmSettings/EncryptedSettingsHolder.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/kmmSettings/GlobalPrefProvider.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/kmmSettings/UserPrefBuilder.kt
  persistence/src/jvmTest/kotlin/com/wire/kalium/persistence/EncryptedSettingsBuilderTest.kt
Labels: type: bug / fix 🐞, 👕 size: M

#1778 feat: support 2fa in the cli login command
  cli/src/commonMain/kotlin/com/wire/kalium/cli/commands/LoginCommand.kt
Labels: 👕 size: S, type: feature ✨

#1748 feat: Added methods to log self deletion info in a structured way [AR-3438]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/GetAssetSizeLimitUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/ScheduleNewAssetMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendTextMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/selfDeletingMessages/PersistNewSelfDeletionTimerUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/selfDeletingMessages/SelfDeletionTimer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/FeatureConfigEventReceiver.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1780 chore: another try to run dokka
  .github/workflows/generate-dokka.yml
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/CommonDokkaConfig.kt
Labels: type: chore 🧹, 👕 size: S

#1782 fix: Don't use debug version of cryptobox-android (SQPIT-1812)
  build.gradle.kts
  gradle/libs.versions.toml
  localrepo/com/wire/cryptobox-android/1.1.3-logging/cryptobox-android-1.1.3-logging.aar
  localrepo/com/wire/cryptobox-android/1.1.3-logging/cryptobox-android-1.1.3-logging.pom
  localrepo/com/wire/cryptobox-android/maven-metadata-local.xml
Labels: 👕 size: S, type: bug / fix 🐞

#1774 feat: conversation creation with offline backends (WPB-364)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/NewConversationMembersRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/NewConversationMembersRepositoryTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/model/ApiModelMapper.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/ConversationApiV4.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v4/ConversationApiV4Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/conversation/ConversationResponseJson.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1784 feat: use case for user domain lookup
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/auth/login/DomainLookupResult.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/auth/login/SSOLoginRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/appVersioning/ObserveIfAppUpdateRequiredUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/AuthenticationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/DomainLookupUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/autoVersioningAuth/AutoVersionAuthScopeUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/auth/login/SSOLoginRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/DomainLookupUseCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unauthenticated/DomainLookupApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/unauthenticated/DomainLookupApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/unauthenticated/DomainLookupApiV2.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV2.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/unauthenticated/DomainLookupApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/unauthenticated/DomainLookupApiV4.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV4.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/UnauthenticatedNetworkContainer.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1789 feat: default sso code use case
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/sso/FetchSSOSettingsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/sso/SSOLoginScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/sso/FetchSSOSettingsUseCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unauthenticated/SSOSettingsResponse.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1788 fix: crash while initialising CoreCrypto WPB-1923
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientCoreCryptoImpl.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1791 fix: immediately retry sync on connection policy upgrade
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManagerTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1781 fix: wrong missed call notification
  logic/src/androidAndroidTest/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCallTest.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCall.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/scenario/OnHttpRequest.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallMetadataProfile.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/EndCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestCall.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/feature/scenario/OnCloseCallTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: bug / fix 🐞

#1794 fix: self delete timer not starting after message is sent
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSender.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ephemeral/EphemeralMessageDeletionHandler.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1798 feat: add self delete message type to notifications
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/notification/LocalNotification.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Notification.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageNotificationsTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#1796 fix: crash when deleting a self delete asset message
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/ScheduleNewAssetMessageUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/ScheduleNewAssetMessageUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1799 feat: Allow testservice to set device model name
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCase.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/InstanceService.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#1803 fix: re-using previous proteus client after it has been deleted WPB-2289
  cryptography/src/androidMain/kotlin/com/wire/kalium/cryptography/ProteusClientCryptoBoxImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientCoreCryptoImpl.kt
  cryptography/src/jvmMain/kotlin/com/wire/kalium/cryptography/ProteusClientCryptoBoxImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/ProteusClientProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClearClientDataUseCase.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1800 feat: system messages for group creation event (WPB-1916)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/NewConversationMembersRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/NewGroupConversationStartedMessageCreator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/NewGroupConversationSystemMessagesCreator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/CreateGroupConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/NewConversationEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/NewConversationMembersRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/NewGroupConversationStartedMessageCreatorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/NewGroupConversationSystemMessagesCreatorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/CreateGroupConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/NewConversationEventHandlerTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#1726 fix: register new client if local crypto files are missing
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/NeedsToRegisterClientUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/NeedsToRegisterClientUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞, DO NOT MERGE

#1795 refactor: user mapper
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/PublicUserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/UserSearchApiWrapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/team/TeamRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/publicuser/UserSearchApiWrapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserMapperTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: L, type: refactoring 🛠

#1804 refactor: replace NewClientEventData with ClientDTO
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/remote/ClientRemoteRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/NewClientManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/client/ClientRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/NewClientManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/client/ClientApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/client/ClientDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/notification/EventContentDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/notification/user/ClientEventsData.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ClientApiV0.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/ClientResponseJson.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/NotificationEventsResponseJson.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: M

#1807 refactor: rename `wrapCryptoRequest` to be proteus specific
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/prekey/PreKeyRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/ProteusClientProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClearClientDataUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientFingerprintUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/LeaveSubconversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageEnvelopeCreator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SessionEstablisher.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ProteusMessageUnpacker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/corefailure/WrapProteusRequestTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: refactoring 🛠

#1785 fix: NewClient dialog flow (WPD-284)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/GlobalKaliumScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/UserClientRepositoryProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/LogoutUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/CleareNewClientsForUser.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/NewClientManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ObserveNewClientsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/client/ClientRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/LogoutUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/ObserveNewClientsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiverTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/NewClient.sq
  persistence/src/commonMain/db_user/migrations/42.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/newclient/NewClientDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/newclient/NewClientDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/TableMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/newclient/NewClientDAOTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: bug / fix 🐞

#1808 fix: system message from event, conversation creation, started by (WPB-1916)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/NewGroupConversationSystemMessagesCreator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/NewConversationEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/NewConversationEventHandlerTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1810 fix: timer start when self delete message failed to send
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSender.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MessageSenderTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1801 fix: exclude self deleting messages from backup
  persistence/src/androidAndroidTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/appleTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/DumpContent.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/db_user/migrations/42.sqm
  persistence/src/commonMain/db_user/migrations/43.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/backup/DatabaseExporter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/backup/DatabaseImporter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/DatabaseExporterTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/NukeDBTest.kt
  persistence/src/jsTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/jvmTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
Labels: 👕 size: XL, type: bug / fix 🐞

#1814 style: reorder join MLS conversation use case functions
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationUseCase.kt
Labels: 🚨 Potential breaking changes, 👕 size: S

#1813 fix: [RC] exclude self deleting messages from bckup
  persistence/src/androidAndroidTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/appleTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/DumpContent.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/db_user/migrations/42.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/backup/DatabaseExporter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/backup/DatabaseImporter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/DatabaseExporterTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/NukeDBTest.kt
  persistence/src/jsTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/jvmTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
Labels: 👕 size: XL, type: bug / fix 🐞

#1815 fix: duplicated conversation timer change event [WPB-286]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/ConversationMessageTimerEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/ConversationMessageTimerEventHandlerTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
Labels: type: bug / fix 🐞, 👕 size: M

#1816 fix: duplicated messages conversation creation (WPB-1916)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/NewConversationEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/NewConversationEventHandlerTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1817 feat(mls): handle wrong epoch error [WPB-1803]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/MLSWrongEpochHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/NewMessageEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/MLSWrongEpochHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/NewMessageEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/MockativeExt.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageInsertExtension.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
Labels: breaking change, 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1811 feat(mls-migration): handle protocol changed events #7
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/SystemMessageInserter.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/SyncConversationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/mlsmigration/MLSMigrator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UpdateSupportedProtocolsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/ProtocolUpdateEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/SyncConversationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/mlsmigration/MLSMigratorTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/notification/EventContentDTO.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/db_user/migrations/46.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageInsertExtension.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/TableMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#1818 fix(RC): delete message is sent to everyone in the conversation
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/EphemeralMessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/DebugScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ephemeral/DeleteEphemeralMessageForSelfUserAsReceiverUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/EphemeralRepositoryTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Clients.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/client/ClientDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#1819 chore: remove empty files
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/keypackage/KeyPackageApiV0Test.kt
Labels: type: chore 🧹

#1820 chore: codecov settings for patch diff files
  codecov.yml
Labels: type: chore 🧹, 👕 size: S

#1792 feat: update to draft 20 core crypto client
  cryptography/src/appleMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/E2EIClientImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientCoreCryptoImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/MLSClient.kt
  gradle/libs.versions.toml
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSCommitBundleMapper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/message/MLSMessageApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/MLSMessageApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/MLSMessageApiV4.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/message/MLSMessageApiV0Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v4/MLSMessageApiV4Test.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1830 fix: handle insertion of user with incomplete metadata at query level (WPB-411)
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1827 fix(RC): delete message is not handled correctly
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ephemeral/DeleteEphemeralMessageForSelfUserAsReceiverUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/ClearConversationContentHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/DeleteForMeHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/DeleteMessageHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/LastReadContentHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/MessageTextEditHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/ReceiptMessageHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetMessageByIdUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MessageSenderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/RetryFailedMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/handler/DeleteMessageHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/MessageTextEditHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ReceiptMessageHandlerTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: bug / fix 🐞

#1829 fix(RC): deciding if time passed to send the delete message is not accura…
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/JoinSubconversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/SendConfirmationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ephemeral/EphemeralMessageDeletionHandler.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageNotificationsTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1823 fix(testservice): exclude sensitive data from json output (WPB-2850)
  testservice/src/main/kotlin/com/wire/kalium/testservice/models/Instance.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#1838 fix(RC): include self user id when sending a delete message to a conversion
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/DebugScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ephemeral/DeleteEphemeralMessageForSelfUserAsReceiverUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/ephemeral/DeleteEphemeralMessageForSelfUserAsReceiverUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1840 chore: remove global team conversations
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ConversationApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/ConversationApiV3.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M

#1844 fix(RC): if self sent a delete message event to a conversation then messa…
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/DeleteMessageHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/handler/DeleteMessageHandlerTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1843 feat(federation): adding handling of failed to sent message in MLS (WPB-451)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/SendMessagePartialFailureMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSender.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/MessageRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/SendMessagePartialFailureMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MessageSenderTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/message/SendMLSMessageResponse.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1845 feat: temporary user [WPB-84]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/PublicUserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveSecurityClassificationLabelUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallingParticipantsOrderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/publicuser/UserSearchApiWrapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveSecurityClassificationLabelUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestUser.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/db_user/migrations/46.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/TableMapper.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/UserDatabaseDataGenerator.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/UserStubs.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1835 fix(DEV): delete message is sent to everyone in the conversation (#1818)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/EphemeralMessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/DebugScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ephemeral/DeleteEphemeralMessageForSelfUserAsReceiverUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/EphemeralRepositoryTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Clients.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/client/ClientDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#1842 chore: move MLS api implementations from v3 to v4
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/ConversationApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/ConversationApiV4.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v3/ConversationApiV3Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v4/ConversationApiV4Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/conversation/SubconversationDeleteRequestJson.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/conversation/SubconversationDetailsResponseJson.kt
Labels: type: chore 🧹, 👕 size: L

#1847 feat(mls): handle mls welcome event according to new spec (WPB-2178)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MLSWelcomeEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MLSWelcomeEventHandlerTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1846 fix: check conversation domain for classification banner [WPB-78]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/GetAvatarAssetUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/GetMessageAssetUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveSecurityClassificationLabelUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/GetMessageAssetUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/GetPublicAssetUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveSecurityClassificationLabelUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1825 chore: bump dependencies
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
Labels: type: chore 🧹, 👕 size: S
