Repository wireapp/kalium, pull requests merged in 2023-08, with the labels that each got.

#1918 feat(calling): update conversation clients when user is removed from conversation (WPB-3017)
  .github/workflows/gradle-android-tests.yml
  .github/workflows/gradle-ios-tests.yml
  .github/workflows/gradle-jvm-tests.yml
  detekt/baseline.xml
  logic/src/androidInstrumentedTest/kotlin/com/wire/kalium/logic/feature/call/CallManagerTest.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/scenario/OnClientsRequest.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/ConversationClientsInCallUpdater.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallOnConversationChangeUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/AnswerCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/ConversationClientsInCallUpdaterTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallOnConversationChangeUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/FlipToBackCameraUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/FlipToFrontCameraUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/GetAllCallsWithSortedParticipantsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/GetIncomingCallsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/IsCallRunningUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/MuteCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveOngoingCallsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/RejectCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/StartCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/UnMuteCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/UpdateVideoStateUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1936 feat(calling): update conversation clients when user is removed from conversation (RC-4.2)
  .github/workflows/gradle-android-tests.yml
  .github/workflows/gradle-ios-tests.yml
  .github/workflows/gradle-jvm-tests.yml
  detekt/baseline.xml
  logic/src/androidAndroidTest/kotlin/com/wire/kalium/logic/feature/call/CallManagerTest.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/scenario/OnClientsRequest.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/ConversationClientsInCallUpdater.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallOnConversationChangeUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/AnswerCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/ConversationClientsInCallUpdaterTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallOnConversationChangeUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/FlipToBackCameraUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/FlipToFrontCameraUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/GetAllCallsWithSortedParticipantsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/GetIncomingCallsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/IsCallRunningUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/MuteCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveOngoingCallsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/RejectCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/StartCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/UnMuteCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/UpdateVideoStateUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#1935 fix: duplicated timer change system message [WPB-286]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/ConversationMessageTimerEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/ConversationMessageTimerEventHandlerTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1938 fix: do not refetch asset on invalid request response
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/GetAvatarAssetUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/GetMessageAssetUseCase.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#1931 chore: print conflicts on cherry-pick
  .github/workflows/cherry-pick-rc-to-develop.yml
Labels: type: chore 🧹, 👕 size: XS

#1937 feat(calling): update conversation clients when user is removed from conversation(RC)
  .github/workflows/gradle-android-tests.yml
  .github/workflows/gradle-ios-tests.yml
  .github/workflows/gradle-jvm-tests.yml
  detekt/baseline.xml
  logic/src/androidInstrumentedTest/kotlin/com/wire/kalium/logic/feature/call/CallManagerTest.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/scenario/OnClientsRequest.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/ConversationClientsInCallUpdater.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallOnConversationChangeUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/AnswerCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/ConversationClientsInCallUpdaterTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallOnConversationChangeUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/FlipToBackCameraUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/FlipToFrontCameraUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/GetAllCallsWithSortedParticipantsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/GetIncomingCallsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/IsCallRunningUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/MuteCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveOngoingCallsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/RejectCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/StartCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/UnMuteCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/UpdateVideoStateUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#1942 fix: cherry-pick automation
  .github/workflows/cherry-pick-rc-to-develop.yml
Labels: 👕 size: S, type: bug / fix 🐞

#1941 fix: email of non-team users is cleared during sync
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/SyncContactsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserDAOTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1932 feat: Get and save clients mlsPublicKeys (WPB-2308)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientModel.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/client/ClientRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestClient.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Clients.sq
  persistence/src/commonMain/db_user/migrations/52.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/adapter/MLSPublicKeysAdapter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/client/ClientDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/TableMapper.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserClientDAOIntegrationTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/newclient/NewClientDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1944 refactor: rename field for send message partial failure mapping (WPB-3391)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/SendMessageFailureMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/SendMessagePartialFailureMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSender.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/MessageRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/SendMessageFailureMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/SendMessagePartialFailureMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MessageSenderTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/message/QualifiedSendMessageResponse.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/QualifiedSendMessageResponseJson.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: refactoring 🛠

#1945 fix: cp automation v2
  .github/workflows/cherry-pick-rc-to-develop.yml
Labels: 👕 size: S, type: bug / fix 🐞

#1946 feat: support joining conversation with password protected code [WPB-1531]
  cryptography/src/androidInstrumentedTest/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
  cryptography/src/appleTest/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/CheckConversationInviteCodeUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/JoinConversationViaCodeUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/asset/AssetRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/CheckConversationInviteCodeUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/JoinConversationViaCodeUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/model/ConversationCodeInfo.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/model/JoinConversationRequest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ConversationApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/ConversationApiV4.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/KaliumException.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/NetworkErrorLabel.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/conversation/ConversationApiV0Test.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1951 feat: update conversation call clients on member removal (RC-4.2) (WPB-3017)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallOnConversationChangeUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/UpdateConversationClientsForCurrentCallUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberLeaveEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallOnConversationChangeUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/UpdateConversationClientsForCurrentCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberJoinEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberLeaveEventHandlerTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1954 feat: cherry pick improvements
  .github/workflows/cherry-pick-rc-to-develop.yml
Labels: 👕 size: S, type: feature ✨

#1952 feat: update conversation call clients on member removal (RC)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallOnConversationChangeUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/UpdateConversationClientsForCurrentCallUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberLeaveEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallOnConversationChangeUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/UpdateConversationClientsForCurrentCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberJoinEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberLeaveEventHandlerTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1955 feat: update conversation clients on member removal (WPB-3017)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallOnConversationChangeUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/UpdateConversationClientsForCurrentCallUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberLeaveEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallOnConversationChangeUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/UpdateConversationClientsForCurrentCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberJoinEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberLeaveEventHandlerTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1953 feat(mls): establish one-to-one conversation [WPB-2258]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/RecoverMLSConversationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/mls/GetOrEstablishMLSOneToOneUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/mls/GetOrEstablishMLSOneToOneUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/ConversationRepositoryArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/usecase/JoinExistingMLSConversationUseCaseArrangement.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1950 feat: add use case to decide if a user can create password protected invite links [WPB-1531]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/ServerConfig.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/guestroomlink/CanCreatePasswordProtectedLinksUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/guestroomlink/CanCreatePasswordProtectedLinksUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/ServerConfigRepositoryArrangement.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1960 feat: handle code update and delete events
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/E2EIClientTest.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/CodeDeletedHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/CodeUpdatedHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/CodeDeletedHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/CodeUpdateHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/dao/ConversionDAOArrangement.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/guestroomlink/GetGuestRoomResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/notification/EventContentDTO.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/migrations/53.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1947 feat(monkeys): Implement base actions - WPB-3355
  gradle/libs.versions.toml
  monkeys/README.md
  monkeys/build.gradle.kts
  monkeys/example.json
  monkeys/schema.json
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/ActionScheduler.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/MonkeyApplication.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/Action.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/AddUserToConversationAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/CreateConversationAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/DestroyConversationAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/LeaveConversationAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/LoginAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/ReconnectAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/SendMessageAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/SendRequestAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/conversation/Monkey.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/conversation/MonkeyConversation.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/importer/TestData.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/pool/ConversationPool.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/pool/MonkeyPool.kt
  monkeys/src/test/kotlin/com/wire/kalium/monkeys/actions/AddUserToConversationActionTest.kt
  monkeys/src/test/kotlin/com/wire/kalium/monkeys/actions/LeaveConversationActionTest.kt
  monkeys/src/test/kotlin/com/wire/kalium/monkeys/actions/LoginActionTest.kt
  monkeys/src/test/kotlin/com/wire/kalium/monkeys/actions/SendMessageActionTest.kt
  monkeys/src/test/kotlin/com/wire/kalium/monkeys/actions/SendRequestActionTest.kt
Labels: type: feature ✨, 👕 size: XXL

#1963 fix: check only for read receipt instead of delivery included
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/MessageDetailsView.sq
  persistence/src/commonMain/db_user/migrations/52.sqm
Labels: Fix PR Title 🤦‍♂️, type: bug / fix 🐞, 👕 size: XS

#1959 chore: add logging details of unknown events
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/notification/EventContentDTO.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#1961 feat: handle non federated domain connection request (WPB-2219)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/connection/SendConnectionRequestUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/connection/SendConnectionRequestUseCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ConnectionApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/ConnectionApiV4.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/ConversationApiV4.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/KaliumException.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/NetworkErrorLabel.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/utils/NetworkUtils.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v4/ConnectionApiV4Test.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1956 chore: more arrangement classes
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/dao/MemberDAOArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/ConnectionRepositoryArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/ConversationRepositoryArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/UserRepositoryArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/usecase/PersistMessageUseCaseArrangement.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/member/MemberDAO.kt
Labels: type: chore 🧹, 👕 size: M

#1967 fix: duplicated timer change system message [WPB-286] (#1935)
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/E2EIClientTest.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/ConversationMessageTimerEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/ConversationMessageTimerEventHandlerTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1965 feat(monkeys): Implement base actions - WPB-3355 (#1947)
  gradle/libs.versions.toml
  monkeys/README.md
  monkeys/build.gradle.kts
  monkeys/example.json
  monkeys/schema.json
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/ActionScheduler.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/MonkeyApplication.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/Action.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/AddUserToConversationAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/CreateConversationAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/DestroyConversationAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/LeaveConversationAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/LoginAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/ReconnectAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/SendMessageAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/SendRequestAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/conversation/Monkey.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/conversation/MonkeyConversation.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/importer/TestData.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/pool/ConversationPool.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/pool/MonkeyPool.kt
  monkeys/src/test/kotlin/com/wire/kalium/monkeys/actions/AddUserToConversationActionTest.kt
  monkeys/src/test/kotlin/com/wire/kalium/monkeys/actions/LeaveConversationActionTest.kt
  monkeys/src/test/kotlin/com/wire/kalium/monkeys/actions/LoginActionTest.kt
  monkeys/src/test/kotlin/com/wire/kalium/monkeys/actions/SendMessageActionTest.kt
  monkeys/src/test/kotlin/com/wire/kalium/monkeys/actions/SendRequestActionTest.kt
Labels: type: feature ✨, 👕 size: XXL

#1966 test: federation delete [WPB-1816]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/mention/MessageMentionMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/FederationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/MessageMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/FederationEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/ConnectionRepositoryArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/ConversationRepositoryArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/UserRepositoryArrangement.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Members.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/member/MemberDAO.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/MemberDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserDAOTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XXL, type: test 👷

#1973 test: cover some missed parts of sync with unit test - PART 1 (WPB-3471)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/BackupScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/RestoreWebBackupUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/SyncConversationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/SyncSelfUserUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncRecoveryHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/RestartSlowSyncProcessForRecoveryUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncRecoveryHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncWorker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/backup/RestoreWebBackupUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncRecoveryHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/handler/ButtonActionConfirmationHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/handler/DeleteMessageHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/slow/RestartSlowSyncProcessForRecoveryUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncWorkerTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: test 👷

#1975 chore: enable fetching and uploading of prekeys [WPB-3552]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/prekey/PreKeyRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/prekey/PreKeyRepositoryTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/prekey/PreKeyApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/prekey/PreKeyDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/PreKeyApiV0.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/prekey/PrekeyApiV0Test.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M

#1977 fix: Remove Lazy from Global DB/Preferences (WPB-3147)
  logic/src/androidMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/GlobalKaliumScope.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  persistence/src/androidInstrumentedTest/kotlin/com/wire/kalium/persistence/kmmSettings/EncryptedSettingsBuilderTest.kt
Labels: type: bug / fix 🐞, 👕 size: M

#1978 ci: disable coverage reports for 3rd modules
  build.gradle.kts
Labels: 👕 size: S

#1974 test: cover some missed classes of sync with unit test - PART 2 (WPB-3472)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/SlowSyncRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/sync/IncrementalSyncRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/sync/SlowSyncRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/MissingMetadataUpdateManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/ObserveSyncStateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/PendingMessagesSenderWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/SyncManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/FeatureConfigEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/TeamEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/UserPropertiesEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberChangeEventHandlerTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: test 👷

#1971 feat: E2EI renew logic (WPB-3326)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/E2EISettings.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/SyncFeatureConfigsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/MarkEnablingE2EIAsNotifiedUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/ObserveE2EIRequiredUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/FeatureConfigEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/MarkEnablingE2EIAsNotifiedUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/ObserveE2EIRequiredUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/config/UserConfigStorage.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/kmmSettings/KaliumPreferences.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M, DO NOT MERGE

#1980 feat(monkeys): Create users automatically for the test [WPB-3682]
  gradle/libs.versions.toml
  monkeys/README.md
  monkeys/build.gradle.kts
  monkeys/example.json
  monkeys/schema.json
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/MonkeyApplication.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/CreateConversationAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/SendMessageAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/SendRequestAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/importer/TestData.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/importer/TestDataImporter.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/importer/UserData.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/pool/ConversationPool.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/pool/MonkeyPool.kt
  monkeys/src/test/kotlin/com/wire/kalium/monkeys/actions/SendRequestActionTest.kt
Labels: type: feature ✨, 👕 size: L

#1972 feat: handle system messages for new response while creating a conversation (WPB-3657)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/AddingMembersFailureMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/NewConversationMembersRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/NewGroupConversationSystemMessagesCreator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/AddingMembersFailureMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/NewGroupConversationSystemMessagesCreatorTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/utils/HttpErrorCodes.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/utils/NetworkUtils.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v4/ConversationApiV4Test.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1926 feat: handle new backend implementation for creating conversation and adding participants nfcg and unreachable (WPB-3207)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/AddingMembersFailureMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/NewConversationMembersRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/NewGroupConversationSystemMessagesCreator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/AddingMembersFailureMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/NewGroupConversationSystemMessagesCreatorTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/model/ApiModelMapper.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/model/ErrorResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/ConversationApiV4.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/KaliumException.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/utils/HttpErrorCodes.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/utils/NetworkUtils.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v4/ConversationApiV4Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/EventContentDTOJson.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/conversation/ConversationResponseJson.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#1982 feat: create password protected conv invite link
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/guestroomlink/GenerateGuestRoomLinkUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/guestroomlink/GenerateGuestRoomLinkUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/eventHandler/CodeDeletedHandlerArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/eventHandler/CodeUpdatedHandlerArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/ConversationGroupRepositoryArrangement.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/guestroomlink/ConversationInviteLinkResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/notification/EventContentDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/model/GenerateGuestLinkRequest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ConversationApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/ConversationApiV4.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/conversation/ConversationApiV0Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/EventContentDTOJson.kt
  persistence/src/commonMain/db_user/migrations/54.sqm
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#1985 feat: propagate if a guest link is password protected
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGuestLink.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationAccessRoleUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/guestroomlink/ObserveGuestRoomLinkUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationAccessUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/guestroomlink/ObserveGuestRoomLinkUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationGuestLinkEntity.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1987 chore: security classification when self user [WPB-3715]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetOtherUserSecurityClassificationLabelUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOtherUserSecurityClassificationLabelUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#1990 fix: system message with failed to add users if none could be added
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/NewGroupConversationSystemMessagesCreator.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/NewGroupConversationSystemMessagesCreatorTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1992 fix: BAD CPU error when generating protobuf
  gradle/libs.versions.toml
  protobuf-codegen/build.gradle.kts
Labels: type: bug / fix 🐞, 👕 size: XS

#1988 fix: multiple defederation system message [WPB-3912]
  gradle/libs.versions.toml
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/member/ConversationsWithMembers.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/FederationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/FederationEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/ConversationRepositoryArrangement.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Members.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/member/MemberDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/member/MemberEntity.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/MemberDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserDAOTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#1991 chore: create a way to refill Proteus prekeys [WPB-3552]
  cryptography/src/androidMain/kotlin/com/wire/kalium/cryptography/ProteusClientCryptoBoxImpl.kt
  cryptography/src/appleMain/kotlin/com/wire/kalium/cryptography/ProteusClientCoreCryptoImpl.kt
  cryptography/src/appleMain/kotlin/com/wire/kalium/cryptography/ProteusClientImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientCoreCryptoImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/ProteusClient.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/ProteusClientTest.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/ProteusClientImpl.kt
  cryptography/src/jvmMain/kotlin/com/wire/kalium/cryptography/ProteusClientCryptoBoxImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/prekey/PreKeyRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/BreakSessionUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/proteus/ProteusPreKeyRefiller.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/prekey/PreKeyRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/proteus/ProteusPreKeyRefillerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/PreKeyRepositoryArrangement.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/PrekeyDAO.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/PrekeyDAOTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: chore 🧹

#2003 fix: group conversations with null name are not visible in the conversations screen [WPB-3986]
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/migrations/51.sqm
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: type: bug / fix 🐞, 👕 size: M

#1993 feat: choose 1:1 protocol [WPB-2181]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/SyncConversationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/protocol/OneOnOneProtocolSelector.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/SyncConversationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/protocol/OneOnOneProtocolSelectorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/UserRepositoryArrangement.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#2004 feat(proteus): periodically refill prekeys when live [WPB-3552]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/prekey/PreKeyRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/proteus/ProteusSyncWorker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/prekey/PreKeyRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/proteus/ProteusSyncWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/IncrementalSyncRepositoryArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/PreKeyRepositoryArrangement.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#2007 chore: bump sync version
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManager.kt
Labels: type: chore 🧹, 👕 size: XS

#1995 feat: check supported protocols when creating/fetching team 1-1
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/SyncFeatureConfigsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/FeatureConfigEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/event/FeatureConfigMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/mlsmigration/MLSMigrationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/featureConfig/SyncFeatureConfigsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/UpdateSupportedProtocolsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/FeatureConfigEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/protocol/OneOnOneProtocolSelectorArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/ConversationGroupRepositoryArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/ConversationRepositoryArrangement.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/featureConfigs/FeatureConfigResponse.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/FeatureConfigJson.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/NotificationEventsResponseJson.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/config/UserConfigStorage.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/config/UserConfigStorageTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#1996 feat: certificate pinning
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/GlobalKaliumScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/appVersioning/ObserveIfAppUpdateRequiredUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/AuthenticationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/featureFlags/KaliumConfigs.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/StartCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/PendingProposalSchedulerTest.kt
  network/src/appleMain/kotlin/com/wire/kalium/network/defaultHttpEngine.kt
  network/src/commonJvmAndroid/kotlin/com/wire/kalium/network/HttpEngine.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/HttpEngine.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/networkContainer/AuthenticatedNetworkContainerV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/authenticated/networkContainer/AuthenticatedNetworkContainerV2.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV2.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/networkContainer/AuthenticatedNetworkContainerV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/networkContainer/AuthenticatedNetworkContainerV4.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV4.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/AuthenticatedNetworkContainer.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/UnauthenticatedNetworkContainer.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/UnboundNetworkContainer.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/session/SessionManager.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/ApiTest.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/InstanceService.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#2011 feat: move mls specific endpoints to v5 and enable dev support pt.2 (WPB-1124)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/featureFlags/FeatureSupportImpl.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/BackendMetaDataUtil.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/e2ei/E2EIApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ConversationApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/KeyPackageApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/MLSMessageApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/MLSPublicKeyApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/ConversationApiV4.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/E2EIApiV4.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/KeyPackageApiV4.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/MLSMessageApiV4.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/MLSPublicKeyApiV4.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/networkContainer/AuthenticatedNetworkContainerV4.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v5/authenticated/ConversationApiV5.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v5/authenticated/E2EIApiV5.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v5/authenticated/KeyPackageApiV5.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v5/authenticated/MLSMessageApiV5.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v5/authenticated/MLSPublicKeyApiV5.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v4/ConversationApiV4Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v5/ConversationApiV5Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v5/E2EIApiV5Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v5/KeyPackageApiV5Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v5/MLSMessageApiV5Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v5/MLSPublicKeysApiV5Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/conversation/SubconversationDetailsResponseJson.kt
Labels: 👕 size: XL, type: feature ✨

#1999 chore: add tests to and update Android NetworkStateObserverImpl [WPB-3470]
  .github/workflows/gradle-android-instrumented-tests.yml
  .github/workflows/gradle-android-unit-tests.yml
  buildSrc/src/main/kotlin/OnlyAffectedTestTask.kt
  cryptography/build.gradle.kts
  cryptography/src/androidUnitTest/kotlin/com/wire/kalium/cryptography/BaseMLSClientTest.kt
  cryptography/src/androidUnitTest/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
  cryptography/src/androidUnitTest/kotlin/com/wire/kalium/cryptography/IgnoreAndroidInstrumented.kt
  cryptography/src/androidUnitTest/kotlin/com/wire/kalium/cryptography/IgnoreIOS.kt
  cryptography/src/androidUnitTest/kotlin/com/wire/kalium/cryptography/IgnoreJS.kt
  cryptography/src/androidUnitTest/kotlin/com/wire/kalium/cryptography/IgnoreJvm.kt
  cryptography/src/androidUnitTest/kotlin/com/wire/kalium/cryptography/readBinaryResource.kt
  gradle/libs.versions.toml
  logic/build.gradle.kts
  logic/src/androidMain/kotlin/com/wire/kalium/logic/network/NetworkStateObserverImpl.kt
  logic/src/androidUnitTest/kotlin/com/wire/kalium/logic/network/NetworkStateObserverImplTest.kt
  logic/src/androidUnitTest/kotlin/com/wire/kalium/logic/util/IgnoreIOS.kt
  network/build.gradle.kts
  network/src/androidUnitTest/kotlin/com/wire/kalium/api/tools/IgnoreIOS.kt
  persistence/build.gradle.kts
  persistence/src/androidUnitTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/androidUnitTest/kotlin/com/wire/kalium/persistence/GlobalDBBaseTest.kt
  persistence/src/androidUnitTest/kotlin/com/wire/kalium/persistence/utils/IgnoreIOS.kt
  persistence/src/androidUnitTest/kotlin/com/wire/kalium/persistence/utils/IgnoreJvm.kt
  util/src/androidUnitTest/kotlin/com/wire/kalium/util/string/IgnoreIOS.kt
  util/src/androidUnitTest/kotlin/com/wire/kalium/util/string/IgnoreJS.kt
Labels: type: chore 🧹, 👕 size: XXL

#2018 chore: bump avs to 9.4.10
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#2020 fix: search does not ignore case while performing search
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/publicuser/search/SearchKnownUsersUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/publicuser/search/SearchPublicUsersUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchKnownUserUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchUserUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2006 feat(monkeys): Allow to split clients per test cases [WPB-4332]
  monkeys/README.md
  monkeys/schema.json
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/ActionScheduler.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/MonkeyApplication.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/Action.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/AddUserToConversationAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/CreateConversationAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/DestroyConversationAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/LeaveConversationAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/LoginAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/ReconnectAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/SendMessageAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/SendRequestAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/conversation/Monkey.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/homeDirectory.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/importer/TestData.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/pool/ConversationPool.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/pool/MonkeyPool.kt
  monkeys/src/test/kotlin/com/wire/kalium/monkeys/actions/AddUserToConversationActionTest.kt
  monkeys/src/test/kotlin/com/wire/kalium/monkeys/actions/LeaveConversationActionTest.kt
  monkeys/src/test/kotlin/com/wire/kalium/monkeys/actions/LoginActionTest.kt
  monkeys/src/test/kotlin/com/wire/kalium/monkeys/actions/SendMessageActionTest.kt
  monkeys/src/test/kotlin/com/wire/kalium/monkeys/actions/SendRequestActionTest.kt
Labels: type: feature ✨, 👕 size: L

#2012 feat: resolve one-on-one conversation to either proteus or mls
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/SlowSyncStatus.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/mls/OneOnOneMigrator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/mls/OneOnOneResolver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncWorker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/mls/OneOnOneMigratorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/mls/OneOnOneResolverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/UserRepositoryArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/mls/OneOnOneMigratorArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/mls/OneOnOneResolverArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/ConversationRepositoryArrangement.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#2017 fix: conversations with null name are placed on the top of the conv list
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 👕 size: S, type: bug / fix 🐞
