Repository wireapp/kalium, pull requests merged in 2023-05, with the labels that each got.

#1624 feat(e2ei): update core crypto to 0.8.2
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/E2EIClientImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/E2EIClient.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/MLSClient.kt
  cryptography/src/darwinMain/kotlin/com/wire/kalium/cryptography/E2EIClientImpl.kt
  cryptography/src/darwinMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/E2EIClientImpl.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  gradle/libs.versions.toml
Labels: type: feature ✨, 👕 size: M

#1686 fix: revoke guest link when removing guest access [AR-3282]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationAccessRoleUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationAccessUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1687 ci: run dokka on buildjet
  .github/workflows/generate-dokka.yml
Labels: 👕 size: S

#1661 feat: handle sender receiver ephemeral deletion logic (part 1)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/ScheduleNewAssetMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ephemeral/DeleteEphemeralMessageForSelfUserAsReceiverUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ephemeral/DeleteEphemeralMessageForSelfUserAsSenderUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ephemeral/EphemeralMessageDeletionHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandler.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1688 fix: revoke guest link when removing guest access [AR-3282]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationAccessRoleUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationAccessUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1689 feat: fetch whitelisted services from remote
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/team/TeamRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/team/TeamRepositoryTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/TeamsApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/model/ServiceDetailResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/TeamsApiV0.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/json/model/ErrorResponseJson.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/teams/TeamsApiV0Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/ServiceDetailsResponseJson.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1690 chore: rename bot entity
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/PublicUserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserMapper.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/adapter/BotServiceAdapter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M

#1694 fix: request content type and fix jackson self-reference cycle
  testservice/src/main/kotlin/com/wire/kalium/testservice/api/v1/ClientResources.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/api/v1/ConversationResources.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/api/v1/InstanceLifecycle.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/InstanceService.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/models/Instance.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1695 fix: failed field should be optional when listing users
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/userDetails/UserProfileDTO.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v4/UserDetailsApiV4Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/ListUsersResponseJson.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1696 fix: Not receiving notifications after logout login (AN-3374)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/ObserveValidAccountsUseCase.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1697 chore: bump AVS version to 9.2.13
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#1693 feat: Add Observe Service Details UseCase and Repository
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/service/ServiceDetails.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/service/ServiceMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/service/ServiceRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/service/ObserveServiceDetailsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/SyncSelfTeamUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/TeamScope.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1703 feat: bots integration tests
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/team/TeamRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/service/ServiceMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/team/TeamRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/service/ObserveServiceDetailsUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ServiceDAO.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ServiceDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1702 fix: [RC] missing messages after migration from android scala
  persistence/src/commonMain/db_user/migrations/33.sqm
Labels: type: bug / fix 🐞, 👕 size: M

#1706 feat(e2ei): refactor e2eiClient
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/E2EIClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/E2EIClient.kt
  cryptography/src/darwinMain/kotlin/com/wire/kalium/cryptography/E2EIClientImpl.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/E2EIClientImpl.kt
Labels: type: feature ✨, 👕 size: M

#1707 feat(network): add option to ignore ssl certificates
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/featureFlags/KaliumConfigs.kt
  network/src/commonJvmAndroid/kotlin/com/wire/kalium/network/HttpEngine.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/HttpEngine.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/networkContainer/AuthenticatedNetworkContainerV4.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/AuthenticatedNetworkContainer.kt
  network/src/darwinMain/kotlin/com/wire/kalium/network/defaultHttpEngine.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#1710 chore: upgrade agp to 7.4.1
  android/build.gradle.kts
  android/src/main/kotlin/com/wire/kalium/KaliumApplication.kt
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/CommonAndroidConfig.kt
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/Multiplatform.kt
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: S

#1711 chore: reduce sync min retry to 1s
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManagerTest.kt
Labels: type: chore 🧹, 👕 size: S

#1665 feat: add support to bind UI with self deleting settings [AR-1000]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/SyncFeatureConfigsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ephemeral/DeleteEphemeralMessageForSelfUserAsReceiverUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ephemeral/DeleteEphemeralMessageForSelfUserAsSenderUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ephemeral/EphemeralMessageDeletionHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/selfdeletingMessages/ObserveSelfDeletingMessagesUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/selfdeletingMessages/ObserveSelfDeletionTimerSettingsForConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/selfdeletingMessages/ObserveTeamSettingsSelfDeletingStatusUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/selfdeletingMessages/PersistNewSelfDeletionTimerUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/selfdeletingMessages/SelfDeletionMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/selfdeletingMessages/SelfDeletionTimer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/MarkSelfDeletingMessagesChangeAsNotifiedUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/MarkSelfDeletionStatusAsNotifiedUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/FeatureConfigEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/featureConfig/SyncFeatureConfigsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/ephemeral/EphemeralMessageDeletionHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/selfDeletingMessages/ObserveSelfDeletingMessagesUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/FeatureConfigEventReceiverTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/featureConfigs/FeatureConfigResponse.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/config/UserConfigStorage.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/config/UserConfigStorageTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: XXL

#1698 feat: offline backends - users metadata (AR-3124)
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 👕 size: S, type: feature ✨

#1683 feat: add test to sender / receiver ephemeral deletion
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/ephemeral/EphemeralMessageDeletionHandlerTest.kt
Labels: type: feature ✨, 👕 size: L

#1718 feat: self deleting messages group settings [AR-3226]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/web/WebEventContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/web/WebMappers.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/messagetimer/UpdateMessageTimerUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/SyncFeatureConfigsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/selfdeletingMessages/ObserveSelfDeletionTimerSettingsForConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/selfdeletingMessages/SelfDeletionMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/selfdeletingMessages/SelfDeletionTimer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/FeatureConfigEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/ConversationMessageTimerEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationAccessUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/selfDeletingMessages/ObserveSelfDeletingMessagesUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/messagetimer/ConversationMessageTimerDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/notification/EventContentDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ConversationApiV0.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/db_user/migrations/38.sqm
  persistence/src/commonMain/db_user/schemas/34.db
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageInsertExtension.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/TableMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/DatabaseImporterTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/UserDatabaseDataGenerator.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/ConversationStubs.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#1724 fix: map zero duration to a null value for message expiration
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/ScheduleNewAssetMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendTextMessageUseCase.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1713 feat: Better cleanup process of testservice instances
  testservice/Jenkinsfile
  testservice/config.yml
  testservice/src/main/kotlin/com/wire/kalium/testservice/TestserviceApplication.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/TestserviceConfiguration.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/InstanceService.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/models/Instance.kt
  testservice/src/test/kotlin/com/wire/kalium/testservice/InstanceServiceTest.kt
Labels: type: feature ✨, 👕 size: M

#1714 feat: Add GetConversationUnreadEventsCount useCase (AR-2998)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetConversationUnreadEventsCountUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetConversationUnreadEventsCountUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/UnreadEvents.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1725 fix: ephemeral message deletion
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1730 fix: trigger slow sync when it is needed after app update [AR-3424]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/SlowSyncRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/SyncFeatureConfigsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/sync/SlowSyncRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManagerTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1704 chore: update sqlDelight to 2.0.0-alpha05
  gradle/libs.versions.toml
  logic/build.gradle.kts
  logic/src/commonMain/kotlin/com/wire/kalium/logic/network/SessionManagerImpl.kt
  persistence/build.gradle.kts
  persistence/src/androidAndroidTest/kotlin/com/wire/kalium/persistence/dao/message/MessageExtensionsTest.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/dao/message/MessageExtensions.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
Labels: type: chore 🧹, 👕 size: M

#1739 fix: remove the usage of atomic fu form SessionManager
  logic/build.gradle.kts
  logic/src/commonMain/kotlin/com/wire/kalium/logic/network/SessionManagerImpl.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1742 fix: pager not updating
  persistence/src/androidAndroidTest/kotlin/com/wire/kalium/persistence/dao/message/MessageExtensionsTest.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/dao/message/MessageExtensions.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1741 fix: DEV delayed notification
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/SyncManagerTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1735 chore: bump mockative to 1.4.1
  gradle/libs.versions.toml
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/properties/UserPropertyRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/backup/RestoreWebBackupUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/ObserveNewClientsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ClearConversationContentTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/JoinSubconversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SendConfirmationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/GetUserInfoUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/ObserveUserInfoUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchKnownUserUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncRecoveryHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/MessageTextEditHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncRecoveryHandlerTest.kt
Labels: type: chore 🧹, 👕 size: S

#1744 fix: call muted after some seconds when joining a call (AR-3418)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/AnswerCallUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/GetAllCallsWithSortedParticipantsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/MuteCallUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/UnMuteCallUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/AnswerCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/GetAllCallsWithSortedParticipantsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/MuteCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/UnMuteCallUseCaseTest.kt
Labels: Fix PR Title 🤦‍♂️, 🚨 Potential breaking changes, 👕 size: M

#1736 feat(offline-backends): users and conversations without metadata refetch pt1. (AR-3123)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/publicuser/RefreshUsersWithoutMetadataUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/RefreshUsersWithoutMetadataUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/db_user/migrations/38.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1732 fix: end calls when logout from the background
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/LogoutUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveEstablishedCallsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/LogoutUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/EndCallUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1746 fix: save group message timer on sync
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManager.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1745 fix: removed special characters from backup file name [AR-3415]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/BackupConstants.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/backup/BackupConstantsTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1733 chore: bump ktor 2.3.0 and okHttp 4.10.0
  gradle/libs.versions.toml
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationTypeSerializer.kt
Labels: type: chore 🧹, 👕 size: S

#1743 refactor: store assets locally before the upload and when it fails [AR-2408]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/AssetRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/GetMessageAssetUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/ScheduleNewAssetMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/DebugScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSendFailureHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSender.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendEditTextMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendKnockUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendTextMessageUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/asset/AssetRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/prekey/MessageSendFailureHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/GetMessageAssetUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/ScheduleNewAssetMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MessageSenderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SendEditTextMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SendKnockUserCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SendTextMessageCaseTest.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: XXL

#1734 chore: bump multiplatform-settings 1.0.0
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#1751 fix: service search by name is looking only exacg name and add unit test to ServiceRepository
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/service/ServiceRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/service/ObserveAllServicesUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/service/ObserveIsServiceMemberUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/service/SearchServicesByNameUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/service/ServiceRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/service/ObserveIsServiceMemberUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Service.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ServiceDAO.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#1750 fix: Duplicate Message error when receiving a mention that does not contain user id (AR-3006)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/id/IdMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/mention/MessageMentionMapper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/MessageMentionMapperTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageInsertExtension.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1754 fix: file sharing dialog is displayed after first install (AR-3150)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/SyncFeatureConfigsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/featureConfig/SyncFeatureConfigsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1758 feat: testservice can break sessions on purpose (SQPIT-1606)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/BreakSessionUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/DebugScope.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/api/v1/ClientResources.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/InstanceService.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/models/BreakSessionRequest.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/models/SendSessionResetRequest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1755 fix: crash when changing email while offline
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/SelfApiV0.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1761 fix: run operations on worker thread
  logic/src/commonMain/kotlin/com/wire/kalium/logic/GlobalKaliumScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/ServerConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/AddAuthenticatedUserUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/VerifyBackupUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/StartCallUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCase.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/kmmSettings/EncryptedSettingsHolder.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1759 fix: add extension to assets without it [AR-3261, AR-2929, AR-3482]
  gradle/libs.versions.toml
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/Asset.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/AssetRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/GetMessageAssetUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/asset/AssetRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/GetMessageAssetUseCaseTest.kt
  util/build.gradle.kts
  util/src/androidMain/kotlin/com.wire.kalium.util/MimeTypeUtil.kt
  util/src/appleMain/kotlin/com.wire.kalium.util/MimeTypeUtil.kt
  util/src/commonMain/kotlin/com.wire.kalium.util/MimeTypeUtil.kt
  util/src/jsMain/kotlin/com.wire.kalium.util/MimeTypeUtil.kt
  util/src/jvmMain/kotlin/com/wire/kalium/util/MimeTypeUtil.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1764 fix: edited message pending state and creation time [AR-3495] [AR-3496]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSender.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendEditTextMessageUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MessageSenderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SendEditTextMessageUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1760 feat: testservice can send and receive ephemeral messages (SQPIT-1807)
  testservice/src/main/kotlin/com/wire/kalium/testservice/api/v1/ConversationResources.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/ConversationRepository.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/models/SendEphemeralConfirmationDeliveredRequest.kt
Labels: type: feature ✨, 👕 size: M

#1771 fix: testservice did not start up anymore because of slf4j dependency
  testservice/build.gradle.kts
Labels: type: bug / fix 🐞, 👕 size: XS

#1762 feat: new conversation creation system message started with (AR-910)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/NewConversationMembersRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/NewGroupConversationStartedMessageCreator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/NewConversationMembersRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/NewGroupConversationStartedMessageCreatorTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageInsertExtension.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/TableMapper.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨
