Repository wireapp/kalium, pull requests merged in 2023-04, with the labels that each got.

#1612 fix: pass quoted message id even if it's not in db [AR-3238]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/db_user/migrations/33.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1608 fix(develop): refactor asset types
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1610 feat: Broadcast self availability status to others (AR-1752)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MemberMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/BroadcastMessage.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/DebugScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/BroadcastMessageOption.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/BroadcastMessageTarget.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageEnvelopeCreator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSender.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UpdateSelfAvailabilityStatusUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/MessageRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MarkMessagesAsNotifiedUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MessageEnvelopeCreatorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MessageSenderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestMessage.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/message/MessageApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/MessageApiV0.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/client/ClientDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: XXL

#1601 feat: backup DB migration
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/support/SupportOpenHelperFactory.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/backup/DatabaseImporter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/DatabaseImporterTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/receipt/ReceiptDAOTest.kt
  persistence/src/darwinMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/jsMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
Labels: type: feature ✨, 👕 size: M

#1615 chore: add outcome to event logging
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#1620 chore: add advanced stale config for issues and labels
  .github/workflows/stale-issues-and-pr.yml
Labels: type: chore 🧹, 👕 size: S

#1616 chore: update workManager dependency to 2.8.1
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#1634 fix: stuck on connecting because of onBlockedStatusChanged [AR-3269]
  logic/src/androidMain/kotlin/com/wire/kalium/logic/network/NetworkStateObserverImpl.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#1635 fix: stuck on connecting because of onBlockedStatusChanged [AR-3269]
  logic/src/androidMain/kotlin/com/wire/kalium/logic/network/NetworkStateObserverImpl.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#1638 chore: improve generic failure logging
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/AddAuthenticatedUserUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/LoginUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/autoVersioningAuth/AutoVersionAuthScopeUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/sso/GetSSOLoginSessionUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/sso/SSOFinalizeLoginUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/sso/SSOInitiateLoginUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/sso/SSOMetaDataUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/sso/SSOSettingsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/DeleteClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/FetchSelfClientsFromRemoteUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ObserveClientDetailsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/VerifyExistingClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/keypackage/MLSKeyPackageCountUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/publicuser/search/SearchUsersResult.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/server/FetchApiVersionUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/server/GetServerConfigUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/server/ObserveServerConfigUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/server/StoreServerConfigUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/session/SessionResult.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/DeleteTeamConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/webSocketStatus/ObservePersistentWebSocketConnectionStatusUseCase.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/KaliumException.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#1621 fix: disabling guest links from team strings is not propagated to the UI
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/guestroomlink/MarkGuestLinkFeatureFlagAsNotChangedUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/guestroomlink/MarkGuestLinkFeatureFlagAsNotChangedUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/config/UserConfigStorage.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/config/UserConfigStorageTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1641 chore: logs for network state observer
  logic/src/androidMain/kotlin/com/wire/kalium/logic/network/NetworkStateObserverImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/network/NetworkStateObserver.kt
Labels: type: chore 🧹, 👕 size: S

#1643 chore: improve event logging
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: XS

#1637 chore: bump AVS version to 9.2.7
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#1627 chore: remove unused Client name
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientModel.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: XS

#1630 chore(rc): add video mime types
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/Asset.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: XS

#1648 fix: [RC] read receipts cancellation (AR-3169)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationReadDateUseCase.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1629 chore(dev): add video mime types
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/Asset.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: XS

#1649 fix: [DEV] read receipts cancellation (AR-3169)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationReadDateUseCase.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1646 fix: [DEV] accept Text/Plain content type for custom server config
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unbound/configuration/ServerConfigApi.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1640 fix: Message not received when there 2 mentions of self (AR-3302) (RC)
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#1639 fix: Message not received when there 2 mentions of self (AR-3302)
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#1613 feat: pack expiration data for a ephemeral message
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageEnvelopeCreator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendTextMessageUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapperTest.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/ConversationRepository.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1636 feat(calling): add CBR config to call object (AR-1369)
  logic/src/androidAndroidTest/kotlin/com/wire/kalium/logic/feature/call/CallManagerTest.kt
  logic/src/androidAndroidTest/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCallTest.kt
  logic/src/androidAndroidTest/kotlin/com/wire/kalium/logic/feature/call/scenario/OnIncomingCallTest.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/scenario/OnIncomingCall.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallMetadataProfile.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/mapper/CallMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/Call.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/EndCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/GetAllCallsWithSortedParticipantsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/MuteCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/UnMuteCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/UpdateVideoStateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/IsCallRunningUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveOngoingCallsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestCall.kt
  logic/src/darwinMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/call/CallDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/call/CallDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1653 fix(dev): logout properly after expired session [AR-3307]
  logic/src/androidMain/kotlin/com/wire/kalium/logic/di/PlatformRootPathsProvider.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/RootPathsProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/AuthenticatedDataSourceSet.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/GetOrRegisterClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/network/SessionManagerImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncRecoveryHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/GetOrRegisterClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncRecoveryHandlerTest.kt
  logic/src/darwinMain/kotlin/com/wire/kalium/logic/di/PlatformRootPathsProvider.kt
  logic/src/darwinMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/darwinMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/di/PlatformRootPathsProvider.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#1642 chore: logs for network state observer
  logic/src/androidMain/kotlin/com/wire/kalium/logic/network/NetworkStateObserverImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/network/NetworkStateObserver.kt
Labels: type: chore 🧹, 👕 size: S

#1658 chore: cleanup unused KaliumConfigs
  logic/src/commonMain/kotlin/com/wire/kalium/logic/featureFlags/KaliumConfigs.kt
Labels: type: chore 🧹, 👕 size: XS

#1660 feat: add support for v4 list-users endpoint new contract (AR-3322)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/publicuser/SearchUserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/userDetails/UserDetailsApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/userDetails/UserProfileDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/UserDetailsApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/UserDetailsApiV4.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/json/model/QualifiedIDSamples.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/user/details/UserDetailsApiV0Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v4/UserDetailsApiV4Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/ListUsersRequestJson.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/ListUsersResponseJson.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1663 chore: cleanup unused KaliumConfigs
  logic/src/commonMain/kotlin/com/wire/kalium/logic/featureFlags/KaliumConfigs.kt
Labels: type: chore 🧹, 👕 size: XS

#1659 chore: bump avs version
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#1664 chore: upgrade kotlin to 1.8.20
  gradle/libs.versions.toml
  kotlin-js-store/yarn.lock
Labels: type: chore 🧹, 👕 size: L

#1666 fix: jailbreak use case operator modifier
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/rootDetection/CheckSystemIntegrityUseCase.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#1669 fix: increase socket timeout (AR-3344) (develop)
  network/src/commonJvmAndroid/kotlin/com/wire/kalium/network/HttpEngine.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/NetworkClient.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1674 fix: crash during root verification
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/rootDetection/RootDetectorImpl.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1675 chore: update android-security to 1.1.0-alpha06
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#1677 chore: raise minSdk to Android 8 API 26 (RC)
  buildSrc/src/main/kotlin/Android.kt
Labels: type: chore 🧹, 👕 size: XS

#1679 ci: escape environment variables in generate-changelog.yml (AR-2928)
  .github/workflows/generate-changelog.yml
Labels: 👕 size: XS

#1678 chore: raise minSdk to Android 8 (API 26) (develop)
  buildSrc/src/main/kotlin/Android.kt
Labels: type: chore 🧹, 👕 size: XS

#1680 feat: Support 2FA login on testservice (SQPIT-1744)
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/InstanceService.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/models/InstanceRequest.kt
Labels: 👕 size: S, type: feature ✨

#1682 fix: improve TooManyRequests failure result on 2FA code request (AR-3365)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/verification/RequestSecondFactorVerificationCodeUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/verification/RequestSecondFactorVerificationCodeUseCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/KaliumException.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1662 feat: offline backends - handling list-prekeys failed to list (AR-3171)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/prekey/UsersWithoutSessions.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSender.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageTarget.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/MessageRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MessageSenderTest.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/feature/scenario/OnHttpRequestTest.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/feature/scenario/OnSendOTRTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/message/EnvelopeProtoMapper.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/message/MessageApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/MessageApiV0.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/message/EnvelopeProtoMapperTest.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/message/MessageApiV0Test.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨
