Repository wireapp/kalium, pull requests merged in 2023-01, with the labels that each got.

#1291 ci: speed up CI builds
  .github/workflows/codestyle.yml
  .github/workflows/generate-dokka.yml
  .github/workflows/gradle-android-tests.yml
  .github/workflows/gradle-ios-tests.yml
  .github/workflows/gradle-jvm-tests.yml
  buildSrc/src/main/kotlin/OnlyAffectedTestTask.kt
  gradle.properties
Labels: 👕 size: S

#1292 fix: app stuck at loading screen after migration
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/server/StoreServerConfigUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/server/StoreServerConfigUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1293 fix: asset messages content can be overwritten by id
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1295 feat: join conversation via invite link
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/model/JoinConversationRequest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ConversationApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/authenticated/ConversationApiV2.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/conversation/ConversationApiV0Test.kt
Labels: type: feature ✨, 👕 size: M

#1300 fix: convert use case of classified security label to observe changes (AR-2710)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetSecurityClassificationTypeUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveSecurityClassificationLabelUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveSecurityClassificationLabelUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1294 chore: move detekt to external project and migrate config to plugin (AR-2904)
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/ProjectExtensions.kt
  buildSrc/src/main/kotlin/scripts/detekt.gradle.kts
  buildSrc/src/main/kotlin/scripts/testing.gradle.kts
  detekt-rules/build.gradle.kts
  detekt-rules/src/main/java/com/wire/detekt/rules/DocumentedPublicUseCases.kt
  detekt-rules/src/main/java/com/wire/detekt/rules/EnforceSerializableFields.kt
  detekt-rules/src/main/java/com/wire/detekt/rules/RuleExtensions.kt
  detekt-rules/src/main/java/com/wire/detekt/rules/WireRuleSetProvider.kt
  detekt-rules/src/main/resources/META-INF/services/io.gitlab.arturbosch.detekt.api.RuleSetProvider
  gradle/detekt.gradle
Labels: type: chore 🧹, 👕 size: M

#1277 chore: upgrade core crypto 0.6.0 AR-2197
  cryptography/src/androidMain/kotlin/com/wire/kalium/cryptography/ProteusClientCryptoBoxImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientCoreCryptoImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/IDs.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/ProteusClient.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/SessionIDTest.kt
  cryptography/src/iosX64Main/kotlin/com/wire/kalium/cryptography/ProteusClientImpl.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/ProteusClientImpl.kt
  cryptography/src/jvmMain/kotlin/com/wire/kalium/cryptography/ProteusClientCryptoBoxImpl.kt
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: M

#1268 feat: add cookie to create client request
  cli/src/main/kotlin/com/wire/kalium/cli/CLIApplication.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/auth/login/LoginRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/register/RegisterAccountRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/session/SessionMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/session/SessionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/AuthSession.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/AuthenticationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/LoginUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/register/RegisterAccountUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/auth/login/LoginRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/client/ClientRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/register/RegisterAccountRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/session/SessionMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/AddAuthenticatedUserUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/LoginUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/register/RegisterAccountUseCaseTest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/client/ClientRequest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/model/SessionDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/model/Tokens.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unauthenticated/LoginApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unauthenticated/register/RegisterApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/unauthenticated/LoginApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/unauthenticated/RegisterApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/unauthenticated/SSOLoginApiV0.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/TestSessionManagerV0.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/json/model/TestCredentials.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/user/login/LoginApiV0Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/RegisterAccountJson.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/RegisterClientRequestJson.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/client/AuthTokenStorage.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/client/AuthTokenStorageTest.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/InstanceService.kt
Labels: breaking change, 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#1303 test: add unit tests to AuthTokenStorage
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/client/AuthTokenStorage.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/client/AuthTokenStorageTest.kt
Labels: 👕 size: S, type: test 👷

#1298 feat: join conversation via invite link usecase
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/JoinConversationViaCodeUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/JoinConversationViaCodeUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/model/LimitedConversationInfo.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ConversationApiV0.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1305 chore: disable explicitNulls in persistence json serializer
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/util/JsonSerializer.kt
Labels: type: chore 🧹, 👕 size: XS

#1306 feat: check invite code usecase
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/CheckConversationInviteCodeUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/CheckConversationInviteCodeUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/test_util/TestNetworkException.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/KaliumException.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/NetworkErrorLabel.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1301 fix(rc): ghost calls after restoring backup from other client [AR-2893]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/RestoreBackupUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/backup/RestoreBackupUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/backup/DatabaseImporter.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/RestoreBackupTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1302 fix(dev): ghost calls after restoring backup from other client [AR-2893]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/RestoreBackupUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/backup/RestoreBackupUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/backup/DatabaseImporter.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/RestoreBackupTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1307 fix(dev): convert use case of classified security label to observe changes (AR-2710)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetSecurityClassificationTypeUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveSecurityClassificationLabelUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveSecurityClassificationLabelUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1311 fix(notification): clean up on notifications and connections dao (AR-2898)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAOImpl.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1309 feat: Group Conversation - Receipt Mode System Message
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/CreateGroupConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/NewConversationEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/MessageRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/CreateGroupConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/NewConversationEventHandlerTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/db_user/migrations/24.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/TableMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#1315 feat: change user display name (AR-1068)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UpdateDisplayNameUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/UpdateDisplayNameUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1317 refactor: use a shared source set for all apple targets
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/CommonDarwinConfig.kt
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/LibraryPlugin.kt
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/Multiplatform.kt
  calling/build.gradle.kts
  cryptography/build.gradle.kts
  cryptography/src/darwinMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  cryptography/src/darwinMain/kotlin/com/wire/kalium/cryptography/ProteusClientImpl.kt
  cryptography/src/darwinMain/kotlin/com/wire/kalium/cryptography/utils/CryptoUtils.kt
  cryptography/src/darwinTest/kotlin/com/wire/kalium/cryptography/BaseMLSClientTest.kt
  cryptography/src/darwinTest/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
  cryptography/src/darwinTest/kotlin/com/wire/kalium/cryptography/IgnoreAndroidInstrumented.kt
  cryptography/src/darwinTest/kotlin/com/wire/kalium/cryptography/IgnoreIOS.kt
  cryptography/src/darwinTest/kotlin/com/wire/kalium/cryptography/IgnoreJS.kt
  cryptography/src/darwinTest/kotlin/com/wire/kalium/cryptography/readBinaryResource.kt
  cryptography/src/iosX64Main/kotlin/com/wire/kalium/cryptography/ProteusClientImpl.kt
  logger/build.gradle.kts
  logic/build.gradle.kts
  network/build.gradle.kts
  network/src/darwinMain/kotlin/com/wire/kalium/network/api/base/authenticated/message/provideEnvelopeProtoMapper.kt
  network/src/darwinMain/kotlin/com/wire/kalium/network/api/base/unauthenticated/appVersioning/AppVersionBlackListResponse.kt
  network/src/darwinMain/kotlin/com/wire/kalium/network/defaultHttpEngine.kt
  network/src/darwinTest/kotlin/com/wire/kalium/api/tools/IgnoreIOS.kt
  persistence/build.gradle.kts
  persistence/src/darwinMain/kotlin/com/wire/kalium/persistence/dao/message/MessageExtensions.kt
  persistence/src/darwinMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabaseProvider.kt
  persistence/src/darwinMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/darwinMain/kotlin/com/wire/kalium/persistence/kmmSettings/EncryptedSettingsHolder.kt
  persistence/src/darwinMain/kotlin/com/wire/kalium/persistence/kmmSettings/GlobalPrefProvider.kt
  persistence/src/darwinMain/kotlin/com/wire/kalium/persistence/kmmSettings/UserPrefBuilder.kt
  persistence/src/darwinTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/darwinTest/kotlin/com/wire/kalium/persistence/GlobalDBBaseTest.kt
  persistence/src/darwinTest/kotlin/com/wire/kalium/persistence/utils/IgnoreIOS.kt
  persistence/src/darwinTest/kotlin/com/wire/kalium/persistence/utils/IgnoreJvm.kt
  persistence/src/darwinTest/test.db
  util/src/darwinMain/kotlin/com.wire.kalium.util/FileUtil.kt
  util/src/darwinMain/kotlin/com.wire.kalium.util/KaliumDispatcherImpl.kt
  util/src/darwinMain/kotlin/com.wire.kalium.util/PlatformDateTimeUtil.kt
  util/src/darwinMain/kotlin/com.wire.kalium.util/string/toUTF16BEByteArray.kt
  util/src/darwinTest/kotlin/com/wire/kalium/util/string/IgnoreIOS.kt
  util/src/darwinTest/kotlin/com/wire/kalium/util/string/IgnoreJS.kt
Labels: 👕 size: L, type: refactoring 🛠

#1318 fix(notification): limit notifications to 10 messages when fetching messages from repo
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1316 chore: clean up KaliumConfig
  logic/src/commonMain/kotlin/com/wire/kalium/logic/featureFlags/KaliumConfigs.kt
Labels: type: chore 🧹, 👕 size: S

#1323 chore: upgrade ktor to 2.2.2
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#1319 feat: add missing network implementations for Darwin platforms
  network/src/commonJvmAndroid/kotlin/com/wire/kalium/network/api/base/authenticated/message/EnvelopeProtoMapperImpl.kt
  network/src/commonJvmAndroid/kotlin/com/wire/kalium/network/api/base/authenticated/message/OtrClientIdMapper.kt
  network/src/commonJvmAndroid/kotlin/com/wire/kalium/network/api/base/authenticated/message/OtrUserIdMapperImpl.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/message/EnvelopeProtoMapper.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/message/OtrClientEntryMapper.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/message/OtrClientIdMapper.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/message/OtrUserIdMapper.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/networkContainer/AuthenticatedNetworkContainerV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/authenticated/networkContainer/AuthenticatedNetworkContainerV2.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/networkContainer/AuthenticatedNetworkContainerV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/utils/NetworkResponse.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/message/EnvelopeProtoMapperTest.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/message/MessageApiV0Test.kt
  network/src/darwinMain/kotlin/com/wire/kalium/network/api/base/authenticated/message/OtrUserIdMapperImpl.kt
  network/src/darwinMain/kotlin/com/wire/kalium/network/api/base/authenticated/message/provideEnvelopeProtoMapper.kt
Labels: type: feature ✨, 👕 size: M

#1330 chore: add ide support for cross-platform development
  build.gradle.kts
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#1328 feat: add missing Darwin implementation for util module
  util/src/darwinMain/kotlin/com.wire.kalium.util/FileUtil.kt
Labels: type: feature ✨, 👕 size: XS

#1331 fix(notification): limit notifications to 10 messages when fetching messages from repo [DEV]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1329 feat: add missing Darwin implementation for persistence module
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/RestoreBackupTest.kt
  persistence/src/darwinMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabaseProvider.kt
  persistence/src/darwinMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/darwinMain/kotlin/com/wire/kalium/persistence/kmmSettings/GlobalPrefProvider.kt
  persistence/src/darwinMain/kotlin/com/wire/kalium/persistence/kmmSettings/UserPrefBuilder.kt
  persistence/src/darwinTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/darwinTest/kotlin/com/wire/kalium/persistence/GlobalDBBaseTest.kt
Labels: type: feature ✨, 👕 size: M

#1326 feat: add missing Darwin implementations for the cryptography module
  cryptography/build.gradle.kts
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/MLSClientTest.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/ProteusClientTest.kt
  cryptography/src/darwinMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  cryptography/src/darwinMain/kotlin/com/wire/kalium/cryptography/ProteusClientCoreCryptoImpl.kt
  cryptography/src/darwinMain/kotlin/com/wire/kalium/cryptography/ProteusClientImpl.kt
  cryptography/src/darwinTest/kotlin/com/wire/kalium/cryptography/BaseMLSClientTest.kt
  cryptography/src/darwinTest/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
  gradle/libs.versions.toml
Labels: 👕 size: XL, type: feature ✨

#1325 fix: execute db queries on io CoroutineContext
  logic/src/androidAndroidTest/kotlin/com/wire/kalium/logic/data/message/MessageRepositoryExtensionsTest.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/ServerConfigRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/configuration/ServerConfigRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/server/StoreServerConfigUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/server/UpdateApiVersionUseCaseTest.kt
  persistence/src/androidAndroidTest/kotlin/com/wire/kalium/persistence/dao/message/MessageExtensionsTest.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/dao/message/KaliumPager.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/dao/message/MessageExtensions.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabaseProvider.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/MetadataDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/PrekeyDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/TeamDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/asset/AssetDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/call/CallDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageExtensions.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/reaction/ReactionDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/receipt/ReceiptDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/daokaliumdb/AccountsDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/daokaliumdb/ServerConfigurationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/daokaliumdb/ServerConfigurationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/globalDB/AccountsDAOTest.kt
  persistence/src/iosX64Main/kotlin/com/wire/kalium/persistence/dao/message/MessageExtensions.kt
  persistence/src/iosX64Main/kotlin/com/wire/kalium/persistence/db/GlobalDatabaseProvider.kt
  persistence/src/jsMain/kotlin/com/wire/kalium/persistence/dao/message/MessageExtensions.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/dao/message/MessageExtensions.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabaseProvider.kt
Labels: type: bug / fix 🐞, 👕 size: XXL

#1321 refactor: make ping its own type of notification [AR-2594]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/notification/LocalNotification.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/MessageMappersTest.kt
Labels: breaking change, 🚨 Potential breaking changes, 👕 size: S, type: refactoring 🛠

#1327 fix: incoming call keeps showing up even after rejecting it (AR-2934)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/mapper/CallMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/Call.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/RejectCallUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/EndCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/RejectCallUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/call/CallDAO.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1324 feat: handle group settings receipt mode changed
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ObserveMessageReceiptsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/ReceiptModeUpdateEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/MessageRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/ReceiptModeUpdateEventHandlerTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/db_user/migrations/26.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/TableMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1333 fix: incoming call keeps showing up even after rejecting it (AR-2934) - RC
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/mapper/CallMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/Call.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/RejectCallUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/EndCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/RejectCallUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/call/CallDAO.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1335 refactor: move column adapters to a dedicated package
  detekt/baseline.xml
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabaseProvider.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/adapter/BotServiceAdapter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/adapter/ContentTypeAdapter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/adapter/ConversationAdapter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/adapter/LogoutReasonAdapter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/adapter/MemberRoleAdapter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/adapter/QualifiedIDAdapter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/TableMapper.kt
  persistence/src/darwinMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabaseProvider.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabaseProvider.kt
Labels: 👕 size: S, type: refactoring 🛠

#1332 fix: [Dev] execute db queries on io CoroutineContext (#1325)
  logic/src/androidAndroidTest/kotlin/com/wire/kalium/logic/data/message/MessageRepositoryExtensionsTest.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/ServerConfigRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/configuration/ServerConfigRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/server/StoreServerConfigUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/server/UpdateApiVersionUseCaseTest.kt
  persistence/src/androidAndroidTest/kotlin/com/wire/kalium/persistence/dao/message/MessageExtensionsTest.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/dao/message/KaliumPager.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/dao/message/MessageExtensions.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabaseProvider.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/MetadataDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/PrekeyDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/TeamDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/asset/AssetDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/call/CallDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageExtensions.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/reaction/ReactionDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/receipt/ReceiptDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/daokaliumdb/AccountsDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/daokaliumdb/ServerConfigurationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/daokaliumdb/ServerConfigurationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/globalDB/AccountsDAOTest.kt
  persistence/src/darwinMain/kotlin/com/wire/kalium/persistence/dao/message/MessageExtensions.kt
  persistence/src/darwinMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabaseProvider.kt
  persistence/src/jsMain/kotlin/com/wire/kalium/persistence/dao/message/MessageExtensions.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/dao/message/MessageExtensions.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabaseProvider.kt
Labels: type: bug / fix 🐞, 👕 size: XXL

#1337 chore: clean up KaliumConfig (#1316)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/featureFlags/KaliumConfigs.kt
Labels: type: chore 🧹, 👕 size: S

#1334 feat: implement most missing implementations for Darwin in the logic module
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/CommonDarwinConfig.kt
  calling/build.gradle.kts
  logic/build.gradle.kts
  logic/src/androidAndroidTest/kotlin/com/wire/kalium/logic/util/IgnoreIOS.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/ProteusClientProvider.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/asset/AssetRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/logout/LogoutRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/reaction/ReactionRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/sync/SlowSyncRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/GetMessageAssetUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/ScheduleNewAssetMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/backup/CreateBackupUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/backup/RestoreBackupUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/backup/VerifyBackupUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/CheckConversationInviteCodeUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/JoinConversationViaCodeUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MessageEnvelopeCreatorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/server/StoreServerConfigUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ProteusMessageUnpackerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ReceiptMessageHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/DateTimeUtilTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/IgnoreIOS.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/MessageContentEncoderTest.kt
  logic/src/darwinMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/darwinMain/kotlin/com/wire/kalium/logic/configuration/ClientConfigImpl.kt
  logic/src/darwinMain/kotlin/com/wire/kalium/logic/data/asset/KaliumFileSystemImpl.kt
  logic/src/darwinMain/kotlin/com/wire/kalium/logic/data/message/MessageRepositoryExtensions.kt
  logic/src/darwinMain/kotlin/com/wire/kalium/logic/di/PlatformRootPathsProvider.kt
  logic/src/darwinMain/kotlin/com/wire/kalium/logic/di/PlatformUserStorageProperties.kt
  logic/src/darwinMain/kotlin/com/wire/kalium/logic/di/PlatformUserStorageProvider.kt
  logic/src/darwinMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/darwinMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
  logic/src/darwinMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/darwinMain/kotlin/com/wire/kalium/logic/feature/call/FlowManagerServiceImpl.kt
  logic/src/darwinMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/darwinMain/kotlin/com/wire/kalium/logic/feature/call/MediaManagerServiceImpl.kt
  logic/src/darwinMain/kotlin/com/wire/kalium/logic/sync/WorkSchedulerImpl.kt
  logic/src/darwinMain/kotlin/com/wire/kalium/logic/util/BackupUtils.kt
  logic/src/darwinMain/kotlin/com/wire/kalium/logic/util/PlatformView.kt
  logic/src/darwinMain/kotlin/com/wire/kalium/logic/util/SecureRandom.kt
  logic/src/darwinTest/kotlin/com/wire/kalium/logic/util/IgnoreIOS.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/util/IgnoreIOS.kt
  persistence-test/src/darwinMain/kotlin/com/wire/kalium/persistence/TestDatabaseManipulation.kt
  persistence/src/darwinTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#1338 feat(sync): insert history-lost systemMessage after 404 sync recovery (AR-2897)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/AddSystemMessageToAllConversationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncRecoveryHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncRecoveryHandlerTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1341 feat: configure the CLI app to be multiplatform supporting JVM and Mac
  .github/workflows/gradle-jvm-tests.yml
  README.md
  cli/build.gradle.kts
  cli/src/commonMain/kotlin/com/wire/kalium/cli/CLIApplication.kt
  cli/src/commonMain/kotlin/com/wire/kalium/cli/UserSessionScopeExtensions.kt
  cli/src/commonMain/kotlin/com/wire/kalium/cli/commands/AddMemberToGroupCommand.kt
  cli/src/commonMain/kotlin/com/wire/kalium/cli/commands/CreateGroupCommand.kt
  cli/src/commonMain/kotlin/com/wire/kalium/cli/commands/DeleteClientCommand.kt
  cli/src/commonMain/kotlin/com/wire/kalium/cli/commands/ListenGroupCommand.kt
  cli/src/commonMain/kotlin/com/wire/kalium/cli/commands/LoginCommand.kt
  cli/src/commonMain/kotlin/com/wire/kalium/cli/commands/MarkAsReadCommand.kt
  cli/src/commonMain/kotlin/com/wire/kalium/cli/commands/RefillKeyPackagesCommand.kt
  cli/src/commonMain/kotlin/com/wire/kalium/cli/commands/RemoveMemberFromGroupCommand.kt
  cli/src/darwinMain/kotlin/com/wire/kalium/cli/coreLogic.kt
  cli/src/darwinMain/kotlin/com/wire/kalium/cli/fileLogger.kt
  cli/src/darwinMain/kotlin/com/wire/kalium/cli/homeDirectory.kt
  cli/src/darwinMain/kotlin/main.kt
  cli/src/jvmMain/kotlin/com/wire/kalium/cli/commands/ConsoleCommand.kt
  cli/src/jvmMain/kotlin/com/wire/kalium/cli/fileLogger.kt
  cli/src/jvmMain/kotlin/com/wire/kalium/cli/homeDirectory.kt
  cli/src/jvmMain/kotlin/com/wire/kalium/cli/main.kt
  cli/src/main/resources/moon1.jpg
  gradle/libs.versions.toml
  samples/build.gradle.kts
Labels: type: feature ✨, 👕 size: M

#1340 fix: Observe notifications only when Live
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1256 chore: simplify makefile for faster builds and reduced downloads/checkouts
  scripts/bootstrap.mk
Labels: type: chore 🧹, 👕 size: M

#1344 fix: migrate asset names and sizes [AR-2939]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MigratedMessage.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/PersistMigratedMessagesUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/PersistMigratedMessagesUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1346 feat(sync): add manual trigger for conversation recovery mode
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/SlowSyncRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/SlowSyncStatus.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationsRecoveryManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/MLSConversationsRecoveryManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/AddSystemMessageToAllConversationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncRecoveryHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/RestartSlowSyncProcessForRecoveryUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncWorker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncRecoveryHandlerTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1343 fix: release observe notifications only when live
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1352 fix: Update swagger in testservice and adjust annotations
  testservice/build.gradle.kts
  testservice/src/main/kotlin/com/wire/kalium/testservice/api/v1/ConversationResources.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/api/v1/InstanceLifecycle.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/api/v1/LogResources.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1348 fix(rc): migrate asset names and sizes [AR-2939]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MigratedMessage.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/PersistMigratedMessagesUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/PersistMigratedMessagesUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1353 chore: add logs when initiating a proteus client
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientImpl.kt
Labels: type: chore 🧹, 👕 size: XS

#1354 feat: read and delivery confirmations for testservice (SQPIT-1403)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/DebugScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/SendConfirmationUseCase.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/TestserviceApplication.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/api/v1/ConversationResources.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/ConversationRepository.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1356 chore: use cryptobox-android version with logging enabled
  android/build.gradle.kts
  build.gradle.kts
  gradle/libs.versions.toml
  localrepo/com/wire/cryptobox-android/1.1.3-logging/cryptobox-android-1.1.3-logging.aar
  localrepo/com/wire/cryptobox-android/1.1.3-logging/cryptobox-android-1.1.3-logging.pom
  localrepo/com/wire/cryptobox-android/maven-metadata-local.xml
Labels: type: chore 🧹, 👕 size: S

#1359 chore: cherry pick logging
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientImpl.kt
Labels: type: chore 🧹, 👕 size: XS

#1360 chore: use cryptobox-android version with logging enabled (#1356)
  android/build.gradle.kts
  build.gradle.kts
  gradle/libs.versions.toml
  localrepo/com/wire/cryptobox-android/1.1.3-logging/cryptobox-android-1.1.3-logging.aar
  localrepo/com/wire/cryptobox-android/1.1.3-logging/cryptobox-android-1.1.3-logging.pom
  localrepo/com/wire/cryptobox-android/maven-metadata-local.xml
Labels: type: chore 🧹, 👕 size: S

#1355 refactor: store dates using timestamp/rc (AR-2082)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/util/CommonUtils.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/connection/ConnectionMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/MessageRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MessageSenderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestMessage.kt
  persistence/src/androidAndroidTest/kotlin/com/wire/kalium/persistence/dao/message/MessageExtensionsTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Connections.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/db_user/migrations/24.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/InstantTypeAdapter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/MigrationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/TableMapper.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/RestoreBackupTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/UserDatabaseDataGenerator.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConnectionDaoTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOBenchmarkTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageLatestTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageReplyTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageTextEditTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/ConversationStubs.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/MessageStubs.kt
  util/src/commonMain/kotlin/com.wire.kalium.util/time/TimeConstants.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: XXL

#1345 fix: migration fails indefinitely if it fails once
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1362 fix(rc): path enhancement checks for import backup feature (AR-2976)
  logic/src/commonJvmAndroid/kotlin/com.wire.kalium.logic/util/BackupUtils.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/BackupConstants.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/RestoreBackupUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/VerifyBackupUseCase.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞, DO NOT MERGE

#1366 fix: Release candidate: not updating notifications date in conversations
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MarkMessagesAsNotifiedUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MarkMessagesAsNotifiedUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1368 chore: update custom logger
  gradle/libs.versions.toml
  network/build.gradle.kts
  network/src/commonMain/kotlin/com/wire/kalium/network/KaliumHttpLogger.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/KaliumKtorCustomLogging.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/NetworkClient.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/utils/ObfuscateUtil.kt
Labels: type: chore 🧹, 👕 size: L

#1367 feat: (RC) Ktor custom logging (AR-2951)
  gradle/libs.versions.toml
  network/build.gradle.kts
  network/src/commonMain/kotlin/com/wire/kalium/network/KaliumHttpLogger.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/KaliumKtorCustomLogging.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/NetworkClient.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/utils/ObfuscateUtil.kt
Labels: type: feature ✨, 👕 size: L

#1364 fix: [RC] migration fails indefinitely if it fails once (#1345)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1369 fix: cleaning logs from request headers (AR-2977)
  network/src/commonMain/kotlin/com/wire/kalium/network/KaliumHttpLogger.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/utils/ObfuscateUtil.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1363 fix(dev): path enhancement checks for import backup feature (AR-2976)
  logic/src/commonJvmAndroid/kotlin/com.wire.kalium.logic/util/BackupUtils.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/BackupConstants.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/RestoreBackupUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/VerifyBackupUseCase.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1371 fix: emit only non empty notifications (RC)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1372 fix: Revert "fix: cleaning logs from request headers (AR-2977) (#1369)"
  network/src/commonMain/kotlin/com/wire/kalium/network/KaliumHttpLogger.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/utils/ObfuscateUtil.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1373 fix(android): improve performance of instant to ISO string
  util/src/androidMain/kotlin/com.wire.kalium.util/PlatformDateTimeUtil.kt
  util/src/commonMain/kotlin/com.wire.kalium.util/DateTimeUtil.kt
  util/src/commonTest/kotlin/com/wire/kalium/util/DateTimeUtilBenchmark.kt
  util/src/commonTest/kotlin/com/wire/kalium/util/DateTimeUtilTest.kt
  util/src/jvmMain/kotlin/com/wire/kalium/util/PlatformDateTimeUtil.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1377 chore: disable slow features (RC)
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
Labels: type: chore 🧹, 👕 size: S

#1380 fix: disable read receipts
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationReadDateUseCase.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1381 chore(mls): revert later - disable mls
  logic/src/commonMain/kotlin/com/wire/kalium/logic/cache/SelfConversationIdProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/PendingProposalScheduler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/NewMessageEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/cache/SelfConversationIdProviderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/PendingProposalSchedulerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/NewMessageEventHandlerTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/client/ClientRegistrationStorageImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/client/ClientRegistrationStorageTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#1383 fix: emit only non empty notifications (#1371)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1379 chore: use default dispatcher for non IO operations
  cryptography/src/androidAndroidTest/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
  cryptography/src/androidMain/kotlin/com/wire/kalium/cryptography/ProteusClientCryptoBoxImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientCoreCryptoImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/ProteusClient.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/ProteusClientTest.kt
  cryptography/src/iosX64Main/kotlin/com/wire/kalium/cryptography/ProteusClientImpl.kt
  cryptography/src/iosX64Test/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/ProteusClientImpl.kt
  cryptography/src/jsTest/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
  cryptography/src/jvmMain/kotlin/com/wire/kalium/cryptography/ProteusClientCryptoBoxImpl.kt
  cryptography/src/jvmTest/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/session/SessionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/ProteusClientProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/RejectCallUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationReadDateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSender.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/session/CurrentSessionUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/session/CurrentSessionUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/sessionreset/ResetSessionUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/daokaliumdb/AccountsDAO.kt
  samples/src/jvmMain/kotlin/samples/cryptography/ProteusClientSamples.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/api/v1/ConversationResources.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/ConversationRepository.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/InstanceService.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: chore 🧹

#1384 fix(android): improve performance of instant to ISO string (#1373)
  util/src/androidMain/kotlin/com.wire.kalium.util/PlatformDateTimeUtil.kt
  util/src/commonMain/kotlin/com.wire.kalium.util/DateTimeUtil.kt
  util/src/commonTest/kotlin/com/wire/kalium/util/DateTimeUtilBenchmark.kt
  util/src/commonTest/kotlin/com/wire/kalium/util/DateTimeUtilTest.kt
  util/src/jvmMain/kotlin/com/wire/kalium/util/PlatformDateTimeUtil.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1351 fix: Force update (AR-2960)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/appVersioning/AppVersionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/appVersioning/ObserveIfAppUpdateRequiredUseCase.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#1382 chore: enable sqlite wal journaling (RC)
  android/src/main/AndroidManifest.xml
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/ProteusClientTest.kt
  gradle/libs.versions.toml
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabaseProvider.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/SqliteCallback.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/backup/DatabaseImporter.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOBenchmarkTest.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
Labels: type: chore 🧹, 👕 size: M

#1386 fix: release: Force to update
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/appVersioning/AppVersionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/appVersioning/ObserveIfAppUpdateRequiredUseCase.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#1375 chore(performance): query tables in case of need less data
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/GetIncomingCallsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationAccessRoleUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationReadDateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendConfirmationUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/MessageRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/GetIncomingCallsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationAccessUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SendConfirmationUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: L

#1388 ci: switch android test runner to buildjet
  .github/workflows/gradle-android-tests.yml
Labels: 👕 size: S

#1378 fix: Synchronize crypto operations execution
  cryptography/src/androidAndroidTest/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
  cryptography/src/androidMain/kotlin/com/wire/kalium/cryptography/ProteusClientCryptoBoxImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientCoreCryptoImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/ProteusClient.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/exceptions/ProteusException.kt
  cryptography/src/iosX64Main/kotlin/com/wire/kalium/cryptography/ProteusClientImpl.kt
  cryptography/src/iosX64Test/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/ProteusClientImpl.kt
  cryptography/src/jsTest/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
  cryptography/src/jvmMain/kotlin/com/wire/kalium/cryptography/ProteusClientCryptoBoxImpl.kt
  cryptography/src/jvmTest/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/ProteusClientProvider.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/corefailure/WrapCryptoRequestTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/prekey/PreKeyRepositoryTest.kt
  samples/src/jvmMain/kotlin/samples/cryptography/ProteusClientSamples.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#1389 ci: run jobs only if detekt succeeds
  .github/workflows/codestyle.yml
  .github/workflows/gradle-android-tests.yml
  .github/workflows/gradle-ios-tests.yml
  .github/workflows/gradle-jvm-tests.yml
Labels: 👕 size: S

#1391 fix: repeating notification (RC) (AR-2978)
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1390 fix: improve last message performance (RC)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Calls.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Connections.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Reactions.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/db_user/migrations/25.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1394 feat: enable simplified message counter (RC)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageUnreadCounterTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1393 feat: get fingerprint of client devices on testservice (SQPIT-1591)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/prekey/PreKeyRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/GetProteusFingerprintUseCase.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/TestserviceApplication.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/api/v1/ClientResources.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/InstanceService.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/models/FingerprintResponse.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#1376 fix: no more unreads on backup imports issue [AR-2983]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/CreateBackupUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/backup/CreateBackupUseCaseTest.kt
  persistence/src/androidAndroidTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/backup/DatabaseExporter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/backup/DatabaseImporter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/DatabaseImporterTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/UserDatabaseDataGenerator.kt
  persistence/src/iosX64Test/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/jsTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/jvmTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1395 fix: no more unreads on backup imports issue [AR-2983] (#1376)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/CreateBackupUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/backup/CreateBackupUseCaseTest.kt
  persistence/src/androidAndroidTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/backup/DatabaseExporter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/backup/DatabaseImporter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/DatabaseImporterTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/UserDatabaseDataGenerator.kt
  persistence/src/darwinTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/jsTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/jvmTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1398 fix: ongoing call when import backup
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/backup/DatabaseImporter.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/DatabaseImporterTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1403 fix: instant migration timestamp conversion (RC)
  persistence/src/commonMain/db_user/migrations/24.sqm
Labels: 👕 size: S, type: bug / fix 🐞

#1406 feat: mentions (SQPIT-1406) and replies (SQPIT-1407) for testservice
  testservice/src/main/kotlin/com/wire/kalium/testservice/api/v1/ConversationResources.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/ConversationRepository.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/models/Mention.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/models/Quote.kt
Labels: 👕 size: S, type: feature ✨

#1408 fix: rc notifications on sync
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1409 fix: db being recreated when upgrading (RC)
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabaseProvider.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/support/SqliteCallback.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/support/SupportOpenHelperFactory.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1361 feat: implement crypto utils for Darwin
  buildSrc/src/main/kotlin/ProjectExtensions.kt
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/CommonDarwinConfig.kt
  cryptography/build.gradle.kts
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/utils/CryptoUtils.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/exceptions/CryptographyException.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/utils/CryptoUtils.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/CryptoUtilsTest.kt
  cryptography/src/darwinMain/kotlin/com/wire/kalium/cryptography/utils/CryptoUtils.kt
  cryptography/src/darwinTest/kotlin/com/wire/kalium/cryptography/readBinaryResource.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/utils/CryptoUtils.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/asset/AssetRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/reaction/ReactionRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/GetMessageAssetUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/ScheduleNewAssetMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MessageEnvelopeCreatorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ProteusMessageUnpackerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/MessageContentEncoderTest.kt
  util/src/darwinMain/kotlin/com.wire.kalium.util/string/toUTF16BEByteArray.kt
Labels: type: feature ✨, 👕 size: L

#1411 fix: notification pop-ups during sync [AR-2990]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#1407 chore: add intellij copyright notice template for project
  .githooks/pre-push
  .idea/copyright/profiles_settings.xml
  .idea/copyright/wire_swiss_gmbh.xml
  scripts/bootstrap.mk
Labels: type: chore 🧹, 👕 size: S

#1400 feat(calling): join subconversation
  calling/src/commonMain/kotlin/com/wire/kalium/calling/ConversationTypeCalling.kt
  cli/src/jvmMain/kotlin/com/wire/kalium/cli/commands/ConsoleCommand.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/ConversationType.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/mapper/CallMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/id/IdMappers.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/id/QualifiedId.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/StartCallUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/JoinSubconversationUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/StartCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/JoinSubconversationUseCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/SubconversationDeleteRequest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/model/IDs.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ConversationApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/ConversationApiV3.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v3/ConversationApiV3Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/conversation/SubconversationDeleteRequestJson.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/conversation/SubconversationDetailsResponseJson.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#1413 fix: missing proguard rules
  persistence/consumer-proguard-rules.pro
Labels: 👕 size: S, type: bug / fix 🐞

#1415 chore: enable wal journaling mode
  android/src/main/AndroidManifest.xml
  gradle/libs.versions.toml
  persistence/consumer-proguard-rules.pro
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabaseProvider.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/support/SqliteCallback.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/support/SupportOpenHelperFactory.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOBenchmarkTest.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
Labels: type: chore 🧹, 👕 size: L

#1416 fix: improve message list performance (AR-2924)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Calls.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Connections.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Reactions.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/db_user/migrations/24.sqm
  persistence/src/commonMain/db_user/migrations/25.sqm
  persistence/src/commonMain/db_user/migrations/26.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageUnreadCounterTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: bug / fix 🐞

#1418 fix: messages are unread after migration
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Migration.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/MigrationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
Labels: 👕 size: S, type: bug / fix 🐞

#1412 refactor: consolidate Android and JVM calling code
  calling/build.gradle.kts
  calling/src/androidMain/kotlin/com/wire/kalium/calling/Calling.kt
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/Calling.kt
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/callbacks/ActiveSpeakersHandler.kt
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/callbacks/AnsweredCallHandler.kt
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/callbacks/CallConfigRequestHandler.kt
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/callbacks/CallStateChangeHandler.kt
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/callbacks/ClientsRequestHandler.kt
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/callbacks/CloseCallHandler.kt
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/callbacks/ConstantBitRateStateChangeHandler.kt
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/callbacks/EstablishedCallHandler.kt
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/callbacks/IncomingCallHandler.kt
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/callbacks/LogHandler.kt
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/callbacks/MetricsHandler.kt
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/callbacks/MissedCallHandler.kt
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/callbacks/NetworkQualityChangedHandler.kt
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/callbacks/ParticipantChangedHandler.kt
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/callbacks/ReadyHandler.kt
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/callbacks/SFTRequestHandler.kt
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/callbacks/SendHandler.kt
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/callbacks/VideoReceiveStateHandler.kt
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/types/Size_t.kt
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/types/Uint32_t.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/ActiveSpeakersHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/AnsweredCallHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/CallConfigRequestHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/CallStateChangeHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/ClientsRequestHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/CloseCallHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/ConstantBitRateStateChangeHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/EstablishedCallHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/IncomingCallHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/LogHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/MetricsHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/MissedCallHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/NetworkQualityChangedHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/ParticipantChangedHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/ReadyHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/SFTRequestHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/SendHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/callbacks/VideoReceiveStateHandler.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/types/Size_t.kt
  calling/src/jvmMain/kotlin/com/wire/kalium/calling/types/Uint32_t.kt
Labels: 👕 size: XL, type: refactoring 🛠

#1421 chore(messages): wrap getNotificationsMessages query with wrapStorage
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#1424 fix: clear firebase token only on soft logout [AR-3012]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/LogoutUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/LogoutUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#1427 chore(messages): wrap getNotificationsMessages query with wrapStorage [DEV]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#1426 chore(performance): query tables in case of need less data [DEV]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/GetIncomingCallsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationAccessRoleUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationReadDateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendConfirmationUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/MessageRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/GetIncomingCallsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationAccessUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SendConfirmationUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: L

#1419 fix: slow migration from scala
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/id/QualifiedId.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MigratedMessage.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MarkMessagesAsNotifiedUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/PersistMigratedMessagesUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MarkMessagesAsNotifiedUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/PersistMigratedMessagesUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/MigrationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageLatestTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: bug / fix 🐞

#1410 fix: file extensions, splitting and building file names and duplicates [AR-2985] [AR-2984]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/util/CommonUtils.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/CommonUtilsTest.kt
Labels: type: bug / fix 🐞, 👕 size: M

#1420 feat: group panel read receipt toggle
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ReceiptModeMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationReceiptModeUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ReceiptModeMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationReceiptModeUseCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/UpdateConversationReceiptModeResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ConversationApiV0.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/conversation/ConversationApiV0Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/EventContentDTOJson.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#1401 feat: delete asset (#1357)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/DeleteAssetUseCaseImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#1417 refactor: backups
  logic/src/androidMain/kotlin/com/wire/kalium/logic/data/asset/KaliumFileSystemImpl.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/di/PlatformUserStorageProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/BackupConstants.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/BackupMetadata.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/CreateBackupUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/RestoreBackupUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/asset/FakeKaliumFileSystem.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/backup/CreateBackupUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/backup/RestoreBackupUseCaseTest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/di/PlatformUserStorageProvider.kt
  persistence/src/androidAndroidTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/androidAndroidTest/kotlin/com/wire/kalium/persistence/dao/message/MessageExtensionsTest.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabaseProvider.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/support/SqliteCallback.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/DumpContent.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/ImportContent.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/backup/DatabaseExporter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/backup/DatabaseImporter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/DatabaseImporterTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/client/ClientRegistrationStorageTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConnectionDaoTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/MetadataDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/MigrationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/PrekeyDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/TeamDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserClientDAOIntegrationTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserConversationDAOIntegrationTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/call/CallDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/BaseMessageTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOBenchmarkTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/reaction/ReactionDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/receipt/ReceiptDAOTest.kt
  persistence/src/iosX64Main/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/iosX64Test/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/jsMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/jsTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/jvmTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: XXL

#1425 fix: Logout is running on main thread
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/MLSClientProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClearClientDataUseCase.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞
