Repository wireapp/kalium, pull requests merged in 2023-09, with the labels that each got.

#2019 feat(calling): remote mute for participant (WPB-2953)
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/Calling.kt
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/callbacks/SelfUserMuteHandler.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/scenario/OnMuteStateForSelfUserChanged.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/feature/scenario/OnMuteStateForSelfUserChangedTest.kt
Labels: type: feature ✨, 👕 size: M

#2025 chore(notification): add a way to fetch oldest notification [WPB-267]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/event/EventRepositoryTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/notification/NotificationApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/NotificationApiV0.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/notification/NotificationApiV0Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/NotificationEventsResponseJson.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M

#2024 chore: update cryptobox [WPB-1797]
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#1614 chore: replace usages of ktor internal concurrent map implementation
  gradle/libs.versions.toml
  logic/build.gradle.kts
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/auth/verification/SecondFactorVerificationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/UserStorageProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/AuthenticationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/PersistMigratedMessagesUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/util/CommonUtils.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#1998 chore: upgrade agp to 8.1
  android/build.gradle.kts
  android/src/main/AndroidManifest.xml
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/CommonAndroidConfig.kt
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
Labels: type: chore 🧹, 👕 size: S

#2031 fix: add failed remotely to supported RetryFailedMessageUseCase (WPB-4457)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/RetryFailedMessageUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/RetryFailedMessageUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2030 fix: network logging not getting enabled
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreLogger.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#2033 feat: resolve one-on-one conversations when receiving a welcome message
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MLSWelcomeEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MLSWelcomeEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/ConversationRepositoryArrangement.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#2034 feat: resolve one-on-on conversation when the connection is accepted
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/UserRepositoryArrangement.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#2036 feat: bump v4 to supported and remove it from development versions (WPB-4352)
  network/src/commonMain/kotlin/com/wire/kalium/network/BackendMetaDataUtil.kt
Labels: type: feature ✨, 👕 size: XS

#2037 fix(notifications): use last event instead of oldest when recoverying from 404 [WPB-267]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventGatherer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessor.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncRecoveryHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncWorker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/event/EventRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventGathererTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncRecoveryHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/EventRepositoryArrangement.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#2040 fix: offline connection request actions crash when unreachable
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/model/ErrorResponse.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#2044 fix: app stuck on setting up wire after account creation
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/UserStorageProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/AuthenticationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/util/CommonUtils.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/ConcurrentMutableMapTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2043 feat(monkeys): Add and expose metrics of the text execution [WPB-4445]
  gradle/libs.versions.toml
  monkeys/build.gradle.kts
  monkeys/example.json
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/ActionScheduler.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/MetricsCollector.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/MonkeyApplication.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/conversation/Monkey.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/conversation/MonkeyConversation.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/pool/ConversationPool.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/pool/MonkeyPool.kt
Labels: type: feature ✨, 👕 size: M

#2046 chore: bump ktor to 2.3.4
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#2028 feat: report sync state to AVS (WPB-3628)
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/Calling.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/AvsSyncStateReporter.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ObserveSyncStateUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/AvsSyncStateReporterTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/ObserveSyncStateUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#2050 chore: update dependencies (WPB-4373)
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: S

#2049 feat: support parsing quantum safe ciphersuite
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationEntity.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: XS

#2052 fix: adding participants offline + nfcg new edge case (WPB-4648)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepositoryTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2054 fix: looking for cryptobox files to migrate at wrong location WPB-4658
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/ProteusClientProvider.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#2057 fix: send HEIC images as normal files
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/Asset.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#2045 chore: bump sqldelight to 2.0.0
  gradle/libs.versions.toml
  persistence/build.gradle.kts
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/support/SqliteCallback.kt
  persistence/src/appleMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabaseProvider.kt
  persistence/src/appleMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Clients.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Service.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
Labels: type: chore 🧹, 👕 size: S

#2056 chore: add archived field to conversations table (WPB-4471)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/web/WebMappers.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallOnConversationChangeUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationAccessUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/migrations/57.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationViewEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/TableMapper.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/DatabaseImporterTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/UserDatabaseDataGenerator.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationMetaDataDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/ConversationStubs.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/TestStubs.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: L

#2061 fix: message status not updated while using the fire and forget asset mechanism (WPB-4519)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/ScheduleNewAssetMessageUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/ScheduleNewAssetMessageUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2060 fix: getCallManagerForClient is not thread safe
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
Labels: 👕 size: S, type: bug / fix 🐞

#2055 feat: handle out of order MLS messages
  cryptography/src/appleMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/MLSClient.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/MLSClientTest.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/DecryptedMessageBundleMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/id/IdMappers.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/JoinSubconversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/MLSMessageFailureHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/MLSMessageUnpacker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/NewMessageEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/JoinSubconversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/MLSMessageUnpackerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/NewMessageEventHandlerTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#2065 refactor: reuse okhttp instance
  gradle/libs.versions.toml
  network/src/appleMain/kotlin/com/wire/kalium/network/defaultHttpEngine.kt
  network/src/commonJvmAndroid/kotlin/com/wire/kalium/network/HttpEngine.kt
Labels: type: refactoring 🛠, 👕 size: M

#2070 fix: Compile testservice with Java 17
  testservice/Jenkinsfile
Labels: type: bug / fix 🐞, 👕 size: XS

#2071 feat: parse and store app lock feature config
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/SyncFeatureConfigsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManager.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/config/UserConfigStorage.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/config/UserConfigStorageTest.kt
  util/src/commonMain/kotlin/com.wire.kalium.util/time/TimeTypes.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#2075 chore: run some operations on worker thread
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/ProteusClientProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/AnswerCallUseCase.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#2073 chore: upgrade to API 34
  buildSrc/src/main/kotlin/Android.kt
Labels: type: chore 🧹, 👕 size: XS

#2078 fix: sync failing when trying to update unknown user [WPB-4805]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiverTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#2079 fix: search users not filtering correctly users connected when domain present (WPB-4793)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/publicuser/search/SearchKnownUsersUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/SearchKnownUserUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2077 chore: bump AVS to 9.4.12
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#2069 feat: typing indicator receiver events and observability (WPB-4591)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/TypingIndicatorRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveUsersTypingUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/TypingIndicatorHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/util/CommonUtils.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/TypingIndicatorRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/handler/TypingIndicatorHandlerTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/TypingIndicatorStatusDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/notification/EventContentDTO.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#2087 fix: network logging not getting enabled
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreLogger.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#2088 chore: add logs for new client event
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiver.kt
Labels: type: chore 🧹, 👕 size: S

#2086 fix: add LocalNotification SelfDeleteKnock (WPB-3175)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/notification/LocalNotification.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2084 fix: map and ignore BufferedFutureMessage
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/CoreCryptoExceptionMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/MLSMessageFailureHandler.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#2090 chore: add logs to crypto error unpacker ProteusFailure
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ProteusMessageUnpacker.kt
Labels: type: chore 🧹, 👕 size: S

#2082 feat: add flag to filter out archived conversations when fetching list [WPB-4432]
  cli/src/appleMain/kotlin/com/wire/kalium/cli/commands/Command.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCaseImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationArchivedStatusUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationArchivedStatusUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#2093 fix(proteus): call correct endpoint for uploading prekeys
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/PreKeyApiV0.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/prekey/PrekeyApiV0Test.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#2092 chore: proteus add log entries when generating prekeys
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/prekey/PreKeyRepository.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#2083 feat(mls): update supported protocols on client deletion
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/DeleteClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UpdateSupportedProtocolsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncWorker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/DeleteClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/UserRepositoryArrangement.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#2097 fix: DiskReadViolation related ObserveValidAccountsUseCase
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/ObserveValidAccountsUseCase.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2058 feat(monkeys): Create docker image to facilitate execution of the monkeys application [WPB-4558]
  monkeys/README.md
  monkeys/docker/Dockerfile
  monkeys/docker/docker-compose.yml
  monkeys/docker/grafana/dashboards/monkeys.json
  monkeys/docker/grafana/provisioning/dashboards/dashboard.yml
  monkeys/docker/grafana/provisioning/datasources/datasource.yml
  monkeys/docker/grafana/provisioning/plugins/plugin.yml
  monkeys/docker/prometheus/prometheus.yml
  monkeys/src/test/kotlin/com/wire/kalium/monkeys/actions/LeaveConversationActionTest.kt
  monkeys/src/test/kotlin/com/wire/kalium/monkeys/actions/LoginActionTest.kt
  monkeys/src/test/kotlin/com/wire/kalium/monkeys/actions/SendMessageActionTest.kt
  monkeys/src/test/kotlin/com/wire/kalium/monkeys/actions/SendRequestActionTest.kt
Labels: type: feature ✨, 👕 size: XXL

#2099 fix: fixed wrong query in `ConversationDAO` to fetch all conversations
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#2035 feat: Conversation MLS verification status updating (WPB-3872)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationVerificationStatus.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/web/WebMappers.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationVerificationStatusHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetConversationVerificationStatusUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/MLSConversationsVerificationStatusesHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallOnConversationChangeUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ConversationVerificationStatusHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetConversationVerificationStatusUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/MLSConversationsVerificationStatusesHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationDetailsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationAccessUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/MLSWrongEpochHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/ConversationRepositoryArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/MLSConversationRepositoryArrangement.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/migrations/58.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationViewEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/TableMapper.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/DatabaseImporterTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/backup/UserDatabaseDataGenerator.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationMetaDataDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/ConversationStubs.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/TestStubs.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: XXL, DO NOT MERGE

#2098 feat: typing indicator receiver improvements (WPB-4706)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/TypingIndicatorRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/publicuser/PublicUserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveUsersTypingUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/TypingIndicatorRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/handler/TypingIndicatorHandlerTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#2105 fix: downgrade CC to 0.8.2 to avoid migration issue
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/E2EIClientImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientCoreCryptoImpl.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/E2EIClientTest.kt
  gradle/libs.versions.toml
Labels: 👕 size: S, type: bug / fix 🐞

#2104 feat: SystemMessage about MLS verified conversation
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/MLSConversationsVerificationStatusesHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/MLSConversationsVerificationStatusesHandlerTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageInsertExtension.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#2107 fix: random crash in video state handler
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#2108 chore: bump avs to 9.4.13
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS
