Repository wireapp/kalium, pull requests merged in 2024-02, with the labels that each got.

#2436 fix(e2ei): get my clients state (WPB-6345)
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/IDs.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/DecryptedMessageBundleMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/GetUserE2EIAllCertificatesUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetE2eiCertificateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetMembersE2EICertificateStatusesUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetUserE2eiAllCertificateStatusesUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetUserE2eiCertificateStatusUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#2437 chore(core-crypto): upgrade core-crypto to rc 35 (WPB-6347)
  cryptography/src/appleMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/MLSClient.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: S, DO NOT MERGE

#2385 feat(monkeys): Add support for running the monkeys in separate processes [WPB-6186]
  gradle/libs.versions.toml
  monkeys/build.gradle.kts
  monkeys/docker/Dockerfile
  monkeys/docker/docker-compose.yml
  monkeys/schema.json
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/ActionScheduler.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/MonkeyApplication.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/ReplayApplication.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/Utils.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/AddUserToConversationAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/DestroyConversationAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/HandleExternalRequestAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/LeaveConversationAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/SendMessageAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/replay/LeaveConversationEventAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/conversation/LocalMonkey.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/conversation/Monkey.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/conversation/MonkeyConversation.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/conversation/RemoteMonkey.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/model/EventData.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/model/TestData.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/model/TestDataImporter.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/model/UserData.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/monkey.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/pool/ConversationPool.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/pool/MonkeyPool.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/server/MonkeyServer.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/server/model/ServerModel.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/server/routes/Administration.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/server/routes/Monitoring.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/server/routes/Monkey.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/storage/EventStorage.kt
Labels: type: feature ✨, 👕 size: XXL

#2440 ci: fix cherry pick action when last commit message contains special characters
  .github/workflows/cherry-pick-rc-to-develop.yml
Labels: 👕 size: XS

#2443 fix: changing profile avatar doesn't reflect update (WPB-5494)
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserDAOTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#2446 chore: add formatted logs for mls observability (WPB-6335)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreLogger.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/JoinExistingMLSConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/id/QualifiedId.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSender.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/MLSMessageUnpacker.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M

#2453 fix: icon on reply audio message (WPB-1863)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/Asset.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/asset/AssetMimeTypeTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2455 ci: base64 encoding adding a new line after 76 char
  .github/workflows/cherry-pick-rc-to-develop.yml
Labels: 👕 size: XS

#2460 fix: team event manual sync was not being reflected in db (WPB-5516)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/team/TeamRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/GetUpdatedSelfTeamUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/team/TeamRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/team/GetUpdatedSelfTeamUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#2462 fix(e2ei): pass challenges to usecase and add tests (WPB-6286) (#2434)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/AcmeMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/EnrollE2EIUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/AcmeMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/RegisterMLSClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/EnrollE2EICertificateUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: bug / fix 🐞, cherry-pick

#2466 fix(calling): check user role before applying remote mute
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/ShouldRemoteMuteChecker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/ShouldRemoteMuteCheckerTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2459 refactor: decouple event content and origin (WPB-6435)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/CommitBundleEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/team/TeamRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/RenameConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/guestroomlink/GenerateGuestRoomLinkUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventGatherer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessor.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/EventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/FeatureConfigEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/FederationEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/TeamEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/UserPropertiesEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/NewMessageEventHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/legalhold/LegalHoldHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/event/EventRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventGathererTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/FeatureConfigEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/FederationEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/TeamEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/UserPropertiesEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/CodeDeletedHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/CodeUpdateHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MLSWelcomeEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberLeaveEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/NewConversationEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/NewMessageEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/handler/legalhold/LegalHoldHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/handler/legalhold/LegalHoldRequestHandlerTest.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: XXL

#2464 feat(monkeys): Improve docker to allow running external monkeys in it [WPB-6471]
  monkeys/README.md
  monkeys/docker/Dockerfile
  monkeys/docker/docker-compose.yml
Labels: 👕 size: S, type: feature ✨

#2452 fix: legal hold capability not being updated
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/legalhold/UpdateSelfClientCapabilityToLegalHoldConsentUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/legalhold/UpdateSelfClientCapabilityToLegalHoldConsentUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2468 fix: improve pending events check performance
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventGatherer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessingHistory.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessingHistoryTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#2473 chore(calling): log epoch changes
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#2475 fix: self sender in system message [WPB-6500]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#2479 feat: include legalhold request pending when observing self user legalhold state [WPB-6464]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/legalhold/ObserveLegalHoldChangeNotifiedForSelfUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/legalhold/ObserveLegalHoldForSelfUserUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/legalhold/ObserveLegalHoldStateForSelfUserUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/legalhold/ObserveLegalHoldChangeNotifiedForSelfUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/legalhold/ObserveLegalHoldForSelfUserUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/legalhold/ObserveLegalHoldStateForSelfUserUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#2400 fix: some end points are not routed through the proxy server
  android/src/main/kotlin/com/wire/kalium/presentation/MainActivity.kt
  cli/src/commonMain/kotlin/com/wire/kalium/cli/commands/LoginCommand.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/GlobalKaliumScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/CustomServerConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/ServerConfig.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/ServerConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/session/SessionMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/session/SessionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/SessionManagerExt.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/appVersioning/ObserveIfAppUpdateRequiredUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/AddAuthenticatedUserUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/AuthenticationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/DomainLookupUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/autoVersioningAuth/AutoVersionAuthScopeUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/server/FetchApiVersionUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/server/GetServerConfigUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/server/ObserveServerConfigUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/server/ServerConfigForAccountUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/server/StoreServerConfigUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/server/UpdateApiVersionsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/functional/Either.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/configuration/CustomServerConfigRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/configuration/ServerConfigMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/configuration/ServerConfigRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/session/SessionMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/session/SessionRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/AddAuthenticatedUserUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/DomainLookupUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/server/FetchApiVersionUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/server/StoreServerConfigUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/server/UpdateApiVersionUseCaseTest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/HttpEngine.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unbound/configuration/ServerConfigApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unbound/versioning/VersionApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV2.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV4.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v5/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV5.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/AuthenticatedNetworkContainer.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/UnauthenticatedNetworkContainer.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/UnboundNetworkContainer.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/ApiTest.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/common/VersionApiTest.kt
  persistence/src/commonMain/db_global/com/wire/kalium/persistence/Accounts.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/daokaliumdb/AccountsDAO.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/InstanceService.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XXL

#2480 chore: allow customising a client name with a suffix [ACOL-144]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCase.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#2474 chore: remove unused code
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#2458 feat: Trigger CheckRevocationList use case (WPB-3243) - cherrypick
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/MLSClient.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MLSWelcomeEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MLSWelcomeEventHandlerTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L, cherry-pick

#2482 fix: refresh users without metadata after group creation [WPB-6312]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/CreateGroupConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/CreateGroupConversationUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2487 fix: fetch unknown users after adding to group [WPB-6311]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/AddMemberToConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/AddMemberToConversationUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#2484 docs: add dependency graph
  README.md
  build.gradle.kts
  gradle/libs.versions.toml
Labels: 👕 size: S, type: documentation 📋

#2489 fix(e2ei): remove E2EI shield and buttons if it's disabled on your team (WPB-6520)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/IsE2EIEnabledUseCase.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2481 fix: crash when answering a call (WPB-6183)
  .github/workflows/gradle-android-instrumented-tests.yml
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantListChanged.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/Participant.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/ParticipantsOrderByName.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#2492 fix: crash when answering a call (WPB-6183) - cherrypick
  .github/workflows/gradle-android-instrumented-tests.yml
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantListChanged.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/Participant.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/ParticipantsOrderByName.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2493 feat: make MembersHavingLegalHoldClientUseCase public
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: XS

#2496 feat: allow http calls when checking Certificate Revocation List (WPB-6493) - cherrypick
  network/src/androidMain/kotlin/com/wire/kalium/network/OkhttpClientFactory.kt
  network/src/androidUnitTest/kotlin/com/wire/kalium/api/tools/HttpClientConnectionSpecsTest.kt
  network/src/appleMain/kotlin/com/wire/kalium/network/defaultHttpEngine.kt
  network/src/commonJvmAndroid/kotlin/com/wire/kalium/network/HttpEngine.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/HttpEngine.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unbound/acme/ACMEApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/UnboundNetworkContainer.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/common/ACMEApiTest.kt
  network/src/jvmMain/kotlin/com/wire/kalium/network/OkhttpClientFactory.kt
  network/src/jvmTest/kotlin/com/wire/kalium/HttpClientConnectionSpecsTest.kt
Labels: type: feature ✨, 👕 size: M

#2494 feat: allow configuration to the number of team members fetched during slow sync
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/team/TeamRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/SyncSelfTeamUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/featureFlags/KaliumConfigs.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/team/TeamRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/team/SyncSelfTeamUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#2501 fix: Show alert message after conversation becomes degraded RC [WPB-6607]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/MLSConversationsVerificationStatusesHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/MLSConversationsVerificationStatusesHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/ConversationRepositoryArrangement.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2499 refactor: drop support for api v3
  network/src/commonMain/kotlin/com/wire/kalium/network/BackendMetaDataUtil.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/AuthenticatedNetworkContainer.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/UnauthenticatedNetworkContainer.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/common/SupportedApiVersionTest.kt
  persistence/src/commonMain/db_global/migrations/7.sqm
Labels: 👕 size: S, type: refactoring 🛠

#2478 fix: release: Do not show EnrollE2EI dialog after login (WPB-6364)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/GetE2EICertificateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/ObserveE2EIRequiredUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/ObserveE2EIRequiredUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetE2eiCertificateUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/config/UserConfigStorage.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#2503 fix: observe connections without user metadata [WPB-6247]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#2497 fix: release: Remove e2ei settings data on login (WPB-6495)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/LogoutUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/LogoutUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/config/UserConfigStorage.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2445 feat(monkeys): Add support for 2FA during login [WPB-6289]
  monkeys/README.md
  monkeys/schema.json
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/Utils.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/conversation/LocalMonkey.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/model/TestData.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/model/TestDataImporter.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/model/UserData.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/server/MonkeyServer.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/server/routes/Monkey.kt
Labels: type: feature ✨, 👕 size: M

#2508 fix: e2ei endpoint is called even when the feature is disabled
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/E2EISettings.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/CertificateRevocationListRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/SyncFeatureConfigsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/handler/E2EIConfigHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/CertificateRevocationListRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepositoryTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/featureConfigs/FeatureConfigResponse.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/config/UserConfigStorage.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#2495 refactor: return the same token that was updated from storage
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/session/SessionMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/session/token/AccessTokenRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/session/token/AccessTokenRefresher.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/session/token/AccessTokenRefresherFactory.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/session/SessionMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/session/token/AccessTokenRefresherTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/client/AuthTokenStorage.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: refactoring 🛠

#2514 fix: circular dependency in CertificateRevocationListRepository
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/CertificateRevocationListRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/CertificateRevocationListRepositoryTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2513 fix: expire session on refreshtoken failure, wait for logout (WPB-6539)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/network/SessionManagerImpl.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2518 chore: Add Technolinator config for dependencytrack, setting the correct java version (SEC-598)
  .github/technolinator.yml
Labels: type: chore 🧹, 👕 size: S

#2527 chore: add logs to lifecycle executors
  logger/src/commonMain/kotlin/com/wire/kalium/logger/KaliumLogger.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreLogger.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationsRecoveryManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/MLSConversationsRecoveryManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/MLSConversationsVerificationStatusesHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/TypingIndicatorSyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/DebugScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/ACMECertificatesSyncWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/CertificateRevocationListCheckWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/ObserveCertificateRevocationForSelfClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/FeatureFlagsSyncWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/keypackage/RefillKeyPackageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/legalhold/UpdateSelfClientCapabilityToLegalHoldConsentUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ephemeral/EphemeralMessageDeletionHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ephemeral/SelfDeletionEventLogger.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/proteus/ProteusSyncWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/functional/Flow.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/AvsSyncStateReporter.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/MLSConversationsRecoveryManagerTests.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/MLSConversationsVerificationStatusesHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/ACMECertificatesSyncWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/CertificateRevocationListCheckTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/featureConfig/FeatureFlagSyncWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/legalhold/UpdateSelfClientCapabilityToLegalHoldConsentUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/ephemeral/EphemeralMessageDeletionHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/proteus/ProteusSyncWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/AvsSyncStateReporterTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: L

#2529 feat(monkeys): Write CC version in logs and allow to skip warmup [WPB-6784]
  monkeys/build.gradle.kts
  monkeys/schema.json
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/MonkeyApplication.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/model/TestData.kt
Labels: 👕 size: S, type: feature ✨

#2451 fix(e2ei): consider established state for common conversations
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: type: bug / fix 🐞, 👕 size: M

#2510 fix: guest members can't see user left system message
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberLeaveEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberLeaveEventHandlerTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#2522 fix(e2ei): error handling (WPB-6271)
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/E2EIClientProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/EnrollE2EIUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/EnrollE2EICertificateUseCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unbound/acme/ACMEApi.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/common/ACMEApiTest.kt
  tango-tests/src/integrationTest/kotlin/action/ACMEActions.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: bug / fix 🐞

#2530 fix: App States account is logged in with 2FA when login failed
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/auth/verification/SecondFactorVerificationRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/auth/verification/SecondFactorVerificationRepositoryTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2536 chore: fix tag logging
  logger/build.gradle.kts
  logger/src/commonMain/kotlin/com/wire/kalium/logger/KaliumLogger.kt
  logger/src/commonTest/kotlin/com/wire/kalium/logger/LogAttributesTest.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#2525 feat: handle missing-legalhold-consent when adding members and creating group [WPB-5939]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/NewConversationMembersRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/NewGroupConversationSystemMessagesCreator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/legalhold/ListUsersLegalHoldConsent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/NewConversationEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/NewConversationMembersRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/NewGroupConversationSystemMessagesCreatorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/NewConversationEventHandlerTest.kt
  persistence/src/commonMain/db_user/migrations/76.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#2545 feat: Testservice can send typing events [WPB-6841]
  testservice/src/main/kotlin/com/wire/kalium/testservice/api/v1/ConversationResources.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/ConversationRepository.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/models/SendTypingRequest.kt
Labels: 👕 size: S, type: feature ✨

#2450 fix(e2ei): create fresh MLS client with x509 with E2EI certificate
  cryptography/src/appleMain/kotlin/com/wire/kalium/cryptography/CoreCryptoCentralImpl.kt
  cryptography/src/appleMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/CoreCryptoCentral.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/CoreCryptoCentral.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/MLSClient.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/E2EIClientTest.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  gradle/libs.versions.toml
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/E2EIClientProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/MLSClientProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/RegisterMLSClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/CheckRevocationListUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/EnrollE2EIUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/client/E2EIClientProviderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/RegisterMLSClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/CheckRevocationListUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/provider/E2EIClientProviderArrangement.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: bug / fix 🐞

#2554 fix: crash on android<=11 when starting a call while having a bluetoo…
  gradle/libs.versions.toml
Labels: type: bug / fix 🐞, 👕 size: XS

#2509 feat: implement a use case to update a conversation guest link
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/GenerateGuestLink.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/CheckConversationInviteCodeUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/SyncConversationCodeUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/CodeDeletedHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/CodeUpdatedHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/CodeDeletedHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/CodeUpdateHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/dao/ConversionDAOArrangement.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/guestroomlink/ConversationInviteLinkResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ConversationApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/KaliumException.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#2557 feat: Remove third party library for certificate decoding (WPB-6765)
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/IDs.kt
  gradle/libs.versions.toml
  logic/build.gradle.kts
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/e2ei/CertificateStatusChecker.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/e2ei/PemCertificateDecoder.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/e2ei/PlatformX509Certificate.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/e2ei/X509CertificateGenerator.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/e2ei/CertificateStatusChecker.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/e2ei/PemCertificateDecoder.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/e2ei/PlatformX509Certificate.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/e2ei/X509CertificateGenerator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/CertificateStatusChecker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/CertificateStatusMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/E2eiCertificate.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/PlatformX509Certificate.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/X509CertificateGenerator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/GetE2EICertificateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/GetMembersE2EICertificateStatusesUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/GetUserE2EIAllCertificatesUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/GetUserE2EICertificateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/ObserveE2EIRequiredUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetE2eiCertificateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetMembersE2EICertificateStatusesUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetUserE2eiAllCertificateStatusesUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetUserE2eiCertificateStatusUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/mls/CertificateStatusMapperArrangement.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/feature/e2ei/CertificateStatusCheckerTest.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/feature/e2ei/PemCertificateDecoderTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: XXL

#2558 fix: Fetch GetTrustAnchors only once (WPB-6808)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepositoryTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/config/UserConfigStorage.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2556 fix(monkeys): Fix removed attribute
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/homeDirectory.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#2560 chore(cc): upgrade CC to RC46
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS
