Repository wireapp/kalium, pull requests merged in 2024-04, with the labels that each got.

#2687 fix: Ignore ConnectionRequest on backend disabled RC [WPB-7087]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/connection/IgnoreConnectionRequestUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/connection/IgnoreConnectionRequestUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/ConnectionRepositoryArrangement.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/ConnectionApiV4.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Connections.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#2586 chore: upgrade kotlin to 1.9.23
  android/build.gradle.kts
  android/src/main/kotlin/com/wire/kalium/KaliumApplication.kt
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/CommonAndroidConfig.kt
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/Multiplatform.kt
  buildSrc/src/main/kotlin/scripts/detekt.gradle.kts
  calling/build.gradle.kts
  cli/build.gradle.kts
  cryptography/build.gradle.kts
  detekt/baseline.xml
  detekt/detekt.yml
  gradle/libs.versions.toml
  logger/build.gradle.kts
  logic/build.gradle.kts
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/ServerConfig.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/UpdateClientVerificationStatusUseCaseTest.kt
  monkeys/build.gradle.kts
  network/build.gradle.kts
  persistence-test/build.gradle.kts
  persistence/build.gradle.kts
  protobuf/build.gradle.kts
  tango-tests/build.gradle.kts
  testservice/build.gradle.kts
  util/build.gradle.kts
Labels: type: chore 🧹, 👕 size: XXL

#2694 feat: testservice can return message receipts [WPB-7414]
  testservice/src/main/kotlin/com/wire/kalium/testservice/api/v1/ConversationResources.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/ConversationRepository.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/models/GetMessageReceiptsRequest.kt
Labels: 👕 size: S, type: feature ✨

#2695 fix: call not ended when it is answered from another device (WPB-5447)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/AvsSyncStateReporter.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/AvsSyncStateReporterTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#2696 fix(tests): fixed ingored tests for E2EI (WPB-6286)
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/E2EIClientTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/GetOrRegisterClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncCriteriaProviderTest.kt
Labels: type: bug / fix 🐞, 👕 size: L

#2698 fix: SearchUserResult merging local and remote results [WPB-7340]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/search/SearchUserResult.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/search/SearchByHandleUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2700 fix: app crashing when accepting call (WPB-6973)
  logic/src/androidMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/LogoutUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/session/DeleteSessionUseCaseTest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2688 fix: multiple missed calls system messages (WPB-5854)
  logic/src/androidInstrumentedTest/kotlin/com/wire/kalium/logic/feature/call/CallManagerTest.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCall.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/feature/scenario/OnCloseCallTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2703 chore: bump AVS version to 9.7.9
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#2701 fix: Fetch MLS verification status UseCase [WPB-8610]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/mls/EpochChangesData.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/FetchConversationMLSVerificationStatusUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/FetchMLSVerificationStatusUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/ObserveE2EIConversationsVerificationStatusesUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/FetchConversationMLSVerificationStatusUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/FetchMLSVerificationStatusUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/ObserveE2EIConversationsVerificationStatusesUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/ConversationRepositoryArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/usecase/FetchMLSVerificationStatusArrangement.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: bug / fix 🐞, DO NOT MERGE

#2704 feat: draft in conversation list [WPB-7413]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/draft/MessageDraft.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/draft/MessageDraftMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/draft/MessageDraftRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/draft/SaveMessageDraftUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/draft/MessageDraftRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/draft/GetMessageDraftUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/draft/SaveMessageDraftUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/MessageDrafts.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/draft/MessageDraftDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/draft/MessageDraftDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/draft/MessageDraftEntity.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/draft/MessageDraftDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#2707 chore: support v21 web backup
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/RestoreWebBackupUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/backup/RestoreWebBackupUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: XS

#2706 feat: add indexing for notification queries [WPB-7227]
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Notification.sq
  persistence/src/commonMain/db_user/migrations/82.sqm
Labels: type: feature ✨, 👕 size: XS

#2711 refactor: select only 10 notifications form DB
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/notification/LocalNotification.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Notification.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: M

#2712 fix: compilation for monkeys
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/conversation/LocalMonkey.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#2708 fix: update legalhold status when fetching user data
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/legalhold/LegalHoldHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/handler/legalhold/LegalHoldHandlerTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#2715 chore: update dependencies before code freeze
  build.gradle.kts
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: S

#2717 chore: add some logs to RequestVideoStreamsUseCase
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/RequestVideoStreamsUseCase.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: XS

#2713 fix: UseCase for getting if one on one conversation with user exist [WPB-6936]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/CreateGroupConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/IsOneToOneConversationCreatedUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/IsOneToOneConversationCreatedUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/UserRepositoryArrangement.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#2718 fix: ANRs when getting identities [WPB-8753]
  .github/workflows/gradle-ios-tests.yml
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationMembersUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationMembersUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2710 fix: always update group info when a new member joins [WPB-4464]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberJoinEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberJoinEventHandlerTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2721 fix: ANRs when getting identities [WPB-8753]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationMembersUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationMembersUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞, cherry-pick

#2709 feat: add use case to observe outgoing call (WPB-979)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveOutgoingCallUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveOutgoingCallUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Calls.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/call/CallDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/call/CallDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/call/CallDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#2723 fix: remove duplicate execution of avsSyncStateReporter
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#2726 ci: use new cherry-pick action on release cycle 4.6 [WPB-8770]
  .github/workflows/cherry-pick-pr-to-newer-release-cycle.yml
  .github/workflows/cherry-pick-rc-to-develop.yml
Labels: 👕 size: M
