Repository wireapp/kalium, pull requests merged in 2024-03, with the labels that each got.

#2498 feat: check Certificate Revocation List for current client (WPB-3243)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/CertificateRevocationListRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/CheckRevocationListForCurrentClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/CheckRevocationListUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/CheckRevocationListForCurrentClientUseCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unbound/acme/ACMEApi.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/unread/UserConfigDAO.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#2565 feat: Remove third party library for certificate decoding (WPB-6765) - cherrypick
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/IDs.kt
  gradle/libs.versions.toml
  logic/build.gradle.kts
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/e2ei/CertificateStatusChecker.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/e2ei/PemCertificateDecoder.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/e2ei/PlatformX509Certificate.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/e2ei/X509CertificateGenerator.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/e2ei/CertificateStatusChecker.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/e2ei/PemCertificateDecoder.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/e2ei/PlatformX509Certificate.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/e2ei/X509CertificateGenerator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/CertificateStatusChecker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/CertificateStatusMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/E2eiCertificate.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/PlatformX509Certificate.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/X509CertificateGenerator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/GetE2EICertificateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/GetMembersE2EICertificateStatusesUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/GetUserE2EIAllCertificatesUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/GetUserE2EICertificateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/ObserveE2EIRequiredUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetE2eiCertificateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetMembersE2EICertificateStatusesUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetUserE2eiAllCertificateStatusesUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetUserE2eiCertificateStatusUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/mls/CertificateStatusMapperArrangement.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/feature/e2ei/CertificateStatusCheckerTest.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/feature/e2ei/PemCertificateDecoderTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: XXL

#2571 fix: release: Ignore core crypto errors on decrypting (WPD-6450)
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/CoreCryptoExceptionMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/MLSMessageFailureHandler.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#2573 fix: Team members API not passing paging state and resulting in infinite loop on teams with more than 200 members
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/team/TeamRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/team/TeamRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/TeamsApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/TeamsApiV0.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/teams/TeamsApiV0Test.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2575 fix: incorrect url when checking crl
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/CertificateRevocationListRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/CertificateRevocationListCheckWorker.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unbound/acme/ACMEApi.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2576 fix: missing json value pagingState when getting team member by ID
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/team/TeamRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/TeamsApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/TeamsApiV0.kt
Labels: 👕 size: S, type: bug / fix 🐞

#2579 fix: missing non-mls conversation when app supports MLS but backend doesn't
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UpdateSelfUserSupportedProtocolsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/client/ClientTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/UpdateSupportedProtocolsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#2583 fix: No audio/video when in MLS call (WPB-6984)
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
Labels: 👕 size: S, type: bug / fix 🐞

#2566 fix: crash when adding a nonfederated users to a federated conversation
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/ConversationApiV4.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/utils/NetworkUtils.kt
Labels: 👕 size: S, type: bug / fix 🐞

#2588 fix: E2EI enrolling grace period reseting issue RC
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/GetE2EICertificateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/handler/E2EIConfigHandler.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2590 fix: showing degradation alert dialog [WPB-6971] [WPB-6972]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/MLSConversationsVerificationStatusesHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/MLSConversationsVerificationStatusesHandlerTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/migrations/75.sqm
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2585 fix: Change return type of getConversationByGroupID to nullable for epoch changes
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/conversation/Monkey.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#2594 chore: update CC to 1.0.0-rc.47
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#2591 fix: e2ei invalid credentials crash [WPB-7009]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepositoryTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2598 chore: update CC to 1.0.0-rc.48
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#2587 fix: Clients should verify user identifiers inside certificate [WPB-6193]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/EpochChangesObserver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/MLSConversationsVerificationStatusesHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/MLSConversationsVerificationStatusesHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/mls/ConversationVerificationStatusChecker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/CheckRevocationListUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/MLSConversationsVerificationStatusesHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/mls/ConversationVerificationStatusCheckerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/CheckRevocationListUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/ConversationRepositoryArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/MLSConversationRepositoryArrangement.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Members.sq
  persistence/src/commonMain/db_user/migrations/76.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: bug / fix 🐞

#2564 fix: ignore reaction message insert if the message does not exists
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/reaction/ReactionRepository.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Reactions.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/reaction/ReactionDAO.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2601 fix: Suggestion to renew E2EI certificate RC (WPB-3326)
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/IDs.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/E2eiCertificate.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/GetE2EICertificateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/GetMembersE2EICertificateStatusesUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/GetUserE2EIAllCertificatesUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/ObserveE2EIRequiredUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/ObserveE2EIRequiredUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/MLSConversationsVerificationStatusesHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetE2eiCertificateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetMembersE2EICertificateStatusesUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetUserE2eiAllCertificateStatusesUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetUserE2eiCertificateStatusUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#2602 fix: ignore MLS error and use concurrent map in the sub conversation
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/CoreCryptoExceptionMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/SubconversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/MLSMessageFailureHandler.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2607 fix: Crash by loop dependence
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/CheckRevocationListUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/CheckRevocationListUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2609 refactor: allow returning values on commit retry [WPB-3694]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: M

#2616 chore: update CC to "1.0.0-rc.49"
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#2614 chore: obfuscate logging
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MLSMessageCreator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/PendingProposalScheduler.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#2620 fix: Request to update E@EI certificate when should not [wpb-7083]
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/IDs.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/E2eiCertificate.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/MLSConversationsVerificationStatusesHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetE2eiCertificateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetMembersE2EICertificateStatusesUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetUserE2eiAllCertificateStatusesUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2624 fix: handle with scheme and domain from corecrypto [WPB-7084]
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/IDs.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/MLSConversationsVerificationStatusesHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2623 feat(MLS): allow creating mls conversations with partial success [WPB-3694]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/JoinExistingMLSConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/NewConversationMembersRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/mls/KeyPackageResults.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/mlsmigration/MLSMigratorTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#2631 fix: adding members to group
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/ConversationApiV4.kt
Labels: 👕 size: S, type: bug / fix 🐞

#2580 feat: handle connection status update when legal hold requested [WPB-5937]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationInteractionAvailabilityUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/legalhold/LegalHoldHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationInteractionAvailabilityUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/handler/legalhold/LegalHoldHandlerTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Connections.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/ConnectionDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConnectionDaoTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#2615 fix(monkeys): allow to delay conversation to pool to avoid conversation not found errors (WPB-7046)
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/ActionScheduler.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/MetricsCollector.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/MonkeyApplication.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/ReplayApplication.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/Action.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/AddUserToConversationAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/CreateConversationAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/DestroyConversationAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/HandleExternalRequestAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/LeaveConversationAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/LoginAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/ReconnectAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/SendExternalRequestAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/SendMessageAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/SendRequestAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/replay/AddUserToConversationEventAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/replay/CreateConversationEventAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/replay/DestroyConversationEventAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/replay/LeaveConversationEventAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/replay/LogoutEventAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/replay/RequestResponseEventAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/replay/SendDirectMessageEventAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/replay/SendMessageEventAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/actions/replay/SendRequestEventAction.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/conversation/LocalMonkey.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/conversation/Monkey.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/conversation/MonkeyConversation.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/conversation/RemoteMonkey.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/pool/ConversationPool.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/server/model/ServerModel.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/server/routes/Monitoring.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/server/routes/Monkey.kt
Labels: type: bug / fix 🐞, 👕 size: M

#2630 chore: add logs when creating an epoch info
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#2633 fix: E2EI enroll twice on login
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/GetE2EICertificateUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetE2eiCertificateUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2637 refactor: make sure user is not Blank when using ACMEApi
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepositoryTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unbound/acme/ACMEApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unbound/acme/ACMEResponse.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/common/ACMEApiTest.kt
  tango-tests/src/integrationTest/kotlin/action/ACMEActions.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: M

#2636 refactor: create a dedicated class for WireIdentity handle [WPB-7084]
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/IDs.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/WireIdentityHandleTest.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/DecryptedMessageBundleMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/MLSConversationsVerificationStatusesHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: M

#2634 feat(monkeys): add timeouts and make the client retry requests
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/MetricsCollector.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/MonkeyApplication.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/conversation/RemoteMonkey.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/pool/ConversationPool.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/server/routes/Monitoring.kt
Labels: 👕 size: S, type: feature ✨

#2643 fix: MLS enabling setting [WPB-7097]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/MLSConversationsVerificationStatusesHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/handler/MLSConfigHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/event/FeatureConfigMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/featureConfig/SyncFeatureConfigsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/featureConfig/handler/MLSConfigHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/FeatureConfigEventReceiverTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/featureConfigs/FeatureConfigResponse.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/FeatureConfigJson.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/NotificationEventsResponseJson.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2646 fix: Check CRL on http (WPB-7121)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/CheckRevocationListUseCase.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unbound/acme/ACMEApi.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2644 fix: duplicated cert when enrolling after login
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/EnrollE2EIUseCase.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2654 refactor: ignore 1:1 resolver errors during slow sync
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncWorker.kt
Labels: type: refactoring 🛠, 👕 size: XS

#2655 fix: remove CRL check for current client (WPB-7125)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/CertificateRevocationListRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/CheckRevocationListForCurrentClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/CheckRevocationListUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/CheckRevocationListForCurrentClientUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/unread/UserConfigDAO.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#2656 chore: update CC to rc.52
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#2660 fix: failure fetching federated certificate chain
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/EnrollE2EIUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncWorker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/EnrollE2EICertificateUseCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unbound/acme/ACMEApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unbound/acme/ACMEResponse.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/common/ACMEApiTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#2610 feat: release of infinitemonkeys helm chart
  .github/workflows/quay.yml
  monkeys/docker/Dockerfile
  monkeys/helm/infinitemonkeys/.helmignore
  monkeys/helm/infinitemonkeys/Chart.yaml
  monkeys/helm/infinitemonkeys/Readme.md
  monkeys/helm/infinitemonkeys/dashboards/monkeys.json
  monkeys/helm/infinitemonkeys/files/config.json
  monkeys/helm/infinitemonkeys/templates/_helpers.tlp
  monkeys/helm/infinitemonkeys/templates/_scripts.tlp
  monkeys/helm/infinitemonkeys/templates/configmaps.yaml
  monkeys/helm/infinitemonkeys/templates/monkey-controller.yaml
  monkeys/helm/infinitemonkeys/templates/monkey-server.yaml
  monkeys/helm/infinitemonkeys/templates/podmonitor.yaml
  monkeys/helm/infinitemonkeys/values.yaml
Labels: type: feature ✨, 👕 size: XXL

#2668 fix: Image metadata in kalium testservice was inverted (WPB-7191)
  testservice/src/main/kotlin/com/wire/kalium/testservice/api/v1/ConversationResources.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#2673 fix: null teamId for team member [WPB-5749]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2664 feat: message draft [WPB-1021]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/draft/MessageDraft.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/draft/MessageDraftMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/draft/MessageDraftRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/mention/MessageMentionMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/draft/GetMessageDraftUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/draft/RemoveMessageDraftUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/draft/SaveMessageDraftUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/draft/MessageDraftRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/draft/GetMessageDraftUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/draft/RemoveMessageDraftUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/draft/SaveMessageDraftUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/MessageDrafts.sq
  persistence/src/commonMain/db_user/migrations/79.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/adapter/MentionListAdapter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/draft/MessageDraftDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/draft/MessageDraftDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/draft/MessageDraftEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/TableMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/draft/MessageDraftDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: XXL

#2662 feat: add a use case to check CRL revocation list once
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/CertificateRevocationListRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/CheckCrlRevocationListUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/CertificateRevocationListRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/CertificateRevocationListCheckWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/CheckCrlRevocationListUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#2674 fix: disable message composer only for degraded legal hold conversation status
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationInteractionAvailabilityUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationInteractionAvailabilityUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#2669 chore: bump cc to 1.0.0-rc.54
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#2670 feat: add SetVideoSendStateUseCase (WPB-7114)
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/video/SetVideoSendStateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/video/UpdateVideoStateUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/video/SetVideoSendStateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/video/UpdateVideoStateUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#2678 fix: unread self mention [WPB-5786]
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageTextEditTest.kt
Labels: type: bug / fix 🐞, 👕 size: M

#2679 feat: add SetVideoSendStateUseCase (WPB-7114) - cherrypick
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/video/SetVideoSendStateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/video/UpdateVideoStateUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/video/SetVideoSendStateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/video/UpdateVideoStateUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#2672 fix: remove crlcheckWorker and featureWorker from running in userSession (WPB-7213)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/CertificateRevocationListCheckWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/FeatureFlagsSyncWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2683 chore: remove architecture rule in CallRepository (WPB-6325)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: XS

#2686 chore: update AVS lib to version 9.7.7 (WPB-6406)
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS
