Repository wireapp/kalium, pull requests merged in 2024-12, with the labels that each got.

#3121 feat: add initial crossplatform backup serialization [WPB-10575]
  backup/build.gradle.kts
  backup/src/commonMain/kotlin/com/wire/backup/MPBackup.kt
  backup/src/commonMain/kotlin/com/wire/backup/data/BackupData.kt
  backup/src/commonMain/kotlin/com/wire/backup/data/BackupMetadata.kt
  backup/src/commonMain/kotlin/com/wire/backup/data/Mapping.kt
  backup/src/commonMain/kotlin/com/wire/backup/dump/MPBackupExporter.kt
  backup/src/commonMain/kotlin/com/wire/backup/ingest/BackupImportResult.kt
  backup/src/commonMain/kotlin/com/wire/backup/ingest/MPBackupImporter.kt
  backup/src/commonMain/kotlin/com/wire/backup/ingest/MPBackupMapper.kt
  backup/src/commonTest/kotlin/com/wire/backup/BackupEndToEndTest.kt
  backup/src/jsMain/kotlin/com/wire/backup/data/BackupDateTime.kt
  backup/src/jsMain/kotlin/com/wire/backup/dump/MPBackupExporter.kt
  backup/src/jsMain/kotlin/com/wire/backup/ingest/MPBackupImporter.kt
  backup/src/nonJsMain/kotlin/com/wire/backup/data/BackupDateTime.kt
  backup/src/nonJsMain/kotlin/com/wire/backup/dump/MPBackupExporter.kt
  backup/src/nonJsMain/kotlin/com/wire/backup/ingest/MPBackupImporter.kt
  gradle/libs.versions.toml
Labels: 👕 size: XL, type: feature ✨, echoes: product-roadmap/feature

#3142 feat: Call sharing metadata [WPB-14605]
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallMetadataProfile.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#3122 feat: support other message types [WPB-10575]
  backup/build.gradle.kts
  backup/src/commonMain/kotlin/com/wire/backup/data/BackupData.kt
  backup/src/commonMain/kotlin/com/wire/backup/dump/MPBackupExporter.kt
  backup/src/commonMain/kotlin/com/wire/backup/ingest/MPBackupImporter.kt
  backup/src/commonMain/kotlin/com/wire/backup/ingest/MPBackupMapper.kt
  backup/src/commonTest/kotlin/com/wire/backup/BackupEndToEndTest.kt
  backup/src/jsMain/kotlin/com/wire/backup/ingest/MPBackupImporter.kt
  backup/src/nonJsMain/kotlin/com/wire/backup/ingest/MPBackupImporter.kt
  protobuf-codegen/src/main/proto/backup.proto
Labels: type: feature ✨, 👕 size: L, echoes/initiative: personal-users-to-team-users..., echoes: product-roadmap/feature

#3141 chore: Core crypto 2.0 migration [WPB-14635]
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/CoreCryptoCentral.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientCoreCryptoImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/exceptions/ProteusException.kt
  gradle/libs.versions.toml
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/CoreCryptoExceptionMapper.kt
Labels: type: chore 🧹, 👕 size: M

#3146 fix: folders slow sync [WPB-14396]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/SlowSyncStatus.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/folder/GetFavoriteFolderUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/folder/SyncConversationFoldersUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncWorker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/folder/GetFavoriteFolderUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncWorkerTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/ConversationFolders.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/folder/ConversationFolderDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#3145 feat: API v7 changes #WPB-14798
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ConversationApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v7/authenticated/ConversationApiV7.kt
Labels: 👕 size: S, type: feature ✨, echoes/initiative: personal-users-to-team-users...

#3149 revert: conference simulcast support (WPB-11480) (#3107)
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallClient.kt
  gradle/libs.versions.toml
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  util/src/commonMain/kotlin/com.wire.kalium.util/serialization/LenientJsonSerializer.kt
Labels: 👕 size: M, echoes: product-roadmap/feature

#3153 refactor(backup): visibility modifier [WPB-10575]
  backup/build.gradle.kts
  backup/src/commonMain/kotlin/com/wire/backup/MPBackup.kt
  backup/src/commonMain/kotlin/com/wire/backup/data/BackupData.kt
  backup/src/commonMain/kotlin/com/wire/backup/data/BackupMetadata.kt
  backup/src/commonMain/kotlin/com/wire/backup/dump/MPBackupExporter.kt
  backup/src/commonMain/kotlin/com/wire/backup/ingest/BackupImportResult.kt
  backup/src/commonMain/kotlin/com/wire/backup/ingest/MPBackupImporter.kt
  backup/src/jsMain/kotlin/com/wire/backup/data/BackupDateTime.kt
  backup/src/jsMain/kotlin/com/wire/backup/dump/MPBackupExporter.kt
  backup/src/jsMain/kotlin/com/wire/backup/ingest/MPBackupImporter.kt
  backup/src/nonJsMain/kotlin/com/wire/backup/data/BackupDateTime.kt
  backup/src/nonJsMain/kotlin/com/wire/backup/dump/MPBackupExporter.kt
  backup/src/nonJsMain/kotlin/com/wire/backup/ingest/MPBackupImporter.kt
Labels: type: refactoring 🛠, 👕 size: M, echoes: product-roadmap/feature

#3154 chore(backup): add encrypted stream [WPB-10575]
  backup/build.gradle.kts
  backup/src/commonMain/kotlin/com/wire/backup/encryption/EncryptedStream.kt
  backup/src/commonMain/kotlin/com/wire/backup/envelope/cryptography/BackupPassphrase.kt
  backup/src/commonTest/kotlin/com/wire/backup/encryption/XChaChaPoly1305EncryptedStreamTest.kt
Labels: type: chore 🧹, 👕 size: L, echoes: product-roadmap/feature

#3161 chore: disable folders update handler [WPB-14923]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/UserPropertiesEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/UserPropertiesEventReceiverTest.kt
Labels: type: chore 🧹, 👕 size: S, DO NOT CHERRY PICK, echoes: product-roadmap

#3157 feat: add usecase to get team url (WPB-14872)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/ServerConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/server/GetTeamUrlUseCase.kt
  persistence/src/commonMain/db_global/com/wire/kalium/persistence/ServerConfiguration.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/daokaliumdb/ServerConfigurationDAO.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨, echoes/initiative: personal-users-to-team-users...

#3163 feat: use case to change cipher_profile [WPB-14826]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/ChangeProfilingUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/DebugScope.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨, echoes: unplanned

#3168 feat: Add use case to get team url - cherrypick RC (WPB-14872)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/ServerConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/server/GetTeamUrlUseCase.kt
  persistence/src/commonMain/db_global/com/wire/kalium/persistence/ServerConfiguration.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/daokaliumdb/ServerConfigurationDAO.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨, echoes/initiative: personal-users-to-team-users...

#3170 chore: upgrade to cc3, fixes new_transaction in paralel (WPB-14910)
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#3173 test: add tests for old format parser in capabilities (WPB-12022)
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/user/client/ClientApiV0Test.kt
Labels: 👕 size: S, type: test 👷, echoes/initiative: personal-users-to-team-users...

#3164 fix: Login to second device does not have MLS capabilities #WPB-14906
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/conversation/ConversationResponse.kt
Labels: type: bug / fix 🐞, 👕 size: XS, echoes: product-roadmap

#3176 fix: Sending of message in empty MLS group #WPB-14747
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3158 feat: Handle needToRemoveLocally flag [WPB-14603]
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ClearConversationContentUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/ClearConversationContentHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/ClearConversationContentHandlerTest.kt
  protobuf-codegen/src/main/proto/messages.proto
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#3112 feat: Recently ended call metadata [WPB-14256]
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/call/RecentlyEndedCallMetadata.kt
  logic/src/androidInstrumentedTest/kotlin/com/wire/kalium/logic/feature/call/CallManagerTest.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCall.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/CreateAndPersistRecentlyEndedCallMetadataUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveRecentlyEndedCallMetadataUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/search/SearchScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/search/SearchUsersUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/CreateAndPersistRecentlyEndedCallMetadataUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/search/SearchUseCaseTest.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCallTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨, echoes/initiative: product-metrics-in-countly

#3150 feat: conference simulcast support (WPB-11480)
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallClient.kt
  gradle/libs.versions.toml
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  util/src/commonMain/kotlin/com.wire.kalium.util/serialization/LenientJsonSerializer.kt
Labels: type: feature ✨, 👕 size: M, echoes: product-roadmap/feature

#3183 fix: Remove unused conversation id [#WPB-14256]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveRecentlyEndedCallMetadataUseCase.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS, echoes/initiative: product-metrics-in-countly

#3187 fix: infinite profile loading screen when user cannot be added (WPB-14842)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSendFailureHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/ObserveUserInfoUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/prekey/MessageSendFailureHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/mls/OneOnOneResolverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/ObserveUserInfoUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/UserRepositoryArrangement.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞, echoes: unplanned

#3190 feat: send and receive in-call reactions [#WPB-14254]
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/call/InCallReactionMessage.kt
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContentLogging.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/InCallReactionsRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveInCallReactionsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/incallreaction/SendInCallReactionUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/PersistMigratedMessagesUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/InCallReactionsRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/incallreaction/SendInCallReactionUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandlerTest.kt
  protobuf-codegen/src/main/proto/messages.proto
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#3186 feat: Add getSenderNameByMessageId useCase WPB-11723
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetSenderNameByMessageIdUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetSenderNameByMessageIdUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M, echoes: product-roadmap

#3191 feat: GetNextAudioMessageInConversationUseCase WPB-11725
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNextAudioMessageInConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNextAudioMessageInConversationUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M, echoes: product-roadmap

#3188 fix: do not commit User and Client upserts if nothing has changed [WPB-15055]
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Clients.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/draft/MessageDraftDAOTest.kt
Labels: type: bug / fix 🐞, 👕 size: M, echoes: unplanned

#3182 feat: Delete local conversation use case [#WPB-14601]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ClearConversationAssetsLocallyUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/DeleteConversationLocallyUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ClearConversationAssetsLocallyUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/DeleteConversationLocallyUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/MessageAssetView.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#3199 fix: Merging issue #WPB-11723
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞, echoes: product-roadmap

#3198 revert: "fix: do not commit User and Client upserts if nothing has changed [WPB-15055]
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Clients.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/draft/MessageDraftDAOTest.kt
Labels: 👕 size: M, echoes: unplanned

#3200 fix: fallback to proteus if conversation already present but MLS is default (WPB-15191)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/mls/OneOnOneMigrator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/mls/OneOnOneResolver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/mls/OneOnOneMigratorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/mls/OneOnOneResolverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/mls/OneOnOneMigratorArrangement.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M, echoes: unplanned

#3197 fix: MLS groups are not usable if I have a proteus client registered to my account but have MLS on current client [WPB-15192]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationInteractionAvailabilityUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationInteractionAvailabilityUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/UserRepositoryArrangement.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Clients.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/client/ClientDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M, echoes: unplanned
