Repository wireapp/kalium, pull requests merged in 2024-01, with the labels that each got.

#2336 refactor: remove duplicated legalHoldStatus field from ConversationDetails [WPB-4568]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallOnConversationChangeUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationDetailsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversationDetails.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: refactoring 🛠

#2341 fix: offload from main thread usecase operations used in conversation screen (WPB-5964)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/UpdateAssetMessageDownloadStatusUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/IsEligibleToStartCallUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetConversationUnreadEventsCountUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/MembersToMentionUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationDetailsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationInteractionAvailabilityUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/SendTypingEventUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/DeleteMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetSearchedConversationMessagePositionUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendKnockUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ToggleReactionUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/selfDeletingMessages/ObserveSelfDeletionTimerSettingsForConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/selfDeletingMessages/PersistNewSelfDeletionTimerUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/GetSelfUserUseCase.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#2340 fix: ANR caused by blocking op from stately internal extension (WPB-5963)
  gradle/libs.versions.toml
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/UserStorageProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/AuthenticationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/util/CommonUtils.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/ConcurrentMutableMapTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2337 refactor: change IsAppLockEditableUseCase to return Flow [WPB-5751]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/GlobalKaliumScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/session/SessionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/ObserveIsAppLockEditableUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/ObserveValidAccountsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/ObserveNewClientsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/featureConfig/ObserveIsAppLockEditableUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/daokaliumdb/AccountsDAO.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: M

#2345 fix: sync is stuck on connection cancelled event [WPB-6004][WPB-5981]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiverTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#2338 fix: Doubled NewConversation System message on accepting connection (WPB-5374)
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#2309 feat(monkeys): Add support for multi-clients in the replay mode [WPB-5764]
  monkeys/src/main/db_monkeys/com/wire/kalium/monkeys/db/ExecutionEvent.sq
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/MonkeyApplication.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/ReplayApplication.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/conversation/Monkey.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/model/EventData.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/pool/MonkeyPool.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/storage/PostgresStorage.kt
Labels: 👕 size: S, type: feature ✨

#2335 feat: Indicate user with valid E2EI certificate (WPB-3228)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/GetMembersE2EICertificateStatusesUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/GetUserE2EICertificateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetMembersE2EICertificateStatusesUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetUserE2eiCertificateStatusUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/mls/MLSConversationRepositoryArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/mls/PemCertificateDecoderArrangement.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#2357 fix: duplicated System Message about degraded conversation [rc]
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Members.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/member/MemberDAO.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/MemberDAOTest.kt
Labels: 👕 size: S, type: bug / fix 🐞

#2358 feat(e2ei): remove hardcoded acme url and use the value from remote
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepository.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: XS

#2355 feat: Fetch Federated certificated worker (WPB-5392)
  cryptography/src/appleMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/MLSClient.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/ACMECertificatesSyncWorker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/ACMECertificatesSyncWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/E2EIRepositoryArrangement.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unbound/acme/ACMEApi.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#2362 feat(mls): handle unsupported protocol for conversation [WPB-5047]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationInteractionAvailabilityUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationInteractionAvailabilityUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/UserRepositoryArrangement.kt
Labels: breaking change, 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#2364 test: improve contracts when asserting either result
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/asset/AssetRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/EnrollE2EICertificateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/PersistMigratedMessagesUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SendEditTextMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SendKnockUserCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SendTextMessageCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/EitherAssertions.kt
Labels: 👕 size: S, type: test 👷

#2363 feat: sending location messages (WPB-1732)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendLocationUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SendLocationUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#2365 feat: UseCase for getting all users E2EI certificates
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/GetUserE2EIAllCertificatesUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetUserE2eiAllCertificateStatusesUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#2367 feat: testservice sending location messages (WPB-2649)
  testservice/src/main/kotlin/com/wire/kalium/testservice/api/v1/ConversationResources.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/ConversationRepository.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/models/SendLocationRequest.kt
Labels: 👕 size: S, type: feature ✨

#2369 fix: Crash while getting users mls verification status (WPB-6125)
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
Labels: type: bug / fix 🐞, 👕 size: XS

#2370 fix: archived conversation notifications before login (WPB-6127)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationArchivedStatusUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/UpdateConversationArchivedStatusUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Notification.sq
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageNotificationsTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#2375 feat(e2ei): upgrade CoreCrypto to 29 (WPB-6149)
  cryptography/src/appleMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/MLSClient.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  gradle/libs.versions.toml
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/E2EIClientProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepositoryTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unbound/acme/ACMEApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unbound/acme/ACMEResponse.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#2326 fix: testservice logged wrong backend name and has different log form…
  testservice/config.yml
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/InstanceService.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#2376 refactor: testservice set message timer generalized
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/ConversationRepository.kt
Labels: 👕 size: S, type: refactoring 🛠

#2373 fix: team mates are displayed under pulic wire in search list
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/search/SearchUsersUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/search/SearchUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiverTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2379 feat: implement federated search term parser
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/search/FederatedSearchParser.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/search/SearchScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/search/FederatedSearchParserTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/SessionRepositoryArrangement.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#2374 feat: handle both team member deleted events
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/FederationEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/TeamEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberLeaveEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/team/TeamRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/FederationEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/TeamEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberLeaveEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/dao/MemberDAOArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/UserRepositoryArrangement.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/notification/EventContentDTO.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Members.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/member/MemberDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#2378 chore: remove deprecated by server team events (WPB-5879)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/GetSelfTeamUseCaseImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/GetUpdatedSelfTeamUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/TeamScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessor.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/TeamEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/team/GetUpdatedSelfTeamUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/TeamEventReceiverTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/notification/EventContentDTO.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: L

#2383 chore(deps): upgrade Gradle to 8.5
  gradle/wrapper/gradle-wrapper.properties
Labels: type: chore 🧹, 👕 size: XS

#2329 fix: update current capabilities to legal hold consent (WPB-5334)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/remote/ClientRemoteRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/legalhold/UpdateSelfClientCapabilityToLegalHoldConsentUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/client/ClientRemoteRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/client/ClientRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/legalhold/UpdateSelfClientCapabilityToLegalHoldConsentUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/UserEventReceiverTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/client/ClientApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/client/ClientRequest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ClientApiV0.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/user/client/ClientApiV0Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/model/UpdateClientRequestJson.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/unread/UserConfigDAO.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#2382 feat(e2ei): fetch and register trust anchors (WPB-3339)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/EnrollE2EIUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/EnrollE2EICertificateUseCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unbound/acme/ACMEApi.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/common/ACMEApiTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#2387 fix: insure that isFederated function will never run on the main thread
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/id/FederatedIdMapperImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/session/SessionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/search/FederatedSearchParser.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/id/FederatedIdMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/search/FederatedSearchParserTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/SessionRepositoryArrangement.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/daokaliumdb/AccountsDAO.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2392 ci: preserve Original Author in Cherry-Picked Commits
  .github/workflows/cherry-pick-rc-to-develop.yml
Labels: 👕 size: S

#2389 fix: MLS log spam with NPE [WPB-6222]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#2393 feat: use case to send button action confirmations (WPB-2633)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/composite/SendButtonActionConfirmationMessageUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/composite/SendButtonActionConfirmationMessageTest.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/api/v1/ConversationResources.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/ConversationRepository.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/models/SendButtonActionConfirmationRequest.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/models/SendButtonActionRequest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#2361 feat(MLS): add usecase to check revocation list (WPB-3243)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/CheckRevocationListUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/CheckRevocationListUseCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unbound/acme/ACMEApi.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/unread/UserConfigDAO.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#2384 feat: Observe self client certificate revocation (WPB-6145)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/ObserveCertificateRevocationForSelfClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/e2ei/MarkNotifyForRevokedCertificateAsNotifiedUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/e2ei/ObserveShouldNotifyForRevokedCertificateUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/e2ei/MarkNotifyForRevokedCertificateAsNotifiedUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/e2ei/ObserveShouldNotifyForRevokedCertificateUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/unread/UserConfigDAO.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#2401 fix: SelfDeleting message in MLS conversation [WPB-5301]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MLSMessageCreator.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#2404 feat(e2ei): set claims in OAuth flow
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/E2EIClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/E2EIClient.kt
  gradle/libs.versions.toml
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/EnrollE2EIUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/EnrollE2EICertificateUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#2397 feat: create worker to periodically CRL (WPB-3243)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/CertificateRevocationListRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/CertificateRevocationListCheckWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/CheckRevocationListUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/CertificateRevocationListRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/CertificateRevocationListCheckTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/CheckRevocationListUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/config/UserConfigStorage.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#2408 feat: Observe self client certificate revocation (WPB-6145) - cherrypick
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/ObserveCertificateRevocationForSelfClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/e2ei/MarkNotifyForRevokedCertificateAsNotifiedUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/e2ei/ObserveShouldNotifyForRevokedCertificateUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/e2ei/MarkNotifyForRevokedCertificateAsNotifiedUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/e2ei/ObserveShouldNotifyForRevokedCertificateUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/unread/UserConfigDAO.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#2412 fix: update user connection status after cancelling request
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/FederationEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/FederationEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/ConnectionRepositoryArrangement.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2405 fix(mls): fetch other user supported protocols when resolving 1:1 conversation [WPB-5048]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/connection/AcceptConnectionRequestUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/NotifyConversationIsOpenUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/mls/OneOnOneResolver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UpdateSelfUserSupportedProtocolsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UpdateSupportedProtocolsAndResolveOneOnOnesUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MLSWelcomeEventHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/NewConversationEventHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncWorker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/connection/AcceptConnectionRequestUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/mls/OneOnOneResolverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/UpdateSupportedProtocolsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/NewConversationEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/mls/OneOnOneResolverArrangement.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#2410 feat: create worker to periodically check CRL (WPB-3243) - cherrypick
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/CertificateRevocationListRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/CertificateRevocationListCheckWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/CheckRevocationListUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/CertificateRevocationListRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/CertificateRevocationListCheckTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/CheckRevocationListUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/config/UserConfigStorage.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#2417 fix: add crl url when there is no stored list
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/CertificateRevocationListRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/CertificateRevocationListRepositoryTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2403 feat(e2ei): respect E2EI during login and client creation (WPB-5851)
  cli/src/commonMain/kotlin/com/wire/kalium/cli/commands/LoginCommand.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/E2EIClientImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/E2EIClient.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/IDs.kt
  gradle/libs.versions.toml
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/E2EIClientProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/MLSClientProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/FinalizeMLSClientAfterE2EIEnrollment.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/GetOrRegisterClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/MLSClientManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ObserveIsE2EIRequiredState.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/RegisterMLSClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/EnrollE2EIUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/composite/SendButtonMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncCriteriaProvider.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/GetOrRegisterClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/MLSClientManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/RegisterMLSClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/EnrollE2EICertificateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetE2eiCertificateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetMembersE2EICertificateStatusesUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetUserE2eiAllCertificateStatusesUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetUserE2eiCertificateStatusUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SendTextMessageCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/composite/SendButtonMessageCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncCriteriaProviderTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/BackendMetaDataUtil.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unbound/acme/ACMEApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v6/authenticated/networkContainer/AuthenticatedNetworkContainerV6.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/client/ClientRegistrationStorageImpl.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/api/v1/ConversationResources.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/ConversationRepository.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/InstanceService.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#2411 feat(e2ei): upgrade corecrypto to RC34 (WPB-6272)
  cryptography/src/appleMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/E2EIClientImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/E2EIClient.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/MLSClient.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/E2EIClientTest.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/MLSClientTest.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  gradle/libs.versions.toml
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/AcmeAuthorization.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/AcmeMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/EnrollE2EIUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MLSWelcomeEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/EnrollE2EICertificateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MLSWelcomeEventHandlerTest.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/architecture/LayerAccessRulesTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unbound/acme/ACMEApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unbound/acme/ACMEResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/NetworkErrorLabel.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/utils/CustomErrors.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/common/ACMEApiTest.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/json/model/ACMEApiResponseJsonSample.kt
  tango-tests/src/integrationTest/kotlin/util/ACMEApiResponseJsonSample.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#2415 feat: Trigger CheckRevocationList use case (WPB-3243)
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/MLSClient.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MLSWelcomeEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MLSWelcomeEventHandlerTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#2420 chore(sqlite): remove double quoted string literals from sqlite
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Clients.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Members.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/MessageDetailsView.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/db_user/migrations/54.sqm
  persistence/src/commonMain/db_user/migrations/55.sqm
  persistence/src/commonMain/db_user/migrations/58.sqm
  persistence/src/commonMain/db_user/migrations/62.sqm
  persistence/src/commonMain/db_user/migrations/63.sqm
  persistence/src/commonMain/db_user/migrations/64.sqm
  persistence/src/commonMain/db_user/migrations/65.sqm
  persistence/src/commonMain/db_user/migrations/66.sqm
  persistence/src/commonMain/db_user/migrations/70.sqm
  persistence/src/commonMain/db_user/migrations/73.sqm
Labels: type: chore 🧹, 👕 size: M

#2426 fix: duplicated system messages for adding/removing participants mls (WPB-6249)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2419 feat: handle legal hold failure result when sending connection [WPB-4395]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/connection/SendConnectionRequestUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/connection/SendConnectionRequestUseCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/KaliumException.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/NetworkErrorLabel.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#2390 ci: enable KVM for faster emulator
  .github/workflows/gradle-android-instrumented-tests.yml
  .github/workflows/gradle-android-unit-tests.yml
  .github/workflows/gradle-ios-tests.yml
  .github/workflows/gradle-jvm-tests.yml
Labels: 👕 size: S

#2429 fix: crash on login due to a circular dependency
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/MLSConversationsVerificationStatusesHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/mls/ConversationVerificationStatusChecker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/mls/EpochChangesObserver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/MLSConversationsVerificationStatusesHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/mls/ConversationVerificationStatusCheckerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/MLSConversationRepositoryArrangement.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#2431 chore: bring back architecture test after being ignored
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepository.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/architecture/LayerAccessRulesTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: XS
