Repository wireapp/kalium, pull requests merged in 2024-11, with the labels that each got.

#3085 fix: add use case to get all ConversationDetailsWithEvents for not paginated list [WPB-12070]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsWithEventsUseCaseImpl.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#3071 fix: black screen when last caller in a group #WPB-10652
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/id/QualifiedId.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/id/QualifiedIdTest.kt
Labels: 👕 size: S, type: bug / fix 🐞, echoes: features, echoes: bugs

#3086 feat: add metrics for sync engine slow and incremental (WPB-11199)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncManagerLogger.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManager.kt
Labels: type: feature ✨, 👕 size: M

#3091 chore: bump avs version to 9.10.16
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#3090 feat: add metrics for sync engine slow and incremental - RC (WPB-11199)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncManagerLogger.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManager.kt
Labels: type: feature ✨, 👕 size: M, DO NOT CHERRY PICK

#3093 chore: improve logging for backups (WPB-12113)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/RestoreBackupUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/RestoreWebBackupUseCase.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S, echoes: technical-debt

#3095 chore(calling): add missing proguard rules
  calling/consumer-proguard-rules.pro
Labels: type: chore 🧹, 👕 size: XS

#3094 feat: disable x86 support [WPB-11427]
  calling/build.gradle.kts
  cryptography/build.gradle.kts
Labels: 👕 size: S, type: feature ✨, echoes: throughput

#3101 fix: Adjust used JDK name for deployment of testservice (WPB-14267)
  testservice/Jenkinsfile
Labels: type: bug / fix 🐞, 👕 size: XS

#3098 fix: extremely slow paginated conversation list query [WPB-11808]
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Calls.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/ConversationDetailsWithEvents.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/LastMessage.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/UnreadEvents.sq
  persistence/src/commonMain/db_user/migrations/90.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/TableMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
Labels: 👕 size: XL, type: bug / fix 🐞, echoes: bugs

#3104 fix: Properly updating draft message [WPB-14271]
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/MessageDrafts.sq
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/draft/MessageDraftDAOTest.kt
Labels: type: bug / fix 🐞, 👕 size: M

#3108 fix: primary key of conversation folder [WPB-14309]
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/ConversationFolders.sq
  persistence/src/commonMain/db_user/migrations/91.sqm
Labels: type: bug / fix 🐞, 👕 size: XS, echoes: product-roadmap

#3111 fix: folders now found [WPB-11639]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/folders/ConversationFolderMappers.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/folders/ConversationFolderRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/folders/ConversationFolderRepositoryTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞, echoes: product-roadmap

#3109 chore: add more logs for sending message debugging #WPB-11601
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSender.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S, echoes: unplanned

#3107 feat: conference simulcast support (WPB-11480)
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallClient.kt
  gradle/libs.versions.toml
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  util/src/commonMain/kotlin/com.wire.kalium.util/serialization/LenientJsonSerializer.kt
Labels: type: feature ✨, 👕 size: M

#3097 chore: add script for generating new API version #WPB-11975
  network/build.gradle.kts
  network/src/commonMain/kotlin/com/wire/kalium/network/BackendMetaDataUtil.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/AuthenticatedNetworkContainer.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/UnauthenticatedNetworkContainer.kt
  scripts/generate_new_api_version.sh
Labels: type: chore 🧹, 👕 size: M, echoes/initiative: personal-users-to-team-users...

#3087 feat: Create use case for calling activated status #WPB-1826
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveConferenceCallingEnabledUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveConferenceCallingEnabledUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/config/UserConfigStorage.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M, echoes: product-roadmap

#3114 feat: add use case to check if backend supports personal to team migration (WPB-12022)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/ServerConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/personaltoteamaccount/CanMigrateFromPersonalToTeamUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/network/SessionManagerImpl.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/personaltoteamaccount/CanMigrateFromPersonalToTeamUseCaseTest.kt
  persistence/src/commonMain/db_global/com/wire/kalium/persistence/ServerConfiguration.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/daokaliumdb/ServerConfigurationDAO.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M, echoes/initiative: personal-users-to-team-users...

#3117 chore: create backup module [WPB-10575]
  backup/README.md
  backup/build.gradle.kts
  data/build.gradle.kts
  network-model/build.gradle.kts
Labels: type: chore 🧹, 👕 size: M

#3120 feat: update teamId after migrating from personal to team account (WPB-12187)
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/user/CreateUserTeam.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/migration/MigrateFromPersonalToTeamUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/migration/MigrateFromPersonalToTeamUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨, echoes/initiative: personal-users-to-team-users...

#3127 chore: 🍒 from develop - more logs sending message #WPB-11601
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSender.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S, echoes: unplanned

#3130 fix: make some conversation models serializable, add serializer for Any primitive type [WPB-14433]
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationStatus.kt
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/message/mention/MessageMention.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  util/src/commonMain/kotlin/com.wire.kalium.util/serialization/SerializationUtils.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞, echoes: unplanned

#3135 feat: Move API V6 to supported #WPB-14528
  network/src/commonMain/kotlin/com/wire/kalium/network/BackendMetaDataUtil.kt
Labels: type: feature ✨, 👕 size: XS

#3137 revert: "chore: update sqlcipher [WPB-11808] (#3069)"
  gradle/libs.versions.toml
Labels: Fix PR Title 🤦‍♂️, 👕 size: XS, echoes: unplanned

#3134 feat: more errors handling for personal migration #WPB-14281
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/migration/MigrateFromPersonalToTeamUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/migration/MigrateFromPersonalToTeamUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M, echoes/initiative: personal-users-to-team-users...
