Repository wireapp/kalium, pull requests merged in 2024-09, with the labels that each got.

#2974 perf: improve ProteusClientCoreCrypto performance [WPB-10000]
  cryptography/src/appleMain/kotlin/com/wire/kalium/cryptography/ProteusClientCoreCryptoImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientCoreCryptoImpl.kt
  docs/notebooks/README.md
  docs/notebooks/event-performance-investigation/PerformanceImprovements.ipynb
  docs/notebooks/event-performance-investigation/logs/InitialData.txt
  docs/notebooks/event-performance-investigation/logs/NotSavingSession.txt
  docs/notebooks/event-performance-investigation/logs/WithExistingSessionCache.txt
Labels: 👕 size: XXL, echoes: maintenance

#2987 fix(mls-client): skip MLSClient registration if registered client is mlsCapable (WPB-10723)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/VerifyExistingClientUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/VerifyExistingClientUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2986 chore: Bump avs 9.6.16 (WPB-10837)
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS, DO NOT CHERRY PICK, echoes: bugs

#2971 feat: support consuming external events for debugging purposes (WPB-10756)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/DebugScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/SynchronizeExternalDataUseCase.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨, echoes: maintenance

#2968 feat: add CLI command for generating random events (WPB-10756)
  cli/build.gradle.kts
  cli/src/appleMain/kotlin/main.kt
  cli/src/commonMain/kotlin/com/wire/kalium/cli/commands/GenerateEventsCommand.kt
  cli/src/jvmMain/kotlin/com/wire/kalium/cli/main.kt
  detekt/baseline.xml
  gradle/libs.versions.toml
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventGenerator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/DebugScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/EstablishSessionUseCase.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M, echoes: maintenance

#2995 fix: handle the case where asset name can be missing
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/AssetContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/GetMessageAssetUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/ScheduleNewAssetMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/ValidateAssetFileTypeUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/asset/AssetMessageHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/ScheduleNewAssetMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/ValidateAssetFileTypeUseCaseTest.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/sync/receiver/asset/AssetMessageHandlerTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#2992 fix(proteus): prevent missing messages by using transactions [WPB-10873]
  cryptography/src/androidMain/kotlin/com/wire/kalium/cryptography/ProteusClientCryptoBoxImpl.kt
  cryptography/src/appleMain/kotlin/com/wire/kalium/cryptography/ProteusClientCoreCryptoImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientCoreCryptoImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/ProteusClient.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/ProteusClientTest.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/ProteusClientCryptoBoxImpl.kt
  cryptography/src/jvmMain/kotlin/com/wire/kalium/cryptography/ProteusClientCryptoBoxImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/NewMessageEventHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ProteusMessageUnpacker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/NewMessageEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ProteusMessageUnpackerTest.kt
Labels: type: bug / fix 🐞, 👕 size: L, echoes: bugs

#3006 fix: images form iOS are blocked when restrictions are applied [WPB-10830]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/asset/AssetMessageHandler.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/sync/receiver/asset/AssetMessageHandlerTest.kt
Labels: 👕 size: S, type: bug / fix 🐞, echoes: bugs

#2994 fix: Read receipts not generated when responding from notification (WPB-8756)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/MessageRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageTextEditTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞, echoes: features

#3008 revert: "fix(migration): pick one-on-one proteus conversation in alphabetically order for MLS migration (WPB-10259)"
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: Fix PR Title 🤦‍♂️, 👕 size: S, echoes: bugs

#3005 fix: incorrect sender & receiver ID on generated events [WPB-11075]
  cli/src/commonMain/kotlin/com/wire/kalium/cli/commands/GenerateEventsCommand.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventGenerator.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3011 chore: observe only current call [WPB-3959]
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/call/Call.kt
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallMetadataProfile.kt
  gradle/libs.versions.toml
  logic/src/androidInstrumentedTest/kotlin/com/wire/kalium/logic/feature/call/scenario/OnIncomingCallTest.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/scenario/OnIncomingCall.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/mapper/CallMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveEstablishedCallWithSortedParticipantsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/AnswerCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallOnConversationChangeUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/GetAllCallsWithSortedParticipantsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/IsCallRunningUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/MuteCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveOngoingCallsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveOutgoingCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/UnMuteCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/UpdateConversationClientsForCurrentCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/video/UpdateVideoStateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestCall.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/CallRepositoryArrangement.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCallTest.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/feature/call/scenario/OnMuteStateForSelfUserChangedTest.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantListChangedTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M, echoes: bugs

#3000 chore: Remove call to deleteSubConversation after ending 1:1 call (WPB-11007)
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCall.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallHelper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallHelperTest.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCallTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: chore 🧹, DO NOT CHERRY PICK, echoes: bugs

#3001 chore: Remove call to deleteSubConversation after ending 1:1 call (WPB-11007) - RC
  logic/src/androidInstrumentedTest/kotlin/com/wire/kalium/logic/feature/call/CallManagerTest.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCall.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallHelper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallHelperTest.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCallTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M, echoes: bugs

#3004 feat: FederatedSearchParser accept if other domain allowed [WPB-10788]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetConversationProtocolInfoUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/search/FederatedSearchParser.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GetConversationProtocolInfoUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/search/FederatedSearchParserTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M, echoes/initiative: federation-wire-cloud

#3009 fix(mls): set removal-keys for 1on1 calls from conversation-response (WPB-10743)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/mlspublickeys/MLSPublicKeysRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/model/ApiModelMapper.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v6/authenticated/ConversationApiV6.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M, echoes: features

#3020 fix(mls): fetch and set mls-removal keys for 1on1 conversations (WPB-10743)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/JoinExistingMLSConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/mls/MLSOneOnOneConversationResolver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationsUseCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v6/authenticated/ConversationApiV6.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞, echoes: features, echoes: bugs

#3022 fix: random decryption errors after ending 1:1 on SFT (WPB-11213)
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/CoreCryptoExceptionMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/MLSMessageFailureHandler.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#3026 fix: 404 when getting client domain crl [WPB-11243]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/CheckCrlRevocationListUseCase.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unbound/acme/ACMEApi.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/common/ACMEApiTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3024 fix: Catch excecption on Asset uploading [WPB-10700]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/AssetRepository.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞, echoes: bugs

#3029 fix: update group state when fetching conversation during slow sync WPB-11247
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 👕 size: S, type: bug / fix 🐞, echoes: technical-debt, echoes: throughput, echoes: features, echoes: bugs, echoes: security, echoes: throughput/ci-maintenance, echoes/initiative: product-metrics-in-countly, echoes: maintenance

#3027 fix: delete asset file when removing self-deleting msg [WPB-1807]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ephemeral/DeleteEphemeralMessageForSelfUserAsReceiverUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ephemeral/EphemeralMessageDeletionHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ephemeral/SelfDeletionEventLogger.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/ephemeral/DeleteEphemeralMessageForSelfUserAsReceiverUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M, echoes: features

#3031 fix: crash when login after session expire and client deleted remotely [WPB-11061]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/MLSClientProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/GetOrRegisterClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepositoryTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/config/UserConfigStorage.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/unread/UserConfigDAO.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/config/UserConfigDAOTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3036 ci: use latest version of bencher as required per cloud flavor (WPB-8645)
  .github/workflows/benchmarks-check.yml
Labels: 👕 size: XS, echoes: throughput/ci-maintenance

#3042 fix: Migration message not shown in 1:1 conversations (WPB-11194)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/mls/OneOnOneMigrator.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/mls/OneOnOneMigratorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/MessageRepositoryArrangement.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞, echoes: bugs

#3043 chore: optional calling [WPB-9999]
  calling/src/commonJvmAndroid/kotlin/com.wire.kalium.calling/Calling.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/util/DummyCallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/featureFlags/KaliumConfigs.kt
  tango-tests/src/integrationTest/kotlin/PocIntegrationTest.kt
Labels: type: chore 🧹, 👕 size: M, echoes: maintenance

#3046 chore: mock websocket session [WPB-9999]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/featureFlags/KaliumConfigs.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/NetworkClient.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/NotificationApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/networkContainer/AuthenticatedNetworkContainerV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/authenticated/networkContainer/AuthenticatedNetworkContainerV2.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/networkContainer/AuthenticatedNetworkContainerV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/networkContainer/AuthenticatedNetworkContainerV4.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v5/authenticated/networkContainer/AuthenticatedNetworkContainerV5.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v6/authenticated/networkContainer/AuthenticatedNetworkContainerV6.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/AuthenticatedNetworkContainer.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/utils/MockWebSocketSession.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/ApiTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M, echoes: maintenance
