Repository wireapp/kalium, pull requests merged in 2024-08, with the labels that each got.

#2924 chore: Improve isSelfATeamMember UseCase (WPB-8978)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/TeamScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/IsSelfATeamMemberUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/IsSelfATeamMemberUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S, echoes/initiative: product-metrics-in-countly

#2926 feat: support anonymous analitics (WPB-8978)
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/analytics/AnalyticsIdentifierResult.kt
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContentLogging.kt
  logger/src/commonMain/kotlin/com/wire/kalium/logger/KaliumLogger.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/analytics/AnalyticsIdentifierManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/analytics/ObserveAnalyticsTrackingIdentifierStatusUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/PersistMigratedMessagesUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/TeamScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/IsSelfATeamMemberUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/DataTransferEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/analytics/AnalyticsIdentifierManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/analytics/ObserveAnalyticsTrackingIdentifierStatusUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/IsSelfATeamMemberUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/handler/DataTransferEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/UserConfigRepositoryArrangement.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/unread/UserConfigDAO.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: XXL, echoes/initiative: product-metrics-in-countly

#2927 ci: missing codecov token (WPB-8645)
  .github/workflows/gradle-jvm-tests.yml
Labels: 👕 size: XS, echoes: throughput/ci-maintenance

#2925 fix: delete assets locally when message is deleted [WPB-9466]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/AssetRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/DebugScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ephemeral/DeleteEphemeralMessageForSelfUserAsSenderUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/asset/AssetRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/ephemeral/DeleteEphemeralMessageForSelfUserAsSenderUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/AssetRepositoryArrangement.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M, echoes: bugs

#2923 feat: terminate the SFT OneOnOneCall once the other person hangup the call (WPB-7153)
  gradle/libs.versions.toml
  logic/src/androidInstrumentedTest/kotlin/com/wire/kalium/logic/feature/call/CallManagerTest.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCall.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantListChanged.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/MLSCallHelper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/JoinSubconversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/SubconversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/MLSCallHelperTest.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCallTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨, echoes: features

#2935 chore: update AVS version to 9.8.15
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#2934 feat: End SFT oneOnOne call on proteus protocol (WPB-7153)
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantListChanged.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/MLSCallHelper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/MLSCallHelperTest.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantListChangedTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L, echoes: features

#2932 fix: Validate other members UserName and DisplayName in E2EI [WPB-10402]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/FetchMLSVerificationStatusUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/GetMembersE2EICertificateStatusesUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/GetUserE2EICertificateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetMembersE2EICertificateStatusesUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetUserE2eiCertificateStatusUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/ConversationRepositoryArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/UserRepositoryArrangement.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/member/MemberDAO.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#2940 feat: support api v6 [WPB-10265]
  network/src/commonMain/kotlin/com/wire/kalium/network/BackendMetaDataUtil.kt
Labels: type: feature ✨, 👕 size: XS, echoes: features

#2944 ci: ignoreDisabledTargets when building with CI that does not support apple targets
  gradle.properties
Labels: 👕 size: XS

#2929 fix: app registering many config sync jobs [WPB-10234]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/RevocationListChecker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/SyncCertificateRevocationListUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/ObserveCertificateRevocationForSelfClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/FeatureFlagsSyncWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/CertificateRevocationListCheckWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/featureConfig/FeatureFlagSyncWorkerTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#2938 chore: cleanup MLSCallHelper class (WPB-7153)
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCall.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantListChanged.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallHelper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/MLSCallHelperTest.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCallTest.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantListChangedTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S, echoes: features

#2949 feat: Get Current Analytics Tracking Identifier (WPB-10600)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/ServerConfig.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/analytics/GetCurrentAnalyticsTrackingIdentifierUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/analytics/GetCurrentAnalyticsTrackingIdentifierUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#2950 fix: Check file extension instead of mimeType [WPB-10605]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/ScheduleNewAssetMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/ValidateAssetFileTypeUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/asset/ValidateAssetMimeTypeUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/asset/AssetMessageHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/ScheduleNewAssetMessageUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/asset/ValidateAssetFileTypeUseCaseTest.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/sync/receiver/asset/AssetMessageHandlerTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#2952 fix: prevent cancellation midway through event processing [WPB-7070]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessor.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessorTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M, echoes: bugs

#2953 fix: Missed call message does not get marked as read if self user called (WPB-10208)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M, echoes: bugs

#2957 chore: cleanup MLSCallHelper class (WPB-7153) - cherrypick RC
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCall.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantListChanged.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallHelper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/MLSCallHelperTest.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCallTest.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantListChangedTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S, echoes: features

#2958 fix: Missed call message does not get marked as read if self user called (WPB-10208) - cherrypick
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M, echoes: bugs

#2960 ci: run jvm and android unit tests and aggregating results [WPB-10599]
  build.gradle.kts
Labels: 👕 size: S

#2937 chore(core-crypto): update CoreCrypto to 1.0.2 (WPB-9118)
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/CoreCryptoCentral.kt
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: S, echoes: bugs

#2962 fix(migration): pick one-on-one proteus conversation in alphabetically order for MLS migration (WPB-10259)
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 👕 size: S, type: bug / fix 🐞, echoes: bugs

#2965 fix: Call ending when enabling video during a 1:1 call in 1:1 MLS conversation (WPB-10724)
  gradle/libs.versions.toml
Labels: type: bug / fix 🐞, 👕 size: XS

#2970 refactor: make interaction availability as extension function [WPB-3176]
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/Conversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationInteractionAvailabilityUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationInteractionAvailabilityUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: M, echoes: bugs

#2975 fix: wrong handling of conversation access role (WPB-10746)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/conversation/ConversationResponseJson.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/conversation/CreateConversationRequestJson.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/conversation/ConversationPagingResponse.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/conversation/ConversationResponse.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/model/ApiModelMapper.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/ConversationApiV3.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/conversation/ConversationApiV0Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v2/ConversationResponseTest.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v3/ConversationApiV3Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v3/ConversationV3ResponseTest.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v4/ConversationApiV4Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v5/ConversationApiV5Test.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: bug / fix 🐞, echoes: bugs

#2976 fix: second message edit will fail [WPB-10773]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/MessageTextEditHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/MessageTextEditHandlerTest.kt
Labels: 👕 size: S, type: bug / fix 🐞, echoes: bugs

#2977 feat: add extra info for users without avatars in missing places (WPB-1750)
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallMetadataProfile.kt
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/call/Participant.kt
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserMapper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallingParticipantsOrderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/MLSCallHelperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/ParticipantsFilterTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/ParticipantsOrderByNameTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/SetTestRemoteVideoStatesUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestCall.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestUser.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/db_user/migrations/84.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationViewEntity.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M, echoes: features

#2980 feat: missing accent id for messages detail, reactions and receipts (WPB-1750)
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/message/UserSummary.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/reaction/ReactionsMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/receipt/ReceiptsMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserMapper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/ReactionsMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/receipt/ReceiptsMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/ObserveMessageReactionsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/ObserveMessageReceiptsUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Reactions.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Receipts.sq
  persistence/src/commonMain/db_user/migrations/85.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/reaction/ReactionMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/reaction/ReactionsEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/receipt/DetailedReceiptEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/receipt/ReceiptMapper.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨, echoes: features

#2981 feat: handle conversation access update event (WPB-10850)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/AccessUpdateEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/AccessUpdateHandlerTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L
