Repository wireapp/kalium, pull requests merged in 2024-10, with the labels that each got.

#3047 fix: Legalhold implementation in testservice (WPB-10479)
  testservice/src/main/kotlin/com/wire/kalium/testservice/api/v1/ConversationResources.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/ConversationRepository.kt
Labels: 👕 size: S, type: bug / fix 🐞

#3045 fix: Active speaker highlighting [WPB-11040]
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallMetadataProfile.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
Labels: 👕 size: S, type: bug / fix 🐞, echoes: bugs

#3051 refactor: remove network from registerToken #WPB-9476
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/notificationToken/PushTokenUpdater.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/notificationToken/PushTokenUpdaterTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: refactoring 🛠

#3050 feat: Add debug button send FCM token #WPB-9476
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/DebugScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/notificationToken/SendFCMTokenUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/notificationToken/SendFCMTokenToAPIUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#3053 refactor: api mocks [WPB-9999]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/confirmation/ConfirmationDeliveryHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/util/TimeLogger.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/mocks/asset/AssetMocks.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/mocks/client/ClientMocks.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/mocks/client/TokenMocks.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/mocks/connection/ConnectionMocks.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/mocks/conversation/ConversationMocks.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/mocks/domain/DomainMocks.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/mocks/user/UserMocks.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/requests/ConnectionRequests.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/requests/ConversationRequests.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/requests/NotificationRequests.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/requests/PreKeyRequests.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/AccessTokenDTOJson.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/CommonResponses.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/NotificationEventsResponseJson.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/UserDTOJson.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/asset/AssetUploadResponseJson.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/connection/ConnectionResponsesJson.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/conversation/ConversationListIdsResponseJson.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/conversation/ConversationResponseJson.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/utils/MockUnboundNetworkClient.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/asset/AssetApiV0Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/connection/ConnectionApiV0Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/conversation/ConversationApiV0Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/user/login/LoginApiV0Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/user/login/SSOLoginApiV0Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/user/register/RegisterApiV0Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/user/self/SelfApiV0Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v2/AssetApiV2Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v2/ConversationApiV2Test.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v4/ConnectionApiV4Test.kt
  tango-tests/build.gradle.kts
  tango-tests/src/integrationTest/kotlin/PocIntegrationTest.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: XXL, echoes: maintenance

#3017 fix: use server time for calling (WPB-10979)
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventGatherer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/util/ServerTimeHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/event/EventRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventGathererTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessorTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/notification/NotificationApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/NotificationApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/NotificationApiV3.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M, echoes: bugs

#3057 feat: network observer cover from not connected and blocked to connected (WPB-11200)
  logic/src/androidMain/kotlin/com/wire/kalium/logic/network/NetworkStateObserverImpl.kt
  logic/src/androidUnitTest/kotlin/com/wire/kalium/logic/network/NetworkStateObserverImplTest.kt
Labels: 👕 size: S, type: feature ✨

#3061 fix: secure message draft saving [WPB-11325]
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/draft/MessageDraftDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/draft/MessageDraftDAOTest.kt
Labels: 👕 size: S, type: bug / fix 🐞, echoes: bugs

#3059 feat: conversation list pagination, pt2 - pager and use case [WPB-9433]
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScopeExtensions.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/conversation/GetPaginatedFlowOfConversationDetailsWithEventsBySearchQueryUseCase.kt
  logic/src/androidUnitTest/kotlin/com/wire/kalium/logic/feature/conversation/GetPaginatedFlowOfConversationDetailsWithEventsBySearchQueryUseCaseTest.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryExtensions.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryExtensionsTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationExtensions.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/conversation/ConversationExtensionsTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨, echoes: maintenance

#3056 fix: event delay handling [WPB-11490]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/confirmation/ConfirmationDeliveryHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/confirmation/SendDeliverSignalUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/confirmation/ConfirmationDeliveryHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/confirmation/SendDeliverSignalUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#3064 chore: android gradle plugin update [WPB-983]
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS, echoes: throughput/ci-maintenance

#3062 feat: show sync retry state for internal build #WPB-11198
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/IncrementalSyncStatus.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/SlowSyncStatus.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/SyncState.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ObserveSyncStateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/sync/IncrementalSyncRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/AvsSyncStateReporterTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/ObserveSyncStateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/SyncManagerTest.kt
  network-util/src/commonMain/kotlin/com/wire/kalium/network/NetworkStateObserver.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#3069 chore: update sqlcipher [WPB-11808]
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS, echoes: throughput/ci-maintenance

#3066 chore: add more debug information for sync #WPB-11603
  logic/src/androidMain/kotlin/com/wire/kalium/logic/network/NetworkStateObserverImpl.kt
  network-util/src/commonMain/kotlin/com/wire/kalium/network/NetworkStateObserver.kt
Labels: type: chore 🧹, 👕 size: S, echoes: bugs

#3068 fix: return all incoming calls [WPB-10430]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/GetIncomingCallsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/GetIncomingCallsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞, echoes: bugs

#3074 refactor: optimise paginated conversation list queries [WPB-11808]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/ConversationDetails.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/ConversationDetailsWithEvents.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/MessagePreview.sq
  persistence/src/commonMain/db_user/migrations/88.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDetailsWithEventsMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationExtensions.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/member/MemberDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/conversation/ConversationExtensionsTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: refactoring 🛠

#3075 feat: add wild card http request builder [WPB-11845]
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/WildCardApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/networkContainer/AuthenticatedNetworkContainerV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/authenticated/networkContainer/AuthenticatedNetworkContainerV2.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/networkContainer/AuthenticatedNetworkContainerV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/networkContainer/AuthenticatedNetworkContainerV4.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v5/authenticated/networkContainer/AuthenticatedNetworkContainerV5.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v6/authenticated/networkContainer/AuthenticatedNetworkContainerV6.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/vcommon/WildCardApiImpl.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/AuthenticatedNetworkContainer.kt
Labels: type: feature ✨, 👕 size: M

#3077 feat: filter conversation list [WPB-11637]
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationFilter.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryExtensions.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationExtensions.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationFilterEntity.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨, echoes: features

#3079 feat: Consider team settings when registering mls device #WPB-10119
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/IsAllowedToRegisterMLSClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/PendingProposalScheduler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/featureFlags/FeatureSupportImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/featureFlags/KaliumConfigs.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/IsAllowedToRegisterMLSClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/PendingProposalSchedulerTest.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/homeDirectory.kt
  tango-tests/src/integrationTest/kotlin/PocIntegrationTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M, echoes/initiative: federation-wire-cloud

#3081 chore: bump AVS to 9.10.14 (WPB-11905)
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS
