Repository wireapp/kalium, pull requests merged in 2024-05, with the labels that each got.

#2731 chore: bump AVS to 9.7.12
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#2720 feat: pass the MLS public key signature algorithm when updating MLS public keys
  cryptography/src/appleMain/kotlin/com/wire/kalium/cryptography/CoreCryptoCentralImpl.kt
  cryptography/src/appleMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/MLSClient.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/MLSClientTest.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/remote/ClientRemoteRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/mls/CipherSuite.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/RegisterMLSClientUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/client/ClientRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/RegisterMLSClientUseCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/client/ClientRequest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#2722 fix: crash loop when logout/login while there is an MLS call ongoing
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#2727 chore: benchmark framework and baseline for persistence (WPB-8966)
  .github/workflows/benchmarks-check.yml
  benchmarks/README.md
  benchmarks/build.gradle.kts
  benchmarks/src/commonMain/kotlin/com/wire/kalium/benchmarks/persistence/DBTestSetup.kt
  benchmarks/src/commonMain/kotlin/com/wire/kalium/benchmarks/persistence/MessagesNoPragmaTuneBenchmark.kt
  benchmarks/src/jvmMain/kotlin/com/wire/kalium/benchmarks/.gitkeep
  detekt/baseline.xml
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XXL

#2739 fix(e2ei): expose thumbprint and userhandle with e2ei cert (WPB-8606)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/E2eiCertificate.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/GetE2EICertificateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/GetMembersE2EICertificateStatusesUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/GetUserE2EIAllCertificatesUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/GetUserE2EICertificateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/ObserveE2EIRequiredUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetE2eiCertificateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/GetMembersE2EICertificateStatusesUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2736 fix: repositoriesShouldNotAccessFeature in MLSConversationRepository [WPB-6326]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/RevocationListChecker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/CertificateRevocationListCheckWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/CheckCrlRevocationListUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MLSWelcomeEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/RevocationListCheckerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/CertificateRevocationListCheckWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/CheckCrlRevocationListUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MLSWelcomeEventHandlerTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#2737 chore: update CC to rc.56.hotfix.2
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/ProteusClientTest.kt
  gradle/libs.versions.toml
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/CoreCryptoExceptionMapper.kt
Labels: type: chore 🧹, 👕 size: S

#2740 feat: fetch MLS config when not available locally
  cryptography/src/androidInstrumentedTest/kotlin/com/wire/kalium/cryptography/BaseMLSClientTest.kt
  cryptography/src/androidInstrumentedTest/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
  cryptography/src/androidUnitTest/kotlin/com/wire/kalium/cryptography/BaseMLSClientTest.kt
  cryptography/src/androidUnitTest/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
  cryptography/src/appleMain/kotlin/com/wire/kalium/cryptography/CoreCryptoCentralImpl.kt
  cryptography/src/appleTest/kotlin/com/wire/kalium/cryptography/BaseMLSClientTest.kt
  cryptography/src/appleTest/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/CoreCryptoCentral.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/CoreCryptoCentral.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/BaseMLSClientTest.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/E2EIClientTest.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/CoreCryptoCentralImpl.kt
  cryptography/src/jsTest/kotlin/com/wire/kalium/cryptography/BaseMLSClientTest.kt
  cryptography/src/jvmTest/kotlin/com/wire/kalium/cryptography/BaseMLSClientTest.kt
  cryptography/src/jvmTest/kotlin/com/wire/kalium/cryptography/BaseProteusClientTest.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/E2EIClientProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/MLSClientProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ProteusClientProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/client/E2EIClientProviderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/client/MLSClientProviderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/FeatureConfigRepositoryArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/UserConfigRepositoryArrangement.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#2735 feat: set the correct external sender key when creating MLS conversation
  cryptography/src/appleMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/CoreCryptoCentral.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/MLSClient.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/MLSClientTest.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/MLSClientImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/mls/CipherSuite.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/mlspublickeys/MLSPublicKey.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/mlspublickeys/MLSPublicKeysMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/mlspublickeys/MLSPublicKeysRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/RegisterMLSClientUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/client/ClientRequest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ClientApiV0.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#2742 feat: set the correct cipher suite when claiming key packages
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/keypackage/KeyPackageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/mlsmigration/MLSMigrator.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/client/E2EIClientProviderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/keypackage/KeyPackageRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/provider/E2EIClientProviderArrangement.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/keypackage/KeyPackageApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v5/authenticated/KeyPackageApiV5.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v5/KeyPackageApiV5Test.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#2749 fix(mls): set correct CipherSuite when establishing new created group
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#2751 chore(refactor): add global db in memory support - driver builder 2/2 (WPB-8989)
  logic/src/androidMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  persistence/src/androidInstrumentedTest/kotlin/com/wire/kalium/persistence/GlobalDBBaseTest.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabase.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/PlatformDatabaseData.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/appleMain/kotlin/com/wire/kalium/persistence/db/DriverBuilder.apple.kt
  persistence/src/appleMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabase.kt
  persistence/src/appleMain/kotlin/com/wire/kalium/persistence/db/PlatformDatabaseData.kt
  persistence/src/appleMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/appleTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/appleTest/kotlin/com/wire/kalium/persistence/GlobalDBBaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/DriverBuilder.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/DriverConfigurationBuilder.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/daokaliumdb/ServerConfigurationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/globalDB/AccountsDAOTest.kt
  persistence/src/jsMain/kotlin/com/wire/kalium/persistence/db/DriverBuilder.js.kt
  persistence/src/jsMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabase.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/DriverBuilder.jvm.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabase.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/PlatformDatabaseData.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
Labels: 👕 size: XL, type: chore 🧹

#2748 chore: bump AVS to 9.7.13 (WPB-4258)
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#2747 chore(refactor): add global db in memory support (WPB-8989)
  detekt/baseline.xml
  gradle/libs.versions.toml
  logic/src/androidMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/di/PlatformUserStorageProvider.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/GlobalKaliumScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/appVersioning/ObserveIfAppUpdateRequiredUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/AuthenticationScope.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
  monkeys/.gitignore
  monkeys/README.md
  monkeys/docker/docker-compose.yml
  persistence-test/src/androidMain/kotlin/com/wire/kalium/persistence/TestDatabaseManipulation.kt
  persistence-test/src/appleMain/kotlin/com/wire/kalium/persistence/TestDatabaseManipulation.kt
  persistence-test/src/jsMain/kotlin/com/wire/kalium/persistence/TestDatabaseManipulation.kt
  persistence-test/src/jvmMain/kotlin/com/wire/kalium/persistence/TestDatabaseManipulation.kt
  persistence/build.gradle.kts
  persistence/src/androidInstrumentedTest/kotlin/com/wire/kalium/persistence/GlobalDBBaseTest.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabase.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabaseProvider.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/PlatformDatabaseData.kt
  persistence/src/androidMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/androidUnitTest/kotlin/com/wire/kalium/persistence/GlobalDBBaseTest.kt
  persistence/src/appleMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabase.kt
  persistence/src/appleMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabaseProvider.kt
  persistence/src/appleMain/kotlin/com/wire/kalium/persistence/db/PlatformDatabaseData.kt
  persistence/src/appleMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/appleTest/kotlin/com/wire/kalium/persistence/BaseDatabaseTest.kt
  persistence/src/appleTest/kotlin/com/wire/kalium/persistence/GlobalDBBaseTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/DriverConfigurationBuilder.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabaseBuilder.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/PlatformDatabaseData.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/GlobalDBBaseTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/daokaliumdb/ServerConfigurationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/globalDB/AccountsDAOTest.kt
  persistence/src/jsMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabase.kt
  persistence/src/jsTest/kotlin/com/wire/kalium/persistence/GlobalDBBaseTest.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabase.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/GlobalDatabaseProvider.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/PlatformDatabaseData.kt
  persistence/src/jvmMain/kotlin/com/wire/kalium/persistence/db/UserDatabase.kt
  persistence/src/jvmTest/kotlin/com/wire/kalium/persistence/GlobalDBBaseTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: XXL

#2754 fix: show last deleted message [WPB-1899]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/MessagePreview.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2755 chore(docs): jira ticket linking action (WPB-8645)
  .github/workflows/jira-lint-and-link.yml
Labels: type: chore 🧹, 👕 size: S

#2760 fix(e2ei): crash on downloading certificates (WPB-9097)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/E2eiCertificate.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#2753 feat: Notification observation improvement [WPB-8776]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/notification/NotificationEventsManagerImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/DeletedConversationEventHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/DeleteMessageHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/LastReadContentHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/MessageTextEditHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/MessageRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/GetNotificationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/MessageTextEditHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/DeletedConversationEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/handler/DeleteMessageHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/MessageRepositoryArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/usecase/NotificationEventsManagerArrangement.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageNotificationsTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L, DO NOT MERGE

#2762 chore: update AVS lib to 9.7.15 (WPB-9095)
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#2764 fix: Group calling not working when MLS is enabled (WPB-9114)
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationResponse.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#2757 fix: wrong failType for MLS federation errors [WPB-9087]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepositoryTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#2770 fix(mls): update migrated conversation with correct group id and cipher suites (WPB-9169)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/mlsmigration/MLSMigrationWorker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#2773 fix: recreate cache directories in case cache is cleared [WPB-7368]
  logic/src/androidMain/kotlin/com/wire/kalium/logic/data/asset/KaliumFileSystemImpl.kt
Labels: type: bug / fix 🐞, 👕 size: XS
