Repository wireapp/kalium, pull requests merged in 2025-08, with the labels that each got.

#3556 chore: remove cryptobox [WPB-19245]
  buildSrc/src/main/kotlin/OnlyAffectedTestTask.kt
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/CommonDarwinConfig.kt
  buildSrc/src/main/kotlin/scripts/testing.gradle.kts
  common/build.gradle.kts
  common/src/appleMain/kotlin/com/wire/kalium/common/error/CoreCryptoExceptionMapper.kt
  conversation-history/build.gradle.kts
  cryptography/build.gradle.kts
  cryptography/src/appleMain/kotlin/com/wire/kalium/cryptography/ProteusClientCoreCryptoImpl.kt
  gradle/libs.versions.toml
  logic/build.gradle.kts
  monkeys/build.gradle.kts
  samples/build.gradle.kts
  scripts/bootstrap.mk
Labels: type: chore 🧹, 👕 size: M

#3552 fix: not able to unmute incoming or outgoing call until established [WPB-19112]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveLastActiveCallWithSortedParticipantsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveLastActiveCallWithSortedParticipantsUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Calls.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/call/CallDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/call/CallDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/call/CallDAOTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#3558 feat: mls conversation reset feature config (WPB-17704)
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/SyncFeatureConfigsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/AllowedGlobalOperationsHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/featureConfig/SyncFeatureConfigsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#3518 chore: set compile SDK version to 35 [WPB-18871]
  buildSrc/src/main/kotlin/Android.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/MLSClientTest.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/server/StoreServerConfigUseCase.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#3561 fix: user availability status [WPB-18697]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSender.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MessageSenderTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Members.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/member/MemberDAO.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3568 feat: support receiving composite message edition (WPB-19100)
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContentLogging.kt
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/message/composite/Button.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/composite/SendButtonMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/MessageCompositeEditHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/MessageRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/handler/MessageCompositeEditHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/MessageRepositoryArrangement.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/content/ButtonContent.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/CompositeMessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#3569 chore(conversation-history): serialize history client messages [WPB-18414] [WPB-18416]
  conversation-history/src/commonMain/kotlin/com/wire/kalium/conversation/history/data/HistoryClientDAO.kt
  conversation-history/src/commonMain/kotlin/com/wire/kalium/conversation/history/data/SQLiteHistoryClientDAO.kt
  conversation-history/src/commonTest/kotlin/com/wire/kalium/conversation/history/data/SQLiteHistoryClientDAOTest.kt
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/history/HistoryClient.kt
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/message/Message.kt
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContent.kt
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageContentLogging.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/PersistMessageUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/ProtoContentMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ApplicationMessageHandler.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/HistoryClient.sq
  protobuf-codegen/src/main/proto/messages.proto
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M

#3570 feat: support calling cells api on staging and prod (WPB-19320)
  cells/src/commonMain/kotlin/com/wire/kalium/cells/CellsCredentialsProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/cells/AuthenticatedNetworkContainerCells.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v10/authenticated/networkContainer/AuthenticatedNetworkContainerV10.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v11/authenticated/networkContainer/AuthenticatedNetworkContainerV11.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/AuthenticatedNetworkContainer.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#3582 chore: add the new ConversationHistoryApi structure [WPB-18407]
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/history/ConversationHistoryApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ConversationHistoryApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/networkContainer/AuthenticatedNetworkContainerV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v10/authenticated/ConversationHistoryApiV10.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v10/authenticated/networkContainer/AuthenticatedNetworkContainerV10.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v11/authenticated/ConversationHistoryApiV11.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v11/authenticated/networkContainer/AuthenticatedNetworkContainerV11.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/authenticated/ConversationHistoryApiV2.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/authenticated/networkContainer/AuthenticatedNetworkContainerV2.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/ConversationHistoryApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/authenticated/networkContainer/AuthenticatedNetworkContainerV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/ConversationHistoryApiV4.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/authenticated/networkContainer/AuthenticatedNetworkContainerV4.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v5/authenticated/ConversationHistoryApiV5.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v5/authenticated/networkContainer/AuthenticatedNetworkContainerV5.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v6/authenticated/ConversationHistoryApiV6.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v6/authenticated/networkContainer/AuthenticatedNetworkContainerV6.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v7/authenticated/ConversationHistoryApiV7.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v7/authenticated/networkContainer/AuthenticatedNetworkContainerV7.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/ConversationHistoryApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/networkContainer/AuthenticatedNetworkContainerV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v9/authenticated/ConversationHistoryApiV9.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v9/authenticated/networkContainer/AuthenticatedNetworkContainerV9.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/AuthenticatedNetworkContainer.kt
Labels: type: chore 🧹, 👕 size: L

#3584 fix: send user availability status (cherrypick from rc) (WPB-18697)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSender.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MessageSenderTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Members.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/member/MemberDAO.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3589 fix(backup): failure when creating backup [WPB-19611]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/backup/BackupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/CreateMPBackupUseCase.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3591 fix: null event type [WPB-19613]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/event/EventRepositoryTest.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/NotificationEventsResponseJson.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/notification/EventContentDTO.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/notification/NotificationApiV0Test.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#3588 chore(conversation-history): add endpoint stubs [WPB-18407]
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/conversation/ConversationHistory.kt
  network-model/src/commonTest/kotlin/com/wire/kalium/network/api/authenticated/conversation/ConversationHistoryDepthSerializerTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/history/ConversationHistoryApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ConversationHistoryApiV0.kt
Labels: type: chore 🧹, 👕 size: M

#3593 fix(backup): failure to export universal backup [WPB-19611]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/backup/BackupRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/backup/BackupDataSourceTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#3594 fix: update AVS to fix hangup while restarting due to CBR [WPB-18304]
  gradle/libs.versions.toml
  network-model/src/commonTest/kotlin/com/wire/kalium/network/api/authenticated/conversation/ConversationHistoryDepthSerializerTest.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#3595 chore: add compile-time flag for MLS reset feature [WPB-19664]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ResetMLSConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/featureFlags/KaliumConfigs.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ResetMLSConversationUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#3602 feat: add use case to check if cells enabled for a conversation (WPB-19789)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/IsWireCellsEnabledForConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/client/IsWireCellsEnabledForConversationUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M
