Repository wireapp/kalium, pull requests merged in 2025-06, with the labels that each got.

#3449 feat(async-notifications): upgrade existent client capability to consumable notifications (WPB-16645)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/UpdateSelfClientCapabilityToConsumableNotificationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/legalhold/UpdateSelfClientCapabilityToLegalHoldConsentUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/SelfServerConfigUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/UpdateSelfClientCapabilityToConsumableNotificationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/legalhold/UpdateSelfClientCapabilityToLegalHoldConsentUseCaseTest.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/model/ApiModelMapper.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ClientApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/NotificationApiV8.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/client/ClientRegistrationStorageImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/unread/UserConfigDAO.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#3469 feat: local events [WPB-17904]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventGatherer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessor.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/MissedNotificationsEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/event/EventRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventGathererTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/MissedNotificationsEventReceiverTest.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/ConsumableNotificationEventsResponseJson.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/notification/ConsumableNotificationResponse.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/notification/EventContentDTO.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Events.sq
  persistence/src/commonMain/db_user/migrations/106.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/event/EventDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/event/EventDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/event/EventEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/event/EventDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: XXL

#3470 chore(docs): update modules deps for sec docs (WPB-8645)
  README.md
  build.gradle.kts
  gradle/libs.versions.toml
Labels: Fix PR Title 🤦‍♂️, type: chore 🧹, 👕 size: M

#3472 test(message): add tests for DB message deletion [WPB-8645]
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
Labels: 👕 size: S, type: test 👷

#3473 fix: pending events handling [WPB-18144]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessor.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncWorker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/event/EventRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/EventRepositoryArrangement.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#3478 fix: update event source local events [WPB-17904]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventGatherer.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/event/EventRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventGathererTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Events.sq
  persistence/src/commonMain/db_user/migrations/107.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/event/EventDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/event/EventDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/event/EventEntity.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/event/EventDAOTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#3466 fix: do not add unread events when restoring backup (#WPB-18003)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/backup/BackupRepository.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageInsertExtension.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3467 fix: store message last edit time in backup (#WPB-17984)
  backup/src/commonMain/kotlin/com/wire/backup/data/BackupData.kt
  backup/src/commonMain/kotlin/com/wire/backup/ingest/MPBackupMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/mapper/BackupDataMappers.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/mapper/RestoreDataMappers.kt
  protobuf-codegen/src/main/proto/backup.proto
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3475 feat(new-registration): extend param to reuse usecase with personal account creation (WPB-17454)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/register/RegisterAccountUseCase.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#3483 fix: syncbar mechanism with local events (WPB-18229)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventGatherer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/LiveSourceChangeHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventGathererTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/LiveSourceChangeHandlerTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#3486 refactor: separate logic for deleting conversation [WPB-14735]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/DeleteConversationLocallyUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/delete/DeleteConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/DeleteTeamConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/TeamScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/DeletedConversationEventHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberLeaveEventHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/ClearConversationContentHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/DeleteConversationLocallyUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/delete/DeleteConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/team/DeleteTeamConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/ClearConversationContentHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/DeletedConversationEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberLeaveEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/ConversationRepositoryArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/MLSConversationRepositoryArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/usecase/DeleteConversationArrangement.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: refactoring 🛠

#3484 fix: add location name to backup restore mapper (#WPB-18232)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/mapper/RestoreDataMappers.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#3458 chore: remove scala migration code and related references [WPB-17693]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/BackupScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/RestoreBackupUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/RestoreWebBackupUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/PersistMigratedConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/PersistMigratedMessagesUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/migration/MigrationScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/backup/RestoreBackupUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/backup/RestoreWebBackupUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/PersistMigratedMessagesUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Migration.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/MigrationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/MigrationDAOTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: XXL

#3491 feat: add use case to rename node (WPB-18314)
  cells/src/commonMain/kotlin/com/wire/kalium/cells/CellsScope.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/CellsApiImpl.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/CellsDataSource.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/CellsApi.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/CellsRepository.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/RenameNodeUseCase.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/NodeUploadManagerTest.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/usecase/RenameNodeUseCaseTest.kt
Labels: type: feature ✨, 👕 size: M
