Repository wireapp/kalium, pull requests merged in 2025-01, with the labels that each got.

#3206 feat: Sync other users after personal to team migration - RC (WPB-14871)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/migration/MigrateFromPersonalToTeamUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/migration/MigrateFromPersonalToTeamUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨, echoes/initiative: personal-users-to-team-users...

#3205 fix: persist mls conversation when mls disabled [WPB-15149]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationEntity.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3208 fix: update common protocol resolution (WPB-15191)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/protocol/OneOnOneProtocolSelector.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/protocol/OneOnOneProtocolSelectorTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞, echoes: unplanned

#3218 fix: messages migration from proteus to mls [WPB-15149]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/mls/OneOnOneMigrator.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Reactions.sq
  persistence/src/commonMain/db_user/migrations/94.sqm
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/MessageStubs.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#3151 feat: harden ClientCapabilityDTO for api v7 [WPB-14882]
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/UserPropertiesEventReceiverTest.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/ClientResponseJson.kt
  network-model/build.gradle.kts
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/client/ClientRequest.kt
  network-model/src/commonTest/kotlin/com/wire/kalium/network/api/authenticated/client/ClientCapabilityDTOSerializerTest.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v0/user/client/ClientApiV0Test.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M, echoes/initiative: personal-users-to-team-users...

#3216 fix: delay outgoing message before sync is finished [#WPB-15141]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/DebugScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/ephemeral/DeleteEphemeralMessageForSelfUserAsReceiverUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/message/ephemeral/DeleteEphemeralMessageForSelfUserAsReceiverUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3221 fix: port migration 1 on 1 resolution for mls migration (WPB-15191) (WPB-11194)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetOrCreateOneToOneConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/mls/OneOnOneMigrator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/mls/OneOnOneResolver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/protocol/OneOnOneProtocolSelector.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/mls/OneOnOneMigratorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/mls/OneOnOneResolverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/protocol/OneOnOneProtocolSelectorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/mls/OneOnOneMigratorArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/MessageRepositoryArrangement.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M, echoes: unplanned

#3223 fix: mls client initialization [WPB-15149]
  .github/workflows/gradle-ios-tests.yml
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/MLSClientProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/IsAllowedToRegisterMLSClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/keypackage/MLSKeyPackageCountUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/MLSMessageFailureHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/client/MLSClientProviderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/keypackage/MLSKeyPackageCountUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/mls/OneOnOneMigratorArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/UserConfigRepositoryArrangement.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationEntity.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L, echoes: unplanned/incident

#3196 refactor: remove the fetch of self user when only the ID is used [WPB-3726]
  logic/src/androidInstrumentedTest/kotlin/com/wire/kalium/logic/feature/call/CallManagerTest.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallingParticipantsOrder.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/GlobalCallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/GetIncomingCallsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/MembersToMentionUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/DebugScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/SendConfirmationUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallingParticipantsOrderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/MembersToMentionUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: M, echoes: technical-roadmap

#3231 fix: ignored connection stays in conversations list [#WPB-WPB-15212]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepositoryTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞, echoes: product-roadmap/bug

#3233 feat: add conversation folder [WPB-14628]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/folders/ConversationFolderMappers.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/folders/ConversationFolderRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/folder/CreateConversationFolderUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/folders/ConversationFolderRepositoryTest.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/folder/ConversationFolderDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/folder/ConversationFolderDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/conversation/folder/ConversationFolderDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M, echoes: product-roadmap

#3237 fix: mls 1on1 race condition [WPB-15395]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/JoinExistingMLSConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/NotifyConversationIsOpenUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MLSWelcomeEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/NotifyConversationIsOpenUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞, echoes: product-roadmap/bug

#3235 feat: Clear conversation content on all devices WPB-14938
  .github/workflows/gradle-android-instrumented-tests.yml
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ClearConversationContentUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/DeleteConversationLocallyUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberLeaveEventHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/ClearConversationContentHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ClearConversationContentUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/DeleteConversationLocallyUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/ClearConversationContentHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberLeaveEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/ConversationRepositoryArrangement.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨, echoes: product-roadmap/feature

#3242 feat: new enterprise login validations expose SSO code validator use case (WPB-15520)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/GlobalKaliumScope.kt
Labels: type: feature ✨, 👕 size: XS, echoes/initiative: scale

#3245 fix: ignore subconversation message fail system message [WPB-15684]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/NewMessageEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/NewMessageEventHandlerTest.kt
Labels: 👕 size: S, type: bug / fix 🐞, echoes: product-roadmap/bug

#3232 fix: 1:1s end up at the bottom of the list after migration [WPB-15452]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/mls/OneOnOneMigrator.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/mls/OneOnOneMigratorTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M, echoes: product-roadmap/bug

#3244 fix: sub conversation epoch verification [WPB-15647]
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/SubConversation.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/LeaveSubconversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/SubConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/SubconversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/id/IdMappers.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/StaleEpochVerifier.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/NewMessageEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/MessageSenderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/StaleEpochVerifierTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/NewMessageEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/mls/MLSConversationRepositoryArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/mls/StaleEpochVerifierArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/SubconversationRepositoryArrangement.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/conversation/ConversationResponse.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L, echoes: product-roadmap/bug

#3215 fix: update cert revocation list class [WPB-14835]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/RevocationListChecker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/CheckCrlRevocationListUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/SyncCertificateRevocationListUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MLSWelcomeEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/RevocationListCheckerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/CertificateRevocationListCheckWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/CheckCrlRevocationListUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MLSWelcomeEventHandlerTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: bug / fix 🐞, echoes: product-roadmap/bug

#3248 refactor(backup): enhance error handling and test coverage [WPB-10575]
  backup/src/commonMain/kotlin/com/wire/backup/encryption/EncryptedStream.kt
  backup/src/commonMain/kotlin/com/wire/backup/filesystem/InMemoryEntryStorage.kt
  backup/src/commonMain/kotlin/com/wire/backup/ingest/BackupImportResult.kt
  backup/src/commonMain/kotlin/com/wire/backup/ingest/MPBackupImporter.kt
  backup/src/commonTest/kotlin/com/wire/backup/envelope/header/FakeHeaderSerializer.kt
  backup/src/commonTest/kotlin/com/wire/backup/ingest/MPBackupImporterTest.kt
Labels: 👕 size: L, type: refactoring 🛠, echoes: product-roadmap/feature

#3253 feat: skeleton and basic support of v8 api (WPB-15698)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/GlobalKaliumScope.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/BackendMetaDataUtil.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/AccessTokenApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/AssetApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/CallApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/ClientApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/ConnectionApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/ConversationApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/E2EIApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/FeatureConfigApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/KeyPackageApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/LogoutApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/MLSMessageApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/MLSPublicKeyApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/MessageApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/NotificationApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/PreKeyApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/PropertiesApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/SelfApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/TeamsApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/UpgradePersonalToTeamApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/UserDetailsApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/UserSearchApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/networkContainer/AuthenticatedNetworkContainerV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/unauthenticated/DomainLookupApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/unauthenticated/LoginApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/unauthenticated/RegisterApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/unauthenticated/SSOLoginApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/unauthenticated/VerificationCodeApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/AuthenticatedNetworkContainer.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/UnauthenticatedNetworkContainer.kt
Labels: 👕 size: XL, type: feature ✨, echoes/initiative: scale

#3202 fix: do not commit User and Client upserts if nothing has changed and fix empty contacts [WPB-15055]
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Clients.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/message/draft/MessageDraftDAOTest.kt
Labels: type: bug / fix 🐞, 👕 size: M, echoes: product-roadmap/bug

#3256 chore: bump core crypto to 3.0.1 [WPB-15765]
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#3257 chore(backup): improve backup export error handling [WPB-10575]
  backup/build.gradle.kts
  backup/src/commonMain/kotlin/com/wire/backup/dump/ExportResult.kt
  backup/src/commonMain/kotlin/com/wire/backup/dump/MPBackupExporter.kt
  backup/src/commonTest/kotlin/com/wire/backup/dump/MPBackupExporterTest.kt
  backup/src/jsMain/kotlin/com/wire/backup/dump/BackupExportResult.kt
  backup/src/jsMain/kotlin/com/wire/backup/dump/MPBackupExporter.kt
  backup/src/jsTest/kotlin/com/wire/backup/BackupEndToEndTest.kt
  backup/src/nonJsMain/kotlin/com/wire/backup/dump/BackupExportResult.kt
  backup/src/nonJsMain/kotlin/com/wire/backup/dump/MPBackupExporter.kt
  backup/src/nonJsMain/kotlin/com/wire/backup/ingest/MPBackupImporter.kt
  backup/src/nonJsTest/kotlin/com/wire/backup/BackupEndToEndTest.kt
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: M, echoes: product-roadmap/feature

#3249 refactor: stop updating user info in the background [WPB-14826]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/logout/LogoutRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: L, type: refactoring 🛠, echoes: product-roadmap/bug

#3262 feat: adopt get domain registration endpoint (WPB-15721)
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/requests/DomainRegistrationRequestJson.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/DomainRegistrationResponseJson.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/unauthenticated/domainregistration/DomainRegistrationDTO.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/unauthenticated/domainregistration/DomainRegistrationRequest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unauthenticated/domainregistration/GetDomainRegistrationApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/unauthenticated/GetDomainRegistrationApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/unauthenticated/GetDomainRegistrationApiV2.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v2/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV2.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/unauthenticated/GetDomainRegistrationApiV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v3/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV3.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/unauthenticated/GetDomainRegistrationApiV4.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v4/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV4.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v5/unauthenticated/GetDomainRegistrationApiV5.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v5/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV5.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v6/unauthenticated/GetDomainRegistrationApiV6.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v6/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV6.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v7/unauthenticated/GetDomainRegistrationApiV7.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v7/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV7.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/unauthenticated/GetDomainRegistrationApiV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/unauthenticated/networkContainer/UnauthenticatedNetworkContainerV8.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/UnauthenticatedNetworkContainer.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v8/GetDomainRegistrationApiV8Test.kt
Labels: 👕 size: XL, type: feature ✨, echoes/initiative: scale

#3260 chore: one on one conversation details [WPB-15479]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/GetOneToOneConversationDetailsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/ConversationDetails.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S, echoes: product-roadmap

#3265 feat: Testservice now deployed via Ansible
  testservice/.gitignore
  testservice/Dockerfile
  testservice/Jenkinsfile
  testservice/README.md
  testservice/ansible/README.md
  testservice/ansible/hosts.ini
  testservice/ansible/roles/common/files/20auto-upgrades
  testservice/ansible/roles/common/handlers/main.yml
  testservice/ansible/roles/common/tasks/main.yml
  testservice/ansible/roles/kalium-testservice/files/kalium-testservice.service
  testservice/ansible/roles/kalium-testservice/tasks/main.yml
  testservice/ansible/site.yml
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/InstanceService.kt
Labels: type: feature ✨, 👕 size: M

#3263 feat: add use case to observe valid sessions [WPB-14338]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/GlobalKaliumScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/session/ObserveSessionsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/session/SessionScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/featureConfig/ObserveIsAppLockEditableUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/session/GetSessionsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/session/ObserveSessionsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M, echoes/initiative: scale

#3266 fix: ignore invalid leaf signature error on slow sync [WPB-15737]
  .github/workflows/gradle-android-instrumented-tests.yml
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/JoinExistingMLSConversationsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationsUseCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/KaliumException.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/NetworkErrorLabel.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞, echoes: product-roadmap/bug
