Repository wireapp/kalium, pull requests merged in 2025-05, with the labels that each got.

#3435 chore(sync): improve event logging [WPB-8645]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventGatherer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessor.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#3436 chore: disable server time offset [WPB-17494]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventGatherer.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventGathererTest.kt
Labels: type: chore 🧹, 👕 size: XS

#3446 chore: bump cc to 5.4.0 [WPB-17522]
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#3434 feat: Show folders in files list (WPB-17392)
  cells/src/androidMain/kotlin/com/wire/kalium/cells/domain/usecase/GetPaginatedFilesFlowUseCase.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/CellsScope.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/CellsApiImpl.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/CellsDataSource.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/model/GetNodesResponseDTO.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/CellsApi.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/CellsRepository.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/model/CellFile.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/model/CellNode.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/model/Node.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/paging/FilePagingSource.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/GetCellFilesPagedUseCase.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/GetNodesUseCase.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/NodeUploadManagerTest.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/usecase/DeleteNodeAssetUseCaseTest.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/usecase/DownloadNodeFileUseCaseTest.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/usecase/GetNodesUseCaseTest.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/usecase/RefreshNodeAssetStateUseCaseTest.kt
Labels: type: feature ✨, 👕 size: M

#3441 feat(async-notifications): perform full sync on notifications.missed (WPB-17480)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessor.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/MissedNotificationsEventReceiver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/event/EventRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/MissedNotificationsEventReceiverTest.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/notification/ConsumableNotificationResponse.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/notification/EventAcknowledgeRequest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/NotificationApiV8.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#3438 ci(backup): add workflows for npm and Swift package publishing [WPB-16925]
  .github/workflows/backup-publish-swift.yml
  .github/workflows/backup-publish-web-npm.yml
  backup/build.gradle.kts
  backup/src/commonMain/kotlin/com/wire/backup/data/BackupData.kt
  backup/src/commonMain/kotlin/com/wire/backup/ingest/MPBackupMapper.kt
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/LibraryPlugin.kt
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/Multiplatform.kt
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/commonJsConfig.kt
  protobuf/build.gradle.kts
Labels: 👕 size: S

#3452 feat: improve SQL views and indexes for conversation details and unread events [WPB-17782]
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Calls.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/ConversationFolders.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Members.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/UnreadEvents.sq
  persistence/src/commonMain/db_user/migrations/104.sqm
Labels: type: feature ✨, 👕 size: M

#3439 feat(cells): support folders creation (WPB-17272)
  cells/src/commonMain/kotlin/com/wire/kalium/cells/CellsScope.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/CellsApiImpl.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/CellsDataSource.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/CellsApi.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/CellsRepository.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/CreateFolderUseCase.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/DeleteCellAssetUseCase.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/GetNodesUseCase.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/NodeUploadManagerTest.kt
Labels: type: feature ✨, 👕 size: M

#3447 feat(cells): Download folder (WPB-17275)
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/model/Node.kt
Labels: 👕 size: S, type: feature ✨

#3442 chore: update publish unit test results action to use platform-specific versions [WPB-17635]
  .github/workflows/gradle-android-instrumented-tests.yml
  .github/workflows/gradle-android-unit-tests.yml
  .github/workflows/gradle-ios-tests.yml
  .github/workflows/gradle-jvm-tests.yml
Labels: type: chore 🧹, 👕 size: S

#3456 chore: bump cc to v7.0.0
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#3448 fix: Call Not Connect When SFT 1-1 Is Enabled on Proteus with MLS backend [WPB-17404]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMetaDataRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/RevocationListChecker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/GetCallConversationTypeProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/IsE2EIEnabledUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/IsMLSEnabledUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallHelperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/client/MLSClientProviderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/RevocationListCheckerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/GetCallConversationTypeProviderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/IsAllowedToRegisterMLSClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/keypackage/MLSKeyPackageCountUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/mlsmigration/MLSMigrationManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/mls/IsE2EIEnabledUseCaseArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/UserConfigRepositoryArrangement.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantListChangedTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/ConversationMetadata.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationMetaDataDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationMetaDataDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: bug / fix 🐞

#3459 fix: not federating error missing when creating new conversation [WPB-16880]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepositoryTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3461 feat: sort by folder (WPB-17966)
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/CellsApiImpl.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/GetPaginatedNodesUseCase.kt
Labels: 👕 size: S, type: feature ✨
