Repository wireapp/kalium, pull requests merged in 2025-04, with the labels that each got.

#3360 fix(MLS): use current client ID when refreshing token [WPB-16726]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/session/UpgradeCurrentSessionUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/session/token/AccessTokenRefresher.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/network/SessionManagerImpl.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/network/SessionManagerTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/AuthenticatedNetworkContainer.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/session/SessionManager.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/ApiTest.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/TestSessionManagerV0.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/common/SessionManagerIntegrationTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3361 fix: mention index, database pragma optimize [WPB-16842]
  gradle/libs.versions.toml
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/DebugScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/OptimizeDatabaseUseCase.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/db_user/migrations/100.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/DatabaseOptimizer.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#3356 feat(async-notifications): networking implementation of /events WS endpoint (WPB-16642)
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/ConsumableNotificationEventsResponseJson.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/notification/ConsumableNotificationResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/notification/NotificationApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/NotificationApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/NotificationApiV8.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v8/NotificationApiV8Test.kt
Labels: type: feature ✨, 👕 size: M

#3358 feat(async-notifications): networking adding client capabilities on registration (WPB-16643)
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/RegisterClientRequestJson.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/client/ClientRequest.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/model/ApiModelMapper.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/ClientApiV8.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v8/ClientApiV8Test.kt
Labels: type: feature ✨, 👕 size: L

#3349 feat(channels): Add usecase to ckeck if user is allowed to add participants (WPB-15885)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/channels/ChannelsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/channel/IsSelfEligibleToAddParticipantsToChannelUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/channel/IsSelfEligibleToAddParticipantsToChannelUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#3359 feat(Channels): update channel add-permission remotely (WPB-15882)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/ChannelAddPermissionUpdateEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/channel/UpdateChannelAddPermissionTypeDTOUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ChannelAddPermissionTypeDTOUpdateEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ConversationEventReceiverTest.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/conversation/CreateConversationRequest.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/conversation/UpdateChannelAddPermissionResponse.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/conversation/channel/ChannelAddPermissionDTO.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/notification/EventContentDTO.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/BackendMetaDataUtil.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ConversationApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/ConversationApiV8.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#3366 fix(channels): filtering conversations by channels [WPB-15863]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/ConversationDetails.sq
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3365 fix: can not enrol e2ei cert during login [WPB-16869]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/EnrollE2EIUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/EnrollE2EICertificateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/UserRepositoryArrangement.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#3380 revert me: disable iosx64
  .github/workflows/gradle-ios-tests.yml
  backup/build.gradle.kts
  buildSrc/src/main/kotlin/OnlyAffectedTestTask.kt
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/CommonDarwinConfig.kt
  protobuf/build.gradle.kts
Labels: Fix PR Title 🤦‍♂️, 👕 size: M

#3376 feat: specify channel permission when creating a new one (WPB-16950)
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationOptions.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/createconversation/CreateChannelUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/createconversation/CreateRegularGroupUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/createconversation/GroupConversationCreator.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GroupConversationCreatorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/createconversation/CreateChannelUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/createconversation/CreateRegularGroupUseCaseTest.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/conversation/CreateConversationRequestJson.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/conversation/ConversationResponse.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/conversation/CreateConversationRequest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/ConversationApiV8.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v8/ConversationApiV8Test.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#3371 fix(channels): unable to delete group or channel after leaving it (WPB-16936)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3384 feat(channels): Member cannot add other team member (WPB-16952)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/channels/ChannelsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/channel/IsSelfEligibleToAddParticipantsToChannelUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/channel/IsSelfEligibleToAddParticipantsToChannelUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#3378 feat: enterprise login - handle 503 as "no-registration" [WPB-17001]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/GetLoginFlowForDomainUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/GetLoginFlowForDomainUseCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/KaliumException.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/NetworkErrorLabel.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#3373 feat: show cell files in conversation (#WPB-16680)
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/CellsApiImpl.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/CellsDataSource.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/CellsApi.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/CellsRepository.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/model/CellFile.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/GetCellFilesUseCase.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/CellUploadManagerTest.kt
Labels: 👕 size: S, type: feature ✨

#3385 chore: revert iosx64 [WPB-15386]
  .github/workflows/gradle-ios-tests.yml
  backup/build.gradle.kts
  buildSrc/src/main/kotlin/OnlyAffectedTestTask.kt
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/CommonDarwinConfig.kt
  cells/src/appleMain/kotlin/com/wire/kalium/cells/data/CellsAwsClient.apple.kt
  gradle/libs.versions.toml
  protobuf/build.gradle.kts
Labels: type: chore 🧹, 👕 size: M

#3369 feat: support cells flag for conversation creation [WPB-16947]
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/CellsApiImpl.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/CellsDataSource.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/CellsApi.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/CellsRepository.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/model/CellFile.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/GetCellFilesUseCase.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/CellUploadManagerTest.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/conversation/CreateConversationRequestJson.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/conversation/ConversationPagingResponse.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/conversation/ConversationResponse.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/conversation/CreateConversationRequest.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/model/ApiModelMapper.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/ConversationApiV8.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#3390 feat: use LoginDomainPath.Default for server 503 error
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/GetLoginFlowForDomainUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/GetLoginFlowForDomainUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#3389 fix: ignore mls group not found [WPB-16984]
  common/src/commonJvmAndroid/kotlin/com/wire/kalium/common/error/CoreCryptoExceptionMapper.kt
  common/src/commonMain/kotlin/com/wire/kalium/common/error/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/MLSMessageFailureHandler.kt
Labels: 👕 size: S, type: bug / fix 🐞

#3383 feat(async-notifications): incremental sync selector according to client capabilities (WPB-16838)
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/LogoutUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/GetOrRegisterClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventGatherer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventProcessor.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/client/ClientRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/event/EventRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/LogoutUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/GetOrRegisterClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestClient.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestEvent.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventGathererTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/notification/NotificationApi.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Clients.sq
  persistence/src/commonMain/db_user/migrations/104.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/client/ClientRegistrationStorageImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/client/ClientDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserClientDAOIntegrationTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/client/ClientDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/newclient/NewClientDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/utils/stubs/ClientStubs.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#3393 feat: add initial conversation system message when joining [WPB-15858]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberJoinEventHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/NewConversationEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberJoinEventHandlerTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#3394 fix: mls self conversation join [WPB-17115]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/JoinExistingMLSConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3395 fix: mls self conversation join [WPB-17115]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/JoinExistingMLSConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3391 fix: Allow guests toggle reverts to ON after channel creation (WPB-16958)
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/conversation/ConversationResponseJson.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/conversation/CreateConversationRequestJson.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/conversation/ConversationResponse.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/conversation/CreateConversationRequest.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/model/ApiModelMapper.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/ConversationApiV8.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v8/ConversationApiV8Test.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
Labels: type: bug / fix 🐞, 👕 size: M

#3399 fix: cert is not generated properly during login [WPB-17081]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/EnrollE2EIUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/EnrollE2EICertificateUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#3398 fix: run database operations on IO thread (WPB-15730)
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
Labels: type: bug / fix 🐞, 👕 size: XS

#3397 chore: add debug log to understand if sync is stuck because of MLS repo [WPB-17145]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: M

#3375 feat: adjust asset refresh logic (#WPB-15386)
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/model/CellNodeDTO.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/RefreshCellAssetStateUseCase.kt
Labels: 👕 size: S, type: feature ✨

#3403 fix: OrphanWelcome error handling on process welcome message [WPB-17186]
  common/src/commonJvmAndroid/kotlin/com/wire/kalium/common/error/CoreCryptoExceptionMapper.kt
  common/src/commonMain/kotlin/com/wire/kalium/common/error/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MLSWelcomeEventHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/MLSMessageFailureHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MLSWelcomeEventHandlerTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3386 feat: adjust asset path handling (#WPB-16946)
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/CellAttachmentsDataSource.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/CellAttachmentsRepository.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/DownloadCellFileUseCase.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/RefreshCellAssetStateUseCase.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/MessageAttachments.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/attachment/MessageAttachmentsDao.kt
Labels: 👕 size: S, type: feature ✨

#3408 fix: ProteusSyncWorker is being executed too often [WPB-17160]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/proteus/ProteusSyncWorker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/proteus/ProteusSyncWorkerTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#3409 fix: do not check MLS public keys if client is already registered [WPB-17161]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/MLSClientManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/MLSClientManagerTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3392 chore: cell unit tests (#WPB-15386)
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/CellUploadManagerImpl.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/DeleteCellAssetUseCase.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/DeleteMessageAttachmentsUseCase.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/RefreshCellAssetStateUseCase.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/CellUploadManagerTest.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/usecase/DeleteCellAssetUseCaseTest.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/usecase/DownloadCellFileUseCaseTest.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/usecase/RefreshCellAssetStateUseCaseTest.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/usecase/RetryAttachmentUploadUseCaseTest.kt
  common/src/commonMain/kotlin/com/wire/kalium/common/functional/EitherRetry.kt
Labels: type: chore 🧹, 👕 size: XXL

#3416 fix: prevent multiple sync jobs in parallel [WPB-17145]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncExceptionHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManagerTest.kt
Labels: type: bug / fix 🐞, 👕 size: M

#3402 feat: show proper error message if user is not allowed to create a conversation(WPB-16977)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/createconversation/ConversationCreationResult.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/createconversation/GroupConversationCreator.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GroupConversationCreatorTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#3420 chore: minor backup iOS quality of life improvements [WPB-14598]
  backup/build.gradle.kts
  backup/src/nonJsMain/kotlin/com/wire/backup/dump/FileZipper.kt
  backup/src/nonJsMain/kotlin/com/wire/backup/ingest/BackupFileUnzipper.kt
Labels: type: chore 🧹, 👕 size: S

#3419 fix(backup): unable to restore encrypted backup [WPB-14598]
  backup/src/commonMain/kotlin/com/wire/backup/data/BackupFileName.kt
  backup/src/commonMain/kotlin/com/wire/backup/dump/MPBackupExporter.kt
  backup/src/commonTest/kotlin/com/wire/backup/BackupEndToEndTest.kt
  backup/src/commonTest/kotlin/com/wire/backup/dump/MPBackupExporterTest.kt
  backup/src/jsMain/kotlin/com/wire/backup/dump/BackupExportResult.kt
  backup/src/jsMain/kotlin/com/wire/backup/dump/MPBackupExporter.kt
  backup/src/jsTest/kotlin/com/wire/backup/BackupEndToEndTest.kt
  backup/src/nonJsMain/kotlin/com/wire/backup/dump/MPBackupExporter.kt
  backup/src/nonJsTest/kotlin/com/wire/backup/BackupEndToEndTest.kt
Labels: type: bug / fix 🐞, 👕 size: M

#3421 fix: check mls call participants before removing [WPB-17304]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/JoinSubconversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3418 fix: E2EE info system message when adding users and creating MLS 1:1 [WPB-17287][WPB-17202]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/NewGroupConversationSystemMessagesCreator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/SystemMessageInserter.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/mls/OneOnOneMigrator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberJoinEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/mls/OneOnOneMigratorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberJoinEventHandlerTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#3423 fix: epoch observer coroutine scope [WPB-16910]
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/CoreCryptoCentral.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/MLSClientProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/client/MLSClientProviderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#3424 chore(backup): rename backup framework for iOS - WPB-14598
  backup/build.gradle.kts
Labels: type: chore 🧹, 👕 size: XS

#3425 chore: remove debug option to lower the the threshold for updating conversation key material [WPB-17354]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/UpdateKeyingMaterialThresholdProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/keyingmaterials/UpdateKeyingMaterialsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/featureFlags/KaliumConfigs.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/keyingmaterials/UpdateKeyingMaterialsUseCaseTests.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S

#3426 fix: move MLS jobs to start from the UI [WPB-17367]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/MLSClientManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/keyingmaterials/KeyingMaterialsManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/mlsmigration/MLSMigrationManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/MLSClientManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/keyingmaterials/KeyingMaterialsManagerTests.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/mlsmigration/MLSMigrationManagerTest.kt
Labels: breaking change, 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: L

#3429 fix: only retry key material update with no internet [WPB-17367]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/keyingmaterials/UpdateKeyingMaterialsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/keyingmaterials/UpdateKeyingMaterialsUseCaseTests.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3422 feat(Cells): Bump cells sdk to 0.1.1-alpha10 (WPB-17325)
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/CellsApiImpl.kt
  gradle/libs.versions.toml
Labels: 👕 size: S, type: feature ✨

#3401 feat: pagination for cell file lists (#WPB-16903)
  cells/build.gradle.kts
  cells/src/androidMain/kotlin/com/wire/kalium/cells/CellsScopeExtentions.kt
  cells/src/androidMain/kotlin/com/wire/kalium/cells/domain/usecase/GetPaginatedFilesFlowUseCase.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/CellsScope.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/CellsApiImpl.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/CellsDataSource.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/model/GetFilesResponseDTO.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/CellsRepository.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/model/PaginatedList.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/paging/FilePagingSource.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/GetCellFilesPagedUseCase.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/GetCellFilesUseCase.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/CellUploadManagerTest.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/usecase/GetCellFilesUseCaseTest.kt
Labels: 👕 size: XL, type: feature ✨
