Repository wireapp/kalium, pull requests merged in 2025-02, with the labels that each got.

#3270 chore: core crypto 3.0.2 [WPB-15913]
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#3272 fix: commit strategy for mls commit missing reference [WPB-15871]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞, echoes: product-roadmap/bug

#3268 feat(backup): paginate different types of content [WPB-10575]
  backup/src/commonMain/kotlin/com/wire/backup/dump/MPBackupExporter.kt
  backup/src/commonMain/kotlin/com/wire/backup/filesystem/BackupPageStorage.kt
  backup/src/commonMain/kotlin/com/wire/backup/filesystem/InMemoryBackupPageStorage.kt
  backup/src/commonMain/kotlin/com/wire/backup/ingest/BackupImportPager.kt
  backup/src/commonMain/kotlin/com/wire/backup/ingest/MPBackupImporter.kt
  backup/src/commonTest/kotlin/com/wire/backup/BackupEndToEndTest.kt
  backup/src/commonTest/kotlin/com/wire/backup/dump/MPBackupExporterTest.kt
  backup/src/commonTest/kotlin/com/wire/backup/filesystem/BackupPageStorageTest.kt
  backup/src/commonTest/kotlin/com/wire/backup/ingest/BackupImportPagerTest.kt
  backup/src/commonTest/kotlin/com/wire/backup/ingest/MPBackupImporterTest.kt
  backup/src/jsMain/kotlin/com/wire/backup/dump/MPBackupExporter.kt
  backup/src/jsMain/kotlin/com/wire/backup/ingest/MPBackupImporter.kt
  backup/src/jsTest/kotlin/com/wire/backup/filesystem/EntryStorageTest.kt
  backup/src/nonJsMain/kotlin/com/wire/backup/dump/MPBackupExporter.kt
  backup/src/nonJsMain/kotlin/com/wire/backup/filesystem/FileBasedBackupPageStorage.kt
  backup/src/nonJsMain/kotlin/com/wire/backup/ingest/MPBackupImporter.kt
  backup/src/nonJsTest/kotlin/com/wire/backup/filesystem/EntryStorageTest.kt
Labels: type: feature ✨, 👕 size: L, echoes: product-roadmap/feature

#3274 feat: Add cron job to restart kalium-testservice every evening
  testservice/ansible/roles/kalium-testservice/tasks/main.yml
Labels: type: feature ✨, 👕 size: XS

#3275 feat: login path selector by domain registration use case (WPB-15805)
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/auth/LoginDomainPath.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/auth/DomainRegistrationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/auth/login/LoginRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/di/MapperProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/AuthenticationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/GetLoginFlowForDomainUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/auth/login/DomainRegistrationMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/auth/login/LoginRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/GetLoginFlowForDomainUseCaseTest.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/DomainRegistrationResponseJson.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/unauthenticated/domainregistration/DomainRegistrationDTO.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L, echoes/initiative: scale

#3264 refactor: do not swallow CancellationException [WPB-15412]
  cryptography/src/androidMain/kotlin/com/wire/kalium/cryptography/ProteusClientCryptoBoxImpl.kt
  cryptography/src/appleMain/kotlin/com/wire/kalium/cryptography/ProteusClientCoreCryptoImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/E2EIClientImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/ProteusClientCoreCryptoImpl.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/ProteusClientCryptoBoxImpl.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/scenario/OnSendOTR.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/MLSClientProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/RestoreWebBackupUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/PersistMigratedMessagesUseCase.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/ActionScheduler.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/KaliumKtorCustomLogging.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/AssetApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/utils/NetworkUtils.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/utils/ObfuscateUtil.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/backup/DatabaseExporter.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageInsertExtension.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: M, echoes: technical-roadmap/technical-debt

#3269 docs(backup): add documentation and samples [WPB-10575]
  backup/README.md
  backup/build.gradle.kts
  backup/src/commonMain/kotlin/com/wire/backup/dump/MPBackupExporter.kt
  backup/src/commonMain/kotlin/com/wire/backup/ingest/MPBackupImporter.kt
  backup/src/jsMain/kotlin/com/wire/backup/dump/MPBackupExporter.kt
  backup/src/jsMain/kotlin/com/wire/backup/ingest/MPBackupImporter.kt
  backup/src/nonJsMain/kotlin/com/wire/backup/dump/MPBackupExporter.kt
  backup/src/nonJsMain/kotlin/com/wire/backup/ingest/BackupFileUnzipper.kt
  backup/src/nonJsMain/kotlin/com/wire/backup/ingest/MPBackupImporter.kt
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/CommonDokkaConfig.kt
  data/build.gradle.kts
  detekt/baseline.xml
  detekt/detekt.yml
  dokka/moduledoc.md
  logic/build.gradle.kts
  mocks/build.gradle.kts
  network-model/build.gradle.kts
  network/build.gradle.kts
  samples/build.gradle.kts
  samples/src/commonMain/kotlin/samples/backup/BackupSamples.kt
  samples/src/jsMain/kotlin/samples/backup/BackupSamplesJs.kt
  samples/src/nonJsMain/kotlin/samples/backup/BackupSamplesNonJS.kt
Labels: 👕 size: L, type: documentation 📋, echoes: product-roadmap/feature

#3284 fix: sort folders by name [WPB-15890]
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/ConversationFolders.sq
Labels: type: bug / fix 🐞, 👕 size: XS

#3285 fix: remove folder when conversation list is empty [WPB-15892]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/folders/ConversationFolderRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/folders/ConversationFolderRepositoryTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3286 refactor(backup): replace ByteArray with Uint8Array for JS [WPB-10575]
  backup/src/jsMain/kotlin/com/wire/backup/dump/BackupExportResult.kt
  backup/src/jsMain/kotlin/com/wire/backup/dump/MPBackupExporter.kt
  backup/src/jsMain/kotlin/com/wire/backup/ingest/MPBackupImporter.kt
  samples/src/jsMain/kotlin/samples/backup/BackupSamplesJs.kt
Labels: 👕 size: S, type: refactoring 🛠

#3288 feat: adapt api v8 changes [WPB-15722]
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/ClientMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/keypackage/KeyPackageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/ClientScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/keypackage/MLSKeyPackageCountUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/keypackage/RefillKeyPackageUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/keypackage/KeyPackageRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/keypackage/MLSKeyPackageCountUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/keypackage/RefillKeyPackageUseCaseTest.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/client/ClientRequest.kt
  network-model/src/commonTest/kotlin/com/wire/kalium/network/api/authenticated/client/ClientCapabilityDTOSerializerTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/keypackage/KeyPackageApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ConversationApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/KeyPackageApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v5/authenticated/KeyPackageApiV5.kt
  network/src/commonTest/kotlin/com/wire/kalium/api/v5/KeyPackageApiV5Test.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#3283 refactor: remove not needed usage of observe self user [WPB-15414]
  android/src/main/kotlin/com/wire/kalium/presentation/MainActivity.kt
  cli/src/commonMain/kotlin/com/wire/kalium/cli/commands/GenerateEventsCommand.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/client/E2EIClientProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/CreateBackupUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/CreateObfuscatedCopyUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/backup/RestoreBackupUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/GetIncomingCallsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/protocol/OneOnOneProtocolSelector.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/team/SyncSelfTeamUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/GetSelfUserUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/ObserveSelfUserUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UpdateSelfUserSupportedProtocolsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/client/E2EIClientProviderTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/backup/CreateBackupUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/backup/RestoreBackupUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/RegisterClientUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/protocol/OneOnOneProtocolSelectorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/team/SyncSelfTeamUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/UpdateSupportedProtocolsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/provider/E2EIClientProviderArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/UserRepositoryArrangement.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: M, echoes: technical-roadmap/technical-debt

#3282 fix: Call stuck on Connecting state after joining a call or putting the app in background (WPB-15554)
  cli/src/jvmMain/kotlin/com/wire/kalium/cli/commands/ConsoleCommand.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/AnswerCallUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/GetAllCallsWithSortedParticipantsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveEstablishedCallWithSortedParticipantsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/AnswerCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveEstablishedCallWithSortedParticipantsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M, echoes: product-roadmap/bug

#3290 chore: bump avs to 10.0.5 [WPB-16069]
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#3289 refactor: return specialized result and error handling for GetLoginFlowForDomainUseCase (WPB-15520)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/auth/DomainRegistrationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/auth/LoginDomainPath.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/AuthenticationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/GetLoginFlowForDomainUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/LoginRedirectMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/LoginRedirectPath.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/auth/login/DomainRegistrationMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/GetLoginFlowForDomainUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/LoginRedirectMapperTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: L, type: refactoring 🛠

#3292 chore: bump cc to 3.1.0 [WPB-16041]
  gradle/libs.versions.toml
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/CoreCryptoExceptionMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreFailure.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/MLSMessageFailureHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepositoryTest.kt
Labels: type: chore 🧹, 👕 size: S

#3287 feat: new login use case chooser for context enterprise vs fallback (WPB-15966)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/GlobalKaliumScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/CustomServerConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/ServerConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/server/ServerConfigRepositoryExtension.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/AuthenticationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/ObserveLoginContextUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/configuration/CustomServerConfigRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/configuration/ServerConfigRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/ObserveLoginContextUseCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unbound/versioning/VersionApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/UnboundNetworkContainer.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/daokaliumdb/ServerConfigurationDAO.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#3295 feat: error handling simplified, not needed case (WPB-15520)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/auth/LoginDomainPath.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/GetLoginFlowForDomainUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/GetLoginFlowForDomainUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#3277 feat: do not display call feed back for short calls (WPB-15086)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/CreateAndPersistRecentlyEndedCallMetadataUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallResultListener.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveAskCallFeedbackUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/ShouldAskCallFeedbackUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/CreateAndPersistRecentlyEndedCallMetadataUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/EndCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/user/ShouldAskCallFeedbackUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M, echoes/initiative: product-metrics-in-countly

#3296 fix: sending a connection request to already connected user [WPB-16146]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepositoryTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3301 fix: wipe conversation after member leave event [WPB-16204]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberLeaveEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberLeaveEventHandlerTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#3297 fix: recover when getting error for updating connection status [WPB-16146]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepositoryTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/connection/ConnectionApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ConnectionApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/KaliumException.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/NetworkErrorLabel.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3281 feat: wire cells sdk integration (#WPB-15743)
  cells/.gitignore
  cells/build.gradle.kts
  cells/src/commonJvmAndroid/kotlin/com/wire/kalium/cells/data/AwsProgressListenerInterceptor.kt
  cells/src/commonJvmAndroid/kotlin/com/wire/kalium/cells/data/CellsAwsClientJvm.kt
  cells/src/commonJvmAndroid/kotlin/com/wire/kalium/cells/data/MetadataHeaders.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/CellsScope.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/CellUploadManagerImpl.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/CellsApiImpl.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/CellsAwsClient.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/CellsDataSource.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/MessageAttachmentDraftDataSource.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/model/CellNodeDTO.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/model/GetFilesResponseDTO.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/model/PreCheckResultDTO.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/CellUploadManager.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/CellsApi.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/CellsRepository.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/MessageAttachmentDraftRepository.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/NodeServiceBuilder.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/model/AttachmentDraft.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/model/CellNode.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/model/CellsCredentials.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/model/PreCheckResult.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/AddAttachmentDraftUseCase.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/ObserveAttachmentDraftsUseCase.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/ObserveCellFilesUseCase.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/PublishAttachmentsUseCase.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/RemoveAttachmentDraftUseCase.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/CellUploadManagerTest.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/CellsApiTest.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/usecase/AddAttachmentDraftUseCaseTest.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/usecase/ObserveAttachmentDraftsUseCaseTest.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/usecase/RemoveAttachmentDraftUseCaseTest.kt
  gradle/libs.versions.toml
  logic/build.gradle.kts
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendTextMessageUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SendTextMessageCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/networkContainer/UnboundNetworkContainer.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/utils/NetworkUtils.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/MessageAttachmentDraft.sq
  persistence/src/commonMain/db_user/migrations/99.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/messageattachment/MessageAttachmentDraftDao.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/messageattachment/MessageAttachmentDraftDaoImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/messageattachment/MessageAttachmentDraftEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/messageattachment/MessageAttachmentDraftMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/TableMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
  settings.gradle.kts
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: XXL

#3305 fix: suppress buffer error for mls decrypt transaction [WPB-16233]
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/MLSClientTest.kt
Labels: type: bug / fix 🐞, 👕 size: M

#3304 refactor(sync): enable concurrent sync start/stop [WPB-15262]
  cli/src/commonMain/kotlin/com/wire/kalium/cli/UserSessionScopeExtensions.kt
  cli/src/commonMain/kotlin/com/wire/kalium/cli/commands/LoginCommand.kt
  cli/src/commonMain/kotlin/com/wire/kalium/cli/commands/UpdateSupportedProtocolsCommand.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/ConnectionPolicy.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/sync/IncrementalSyncRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/CreateGroupConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ObserveSyncStateUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncExceptionHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncExecutor.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/SyncRequest.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventGatherer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/legalhold/LegalHoldHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/sync/IncrementalSyncRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/fakes/sync/FakeIncrementalSyncManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/fakes/sync/FakeSlowSyncManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/fakes/sync/FakeSyncStateObserver.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/ObserveSyncStateUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/SyncExceptionHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/SyncExecutorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/SyncStateObserverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventGathererTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ConnectionPolicyIntegrationTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManagerTest.kt
  samples/src/jsMain/kotlin/samples/backup/BackupSamplesJs.kt
  tango-tests/src/integrationTest/kotlin/PocIntegrationTest.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/InstanceService.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: XXL

#3310 fix: do not remove favorites folder [WPB-16164]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/folders/ConversationFolderRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/folder/RemoveConversationFromFavoritesUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/folders/ConversationFolderRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/folder/RemoveConversationFromFavoritesUseCaseTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3314 fix: sync blocked when joining conv and leaving while offline [WPB-16321]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberLeaveEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberLeaveEventHandlerTest.kt
Labels: 👕 size: S, type: bug / fix 🐞
