Repository wireapp/kalium, pull requests merged in 2025-03, with the labels that each got.

#3316 fix: Mic icon shows muted, but participants can hear me (WPB-16281)
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/util/DummyCallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/CallsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/AnswerCallUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveOngoingAndIncomingCalls.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/AnswerCallUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/ObserveOngoingAndIncomingCallsUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#3299 chore: bump avs version to 10.0.8 (WPB-15553)
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#3308 feat: support for local assets preview (#WPB-15738)
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/message/AssetContent.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/asset/AssetMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/SendTextMessageUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/SendTextMessageCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/MessageDetailsView.sq
  persistence/src/commonMain/db_user/migrations/99.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageEntity.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageMapper.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#3319 feat: differentiate specific login account errors [WPB-16375]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/LoginUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/LoginUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/test_util/TestNetworkException.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/KaliumException.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/exceptions/NetworkErrorLabel.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/InstanceService.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#3312 feat: New user properties for Analytics [WPB-16121]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/analytics/AnalyticsRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/analytics/GetAnalyticsContactsDataUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/analytics/AnalyticsRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/analytics/GetAnalyticsContactsDataUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/AnalyticsRepositoryArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/UserConfigRepositoryArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/UserRepositoryArrangement.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/db_user/migrations/99.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserDAOTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: XXL

#3327 fix: run MLS operation to decrypt and handle pending commits in sync [WPB-16229 ]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/MLSConversationRepositoryTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#3323 feat(channels): add channel as a conversation filter (WPB-16079)
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationFilter.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ObserveConversationListDetailsWithEventsUseCaseImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationFilterEntity.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: XS

#3333 fix: update claimed domain "email already in use" conditions [WPB-14339]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/auth/DomainRegistrationMapper.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/auth/login/DomainRegistrationMapperTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3332 fix: implement missing domain redirect backend request to get config url [WPB-14341]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/auth/login/LoginRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/GetLoginFlowForDomainUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/auth/login/LoginRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/GetLoginFlowForDomainUseCaseTest.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/unauthenticated/domainregistration/GetDomainRegistrationApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/unauthenticated/GetDomainRegistrationApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/unauthenticated/GetDomainRegistrationApiV8.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3339 fix: persist self email to register device with 2fa [WPB-16573]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/auth/PersistSelfUserEmailUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/user/UserRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/auth/PersistSelfUserEmailUseCaseTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserDAOTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#3331 fix: crash when processing MLS 1:1 conversation that does not have other user [WPB-16477]
  detekt/baseline.xml
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/FetchMLSVerificationStatusUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/FetchMLSVerificationStatusUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/ConversationRepositoryArrangement.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/ConversationDetails.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationMapper.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: M

#3337 feat: Create channel usecase (WPB-15874)
  cli/src/commonMain/kotlin/com/wire/kalium/cli/commands/CreateGroupCommand.kt
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationOptions.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/mapper/CallMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/createconversation/ConversationCreationResult.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/createconversation/CreateChannelUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/createconversation/CreateRegularGroupUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/createconversation/GroupConversationCreator.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/GroupConversationCreatorTest.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/conversation/CreateConversationRequestJson.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/conversation/LocalMonkey.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/conversation/ConversationResponse.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/conversation/CreateConversationRequest.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/model/ApiModelMapper.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/ConversationApiV8.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
  testservice/src/main/kotlin/com/wire/kalium/testservice/managed/ConversationRepository.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: L

#3338 feat: Support for imai environment and feature flag [WPB-16621]
  cells/src/commonMain/kotlin/com/wire/kalium/cells/CellsScope.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/SetWireCellForConversationUseCase.kt
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationOptions.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationGroupRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: feature ✨

#3344 feat(channels): handle team configuration [WPB-16634]
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/ChannelsConfigurationStorage.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/SelfUserObservationProvider.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/user/UserRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/channels/ChannelCreationPermission.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/channels/ChannelsFeatureConfigurationHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/channels/ChannelsScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/channels/ObserveChannelsCreationPermissionUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/SyncFeatureConfigsUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/event/FeatureConfigMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/channels/ObserveChannelsCreationPermissionUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/featureConfig/SyncFeatureConfigsUseCaseTest.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/architecture/LayerAccessRulesTest.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/FeatureConfigJson.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/FeatureConfigResponseJson.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/featureConfigs/FeatureConfigResponse.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#3347 fix: wrong parsing of group_conv_type (WPB-15882)
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/conversation/ConversationResponse.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/conversation/CreateConversationRequest.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/model/ApiModelMapper.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v8/authenticated/ConversationApiV8.kt
Labels: 👕 size: S, type: bug / fix 🐞

#3345 fix: count self as team member [WPB-16121 ]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/analytics/AnalyticsRepository.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/analytics/AnalyticsRepositoryTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Users.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/UserDAOImpl.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserDAOTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3351 chore: bump avs to 10.0.34 [WPB-16747]
  gradle/libs.versions.toml
Labels: type: chore 🧹, 👕 size: XS

#3328 chore: reduce frequently of slow sync trigger [WPB-16543]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManager.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/slow/SlowSyncManagerTest.kt
Labels: type: chore 🧹, 👕 size: XS
