Repository wireapp/kalium, pull requests merged in 2025-07, with the labels that each got.

#3493 feat(cells): retrieve tags from remote (WPB-18466)
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/model/CellNodeDTO.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/model/CellNode.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/model/Node.kt
Labels: 👕 size: S, type: feature ✨

#3501 refactor: get rid of mls dependencies in conversation repository [WPB-14735]
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationBatch.kt
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationProtocolUpdateStatus.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/FetchConversationIfUnknownUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/FetchConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/FetchConversationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/FetchMLSOneToOneConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/JoinExistingMLSConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/PersistConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/PersistConversationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/UpdateConversationProtocolUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/connection/AcceptConnectionRequestUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/connection/ConnectionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/RefreshConversationsWithoutMetadataUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/SyncConversationsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/mls/MLSOneOnOneConversationResolver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/debug/DebugScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/MessageSendFailureHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/message/StaleEpochVerifier.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/mlsmigration/MLSMigrator.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MLSWelcomeEventHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberChangeEventHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberJoinEventHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/NewConversationEventHandler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/conversation/ProtocolUpdateEventHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/connection/ConnectionRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/FetchConversationIfUnknownUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/FetchConversationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/PersistConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/PersistConversationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/UpdateConversationProtocolUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/prekey/MessageSendFailureHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/connection/AcceptConnectionRequestUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/JoinExistingMLSConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/RefreshConversationsWithoutMetadataUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/SyncConversationsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/mls/MLSOneOnOneConversationResolverTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/message/StaleEpochVerifierTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/mlsmigration/MLSMigratorTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/framework/TestConversation.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/ProtocolUpdateEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MLSWelcomeEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberChangeEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/MemberJoinEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/NewConversationEventHandlerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/ConversationRepositoryArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/usecase/FetchConversationIfUnknownUseCaseArrangement.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/usecase/FetchConversationUseCaseArrangement.kt
  util/src/commonMain/kotlin/com.wire.kalium.util/ConversationPersistenceApi.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: XXL

#3496 fix: run CC transactions on the default dispatcher [WPB-17823]
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/CoreCryptoTransactionExt.kt
Labels: 👕 size: S, type: bug / fix 🐞

#3502 feat(cells): Add usecase to filter by tags (WPB-18467)
  cells/src/androidMain/kotlin/com/wire/kalium/cells/domain/usecase/GetPaginatedFilesFlowUseCase.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/CellsScope.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/CellsApiImpl.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/CellsDataSource.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/CellsApi.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/CellsRepository.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/paging/FilePagingSource.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/GetAllTagsUseCase.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/GetCellFilesPagedUseCase.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/GetPaginatedNodesUseCase.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/NodeUploadManagerTest.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/usecase/GetAllTagsUseCaseTest.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/usecase/GetPaginatedNodesUseCaseTest.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/usecase/MoveNodeUseCaseTest.kt
Labels: type: feature ✨, 👕 size: L

#3504 fix: read receipt race condition (#WPB-8756)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/message/MessageRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/ReceiptMessageHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/conversation/message/ReceiptMessageHandlerTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Messages.sq
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/message/MessageDAOImpl.kt
Labels: 🚨 Potential breaking changes, 👕 size: S, type: bug / fix 🐞

#3506 fix(sync): consider Live when local events are exhausted [WPB-18531]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventGatherer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventStreamData.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/LiveSourceChangeHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventGathererTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/LiveSourceChangeHandlerTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: bug / fix 🐞

#3507 fix(sync): consider Live after connecting websocket [WPB-18531]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/EventGatherer.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncWorker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/EventGathererTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncWorkerTest.kt
Labels: type: bug / fix 🐞, 👕 size: M

#3503 feat(cells): Create use case to add and remove tags (WPB-18469) (WPB-18468)
  cells/src/commonMain/kotlin/com/wire/kalium/cells/CellsScope.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/CellsApiImpl.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/data/CellsDataSource.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/CellsApi.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/CellsRepository.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/RemoveNodeTagsUseCase.kt
  cells/src/commonMain/kotlin/com/wire/kalium/cells/domain/usecase/UpdateNodeTagsUseCase.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/NodeUploadManagerTest.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/usecase/RemoveNodeTagsUseCaseTest.kt
  cells/src/commonTest/kotlin/com/wire/kalium/cells/domain/usecase/UpdateNodeTagsUseCaseTest.kt
Labels: type: feature ✨, 👕 size: L

#3520 chore: upgrade gradle wrapper to 8.11.1 [WPB-8645]
  README.md
  backup/build.gradle.kts
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/OnlyAffectedTestTask.kt
  buildSrc/src/main/kotlin/ProjectExtensions.kt
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/CommonAndroidConfig.kt
  buildSrc/src/main/kotlin/com/wire/kalium/plugins/Multiplatform.kt
  cryptography/build.gradle.kts
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  protobuf-codegen/build.gradle.kts
  tango-tests/build.gradle.kts
  testservice/build.gradle.kts
Labels: type: chore 🧹, 👕 size: S

#3521 fix: invalid asset handling for backup (#WPB-18821)
  backup/src/commonMain/kotlin/com/wire/backup/dump/MPBackupExportValidation.kt
Labels: 👕 size: S, type: bug / fix 🐞

#3522 fix: make SelfDeletionTimer serializable [WPB-18248]
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/message/SelfDeletionTimer.kt
Labels: 👕 size: S, type: bug / fix 🐞

#3525 feat: mark API v9 as supported and enable FF for async notifications (WPB-17969)
  network-model/src/commonMain/kotlin/com/wire/kalium/network/utils/NetworkFeatureFlags.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/BackendMetaDataUtil.kt
Labels: type: feature ✨, 👕 size: XS

#3527 refactor: clean-up and unify 24h workers and foreground actions [WPB-17161]
  cli/src/commonMain/kotlin/com/wire/kalium/cli/CLIApplication.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/sync/WorkSchedulerImpl.kt
  logic/src/androidMain/kotlin/com/wire/kalium/logic/sync/WrapperWorker.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
  logic/src/appleMain/kotlin/com/wire/kalium/logic/sync/WorkSchedulerImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/GlobalKaliumScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/MLSClientManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/keyingmaterials/KeyingMaterialsManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/ACMECertificatesSyncUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/SyncCertificateRevocationListUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/ObserveCertificateRevocationForSelfClientUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/featureConfig/FeatureFlagsSyncWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/mls/MLSPublicKeysSyncWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/mlsmigration/MLSMigrationManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/proteus/ProteusSyncWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/user/UserScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/ForegroundActionsUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/PendingMessagesSenderWorker.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/WorkSchedulerImpl.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManager.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/periodic/UserConfigSyncScheduler.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/periodic/UserConfigSyncWorker.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/client/MLSClientManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/keyingmaterials/KeyingMaterialsManagerTests.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/ACMECertificatesSyncUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/SyncCertificateRevocationListUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/featureConfig/FeatureFlagSyncWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/mls/MLSPublicKeysSyncWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/mlsmigration/MLSMigrationManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/proteus/ProteusSyncWorkerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/ForegroundActionsUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/incremental/IncrementalSyncManagerTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/periodic/UserConfigSyncWorkerTest.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/CoreLogic.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/feature/UserSessionScopeProviderImpl.kt
  logic/src/jvmMain/kotlin/com/wire/kalium/logic/sync/WorkSchedulerImpl.kt
  monkeys/src/main/kotlin/com/wire/kalium/monkeys/homeDirectory.kt
Labels: 🚨 Potential breaking changes, type: refactoring 🛠, 👕 size: XXL

#3531 fix: consider current API in usage for upgrade of ack capabilities (WPB-18915)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/client/UpdateSelfClientCapabilityToConsumableNotificationsUseCase.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XS

#3517 feat: reset MLS conversation use case (#WPB-17704)
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigModel.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/configuration/UserConfigRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ResetMLSConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/Event.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/event/EventMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigMapper.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/FeatureConfigEventReceiver.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/sync/receiver/handler/AllowedGlobalOperationsHandler.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ResetMLSConversationUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/event/FeatureConfigMapperTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/featureConfig/FeatureConfigRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/sync/receiver/FeatureConfigEventReceiverTest.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/FeatureConfigJson.kt
  mocks/src/commonMain/kotlin/com/wire/kalium/mocks/responses/FeatureConfigResponseJson.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/conversation/ResetMLSConversationRequestV9.kt
  network-model/src/commonMain/kotlin/com/wire/kalium/network/api/authenticated/featureConfigs/FeatureConfigResponse.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/base/authenticated/conversation/ConversationApi.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v0/authenticated/ConversationApiV0.kt
  network/src/commonMain/kotlin/com/wire/kalium/network/api/v9/authenticated/ConversationApiV9.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/unread/UserConfigDAO.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: feature ✨

#3539 feat: core crypto 8.0 [WPB-18140] [WPB-18938]
  cryptography/src/appleMain/kotlin/com/wire/kalium/cryptography/E2EIClientImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/CoreCryptoCentral.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/E2EIClientImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/MLSClientImpl.kt
  cryptography/src/commonJvmAndroid/kotlin/com.wire.kalium.cryptography/utils/CryptoMappers.kt
  cryptography/src/commonMain/kotlin/com/wire/kalium/cryptography/E2EIClient.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/E2EIClientTest.kt
  cryptography/src/commonTest/kotlin/com/wire/kalium/cryptography/MLSClientTest.kt
  cryptography/src/jsMain/kotlin/com/wire/kalium/cryptography/E2EIClientImpl.kt
  gradle/libs.versions.toml
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/e2ei/usecase/EnrollE2EIUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/e2ei/E2EIRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/e2ei/EnrollE2EICertificateUseCaseTest.kt
Labels: 🚨 Potential breaking changes, type: feature ✨, 👕 size: M

#3537 chore(conversation-history): store history clients [WPB-18492]
  conversation-history/build.gradle.kts
  conversation-history/src/commonMain/kotlin/com/wire/kalium/conversation/history/HistoryClient.kt
  conversation-history/src/commonMain/kotlin/com/wire/kalium/conversation/history/data/HistoryClientDAO.kt
  conversation-history/src/commonMain/kotlin/com/wire/kalium/conversation/history/data/SQLiteHistoryClientDAO.kt
  conversation-history/src/commonTest/kotlin/com/wire/kalium/conversation/history/data/SQLiteHistoryClientDAOTest.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/HistoryClient.sq
  persistence/src/commonMain/db_user/migrations/110.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/TableMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/db/UserDatabaseBuilder.kt
Labels: 👕 size: XL, type: chore 🧹

#3542 fix: race condition when updating call metadata [WPB-18303]
  data/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallMetadataProfile.kt
  detekt/detekt.yml
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/CallManagerImpl.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCall.kt
  logic/src/commonJvmAndroid/kotlin/com/wire/kalium/logic/feature/call/scenario/OnParticipantListChanged.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/call/CallRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/call/usecase/CreateAndPersistRecentlyEndedCallMetadataUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/call/CallRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/call/usecase/CreateAndPersistRecentlyEndedCallMetadataUseCaseTest.kt
  logic/src/jvmTest/kotlin/com/wire/kalium/logic/feature/call/scenario/OnCloseCallTest.kt
Labels: 🚨 Potential breaking changes, type: bug / fix 🐞, 👕 size: XXL

#3532 fix: clearing content actions order and deleted_locally state for conversation [WPB-18778]
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepository.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ClearConversationContentUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/ConversationScope.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/delete/DeleteConversationLocallyUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/delete/DeleteConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/conversation/delete/MarkConversationAsDeletedLocallyUseCase.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/data/conversation/ConversationRepositoryTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/ClearConversationContentUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/delete/DeleteConversationLocallyUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/feature/conversation/delete/MarkConversationAsDeletedLocallyUseCaseTest.kt
  logic/src/commonTest/kotlin/com/wire/kalium/logic/util/arrangement/repository/ConversationRepositoryArrangement.kt
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/ConversationDetails.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/ConversationDetailsWithEvents.sq
  persistence/src/commonMain/db_user/com/wire/kalium/persistence/Conversations.sq
  persistence/src/commonMain/db_user/migrations/111.sqm
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAO.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDAOImpl.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationDetailsWithEventsMapper.kt
  persistence/src/commonMain/kotlin/com/wire/kalium/persistence/dao/conversation/ConversationMapper.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/ConversationDAOTest.kt
  persistence/src/commonTest/kotlin/com/wire/kalium/persistence/dao/UserConversationDAOIntegrationTest.kt
Labels: 🚨 Potential breaking changes, 👕 size: XL, type: bug / fix 🐞

#3549 chore: allow calling fetch conversation from debug screen UI (WPB-19107)
  logic/src/commonMain/kotlin/com/wire/kalium/logic/data/conversation/FetchConversationUseCase.kt
  logic/src/commonMain/kotlin/com/wire/kalium/logic/feature/UserSessionScope.kt
Labels: 🚨 Potential breaking changes, type: chore 🧹, 👕 size: S
